<div class="card shadow border-0" style="height: 300px;">
  <div class="rounded-top" style="background: center / cover no-repeat url('/static/images/placeholders/apt1.jpg');height: 200px"></div>
  <div class="px-3 py-2 "> 
    <div class="d-flex justify-content-between">
      <h6 class="fw-bold">Jesen u vasem domu</h6>
      <div class="text-info">Gradska kuca</div>
    </div>
    <div class="my-1">Najlaksi nacin da dodjete do doma iz snova uz promo...</div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-center align-items-center">
        <div class="rounded-circle me-2" style="background: center / cover no-repeat url('/static/images/placeholders/apt1.jpg');height: 32px; width: 32px;"></div>
        Admin
      </div>
      <div>30. Oktobar. 2022</div>
    </div>
  </div> 
</div>