{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="section-conten padding-y" style="min-height:84vh">
    <div class="mx-auto" style="max-width: 380px; margin-top:100px;">

        <h2 class="mb-4 fw-bold text-center" style="font-size: 24px;">Izmenite lozinku</h2>
        <form action="{% url 'reset_password' %}" method="post">
          {% csrf_token %}
          <div class="row mb-3">
            <div class="col-12" >
              <label for="floatingpassword" class="form-label mb-1" style="font-weight: 600">Lozinka <span class="color-salmon">*</span></label>
              <input type="password" class="form-control height-40px"  id="floatingpassword" name="password" aria-describedby="passwordHelp" required>
            </div>
            <div class="col-12 mt-3">
              <label for="floatingconfirmpassword" class="form-label mb-1" style="font-weight: 600">Potvrdi lozinku <span class="color-salmon">*</span></label>
              <input type="password" class="form-control height-40px"  id="floatingconfirmpassword" name="confirm_password" aria-describedby="passwordHelp" required>
            </div>
            <div class="col-12 mt-5">
              <button class="btn btn-lg btn-primary text-white" style="width: 100%; height: 48px;font-weight: 700;font-size: 16px;" type="submit" >Izmeni</button>
            </div>
          </div>
        </form>
    </div> <!-- card .// -->


  </section>
{% endblock %}
