

<div>
    <div style="background: center / contain no-repeat url('/static/images/listing_detail/gigant.svg');height: 160px;"></div>
    <div class="mt-3">
        <h6>Agencija za nekretnine: Gigant doo Beograd</h6>
        <h6>Telefon 1: 063 / XXX-XXX</h6>
        <h6>Telefon 2: 064 / XXX-XX-xx</h6>
        <h6>Oglas objavljen: 12.11.2022</h6>
    </div>
    <div>
        <input type="text" class="form-control form-control-sm my-3 text-center " placeholder="Ime i Prezime">
        <input type="text" class="form-control form-control-sm  my-3 text-center" placeholder="Broj Telefona">
        <input type="email" class="form-control form-control-sm  my-3 text-center" placeholder="Email">
        <button type="email" class="form-control form-control-sm  my-3 text-center btn-sm border border-info">Posalji upit</button>
    </div>
</div>