{% load static %}

<div class="d-flex justify-content-end"> 
  <!--TO DO: COMPARE LISTING <img class="me-2" {% if request.path != '/oglasi/' %} hidden {% endif %} src="{% static 'images/shared/actionitem-compare.svg' %}" alt="Compare item" width="21px"> -->
  <input hidden id="token" value="{{ csrf_token }}" >
  {% if user.id in listing.likes %}
      <img id="isLiked{{listing.id}}" src="{% static 'images/items/HearthFilled.svg' %}" alt="Liked" width="25px" height="25px" onclick="addRemoveFavorites('{{listing.id}}')">
      {% else %}
      <img id="isLiked{{listing.id}}" src="{% static 'images/icons/hearth.svg' %}" alt="Like" width="25px" height="25px" onclick="addRemoveFavorites('{{listing.id}}')">
    {% endif %}
</div>
<script>
  function addRemoveFavorites(id) {
    let url = 'http://localhost:8000'
    var csrftoken =  document.getElementById('token').value;
    var headers = new Headers();
    headers.append("Content-Type", "application/json");
    headers.append("X-CSRFToken", csrftoken);
    fetch(`${url}/oglasi/oglas-omiljeni/`, {
        method: "POST",
        headers: headers,
        body: JSON.stringify({
          id,
        })
    })
    .then(response => response.json())
    .then(data => {
      if (data) {
        document.getElementById('isLiked' + id).src = `{% static 'images/items/HearthFilled.svg' %}`
      }
      else {
        document.getElementById('isLiked' + id).src = `{% static 'images/icons/hearth.svg' %}`
      }
    })
  }
</script>