{% load static%}
<div class="d-flex justify-content-between " style="min-height:39px">
  <div class=" d-flex align-items-center  {% if request.path == '/oglasi/omiljeni-oglasi/' or request.GET.prikaz == 'lista' %} flex-column {% endif %}">
    <img class="
    {% if '/oglasi/omiljeni-oglasi/' in request.path %} icon24px
    {% elif '/' in request.path or 'oglasi/pregled/' in request.path %} me-1 icon18px
    {% else %} icon18px
    {% endif %}" 
    src="{% static 'images/items/' %}{{listing.category.name|cut:' '}}.svg" alt=" ">
    <small class="listing-icons-text {% if request.path == '/oglasi/omiljeni-oglasi/' or request.GET.prikaz == 'lista' %} agency-inputs text-center mt-1 {% elif 'oglasi/pregled/' in request.path %} icon-text {% else %} ms-1 {% endif %}">
      {% if listing.category.name == 'Poslovni prostor' %}
      Pos. Prostor
      {% elif listing.category.name == 'Komercijalni prostor' %}
      Kom. Prostor
      {% elif listing.category.name == 'Građevinska parcela' %}
      Građ. Zem.
      {% elif listing.category.name == 'Poljoprivredna parcela' %}
      Poljo. Zem.
      {% elif listing.category.name == 'Proizvodni prostor' %}
      Pro. Prostor
      {% elif listing.category.name == 'Ugostiteljski prostor' %}
      Ugo. Prostor
      {% elif listing.category.name == 'Stambene nekretnine' %}
      Ostalo
      {% elif listing.category.name == 'Poslovni prostor - Lokal' %}
      Lokal
      {% elif listing.category.name == 'Poslovni prostor - Kancelarija' %}
      Kancelarija
      {% else %}
      {{listing.category.name}}
      {% endif %}
    </small>
  </div>
  <div class=" text-nowrap d-flex align-items-center justify-content-center {% if request.path == '/oglasi/omiljeni-oglasi/' or request.GET.prikaz == 'lista' %} flex-column {% endif %}">
    <img class="
    {% if '/oglasi/omiljeni-oglasi/' in request.path %} icon24px
    {% elif '/' in request.path or 'oglasi/pregled/' in request.path %} me-1 icon18px
    {% else %} icon18px
    {% endif %}"  
    src="{% static 'images/shared/item-area.svg' %}" alt="area item">
    <small class="listing-icons-text {% if request.path == '/oglasi/omiljeni-oglasi/' or request.GET.prikaz == 'lista' %} agency-inputs text-center mt-1 {% elif 'oglasi/pregled/' in request.path %} icon-text {% else %} ms-1 {% endif %}">{{ listing.listingcharacteristics_set.first.size|floatformat:0 }}m2</small>
  </div>
  {% if listing.category.name|cut:' ' == 'Poljoprivrednaparcela' or listing.category.name|cut:' ' == 'Građevinskaparcela'%}
  <div class=" text-nowrap d-flex align-items-center justify-content-center {% if request.path == '/oglasi/omiljeni-oglasi/' or request.GET.prikaz == 'lista' %} flex-column {% endif %}">
    <img class="
    {% if '/oglasi/omiljeni-oglasi/' in request.path %} icon24px
    {% elif '/' in request.path or 'oglasi/pregled/' in request.path %} me-1 icon18px
    {% else %} icon18px
    {% endif %}"  
    src="{% static 'images/items/Struja.svg' %}" style="filter: brightness(0.7) invert(1)"  alt="Struja">
    <small class="listing-icons-text {% if request.path == '/oglasi/omiljeni-oglasi/' or request.GET.prikaz == 'lista' %} agency-inputs mt-1 text-center {% elif 'oglasi/pregled/' in request.path %} icon-text {% elif 'oglasi/pregled/' in request.path %} icon-text {% else %} ms-1 {% endif %} {% if 'Struja' in listing.details %} {% else %} text-decoration-line-through {% endif %}">Struja</small>
  </div>
  <div class="text-nowrap d-flex align-items-center justify-content-center {% if request.path == '/oglasi/omiljeni-oglasi/' or request.GET.prikaz == 'lista' %} flex-column {% endif %}">
    <img class="
    {% if '/oglasi/omiljeni-oglasi/' in request.path %} icon24px
    {% elif '/' in request.path or 'oglasi/pregled/' in request.path %} me-1 icon18px
    {% else %} icon18px
    {% endif %}"  
    src="{% static 'images/items/Voda.svg' %}" style="filter: brightness(0.7) invert(1)" alt="Voda ">
    <small class="listing-icons-text {% if request.path == '/oglasi/omiljeni-oglasi/' or request.GET.prikaz == 'lista' %} agency-inputs mt-1 text-center {% elif 'oglasi/pregled/' in request.path %} icon-text {% else %} ms-1 {% endif %} {% if 'Voda' in listing.details %} {% else %} text-decoration-line-through {% endif %}">Voda</small>
  </div>
  {% else %}
  <div class="text-nowrap d-flex align-items-center justify-content-center {% if request.path == '/oglasi/omiljeni-oglasi/' or request.GET.prikaz == 'lista' %} flex-column {% endif %}">
    <img class="
    {% if '/oglasi/omiljeni-oglasi/' in request.path %} icon24px
    {% elif '/' in request.path or 'oglasi/pregled/' in request.path %} me-1 icon18px
    {% else %} icon18px
    {% endif %}"  
    src="{% static 'images/shared/item-floormap.svg' %}" alt="Floor">
    <small class="listing-icons-text {% if request.path == '/oglasi/omiljeni-oglasi/' or request.GET.prikaz == 'lista' %} agency-inputs mt-1 text-center {% elif 'oglasi/pregled/' in request.path %} icon-text {% else %} ms-1 {% endif %}">{{ listing.listingcharacteristics_set.first.structure }}</small>
  </div>
  <div class="text-nowrap d-flex align-items-center justify-content-center {% if request.path == '/oglasi/omiljeni-oglasi/' or request.GET.prikaz == 'lista' %} flex-column {% endif %}">
    <img class="
    {% if '/oglasi/omiljeni-oglasi/' in request.path %} icon24px
    {% elif '/' in request.path or 'oglasi/pregled/' in request.path %} me-1 icon18px
    {% else %} icon18px
    {% endif %}"   
    src="{% static 'images/items/Parking.svg' %}" alt="Parking">
    <small class="listing-icons-text  {% if request.path == '/oglasi/omiljeni-oglasi/' or request.GET.prikaz == 'lista' %} agency-inputs mt-1 text-center {% elif 'oglasi/pregled/' in request.path %} icon-text {% elif 'oglasi/pregled/' in request.path %} icon-text {% else %} ms-1 {% endif %} 
    {% if listing.listingcharacteristics_set.first.parking %}
      {% elif 'Garaža' in listing.details %}
      {% elif 'Parking van zone' in listing.details %}
      {% elif 'Parking u zoni' in listing.details %}
    {% else %} text-decoration-line-through {% endif %}">Parking</small>
  </div>
  {% endif %}
</div>