{% load static%}
<div class="row d-flex flex-row justify-content-between " style="height:39px">
  <div class="col-3  d-flex align-items-center justify-content-center {% if request.path == '/oglasi/omiljeni-oglasi/' %} flex-column {% endif %}">
    <img style="height: 18px;width: 18px" src="{% static 'images/items/' %}{{listing.category.name|cut:' '}}.svg" alt=" ">
    <small class="text-center {% if request.path == '/oglasi/omiljeni-oglasi/' %} mt-1 {% else %} ms-1 {% endif %}">
      {% if listing.category.name == 'Poslovni prostor' %}
      Pos. Prostor
      {% elif listing.category.name == 'Komercijalni prostor' %}
      Kom. Prostor
      {% elif listing.category.name == 'Građevinska parcela' %}
      Građ. Zem.
      {% elif listing.category.name == 'Poljoprivredna parcela' %}
      Poljo. Zem.
      {% elif listing.category.name == 'Proizvodni prostor' %}
      Pro. Prostor
      {% elif listing.category.name == 'Ugostiteljski prostor' %}
      Ugo. Prostor
      {% elif listing.category.name == 'Stambene nekretnine' %}
      Ostalo
      {% elif listing.category.name == 'Poslovni prostor - Lokal' %}
      Lokal
      {% elif listing.category.name == 'Poslovni prostor - Kancelarija' %}
      Kancelarija
      {% else %}
      {{listing.category.name}}
      {% endif %}
    </small>
  </div>
  <div class="col-3 text-nowrap d-flex align-items-center justify-content-center {% if request.path == '/oglasi/omiljeni-oglasi/' %} flex-column {% endif %}">
    <img style="height: 18px;width: 18px" src="{% static 'images/shared/item-area.svg' %}" alt="area item">
    <small class="ms-1 {% if request.path == '/oglasi/omiljeni-oglasi/' %} mt-1 {% else %} ms-1 {% endif %}">{{ listing.listingcharacteristics_set.first.size|floatformat:0 }}m2</small>
  </div>
  {% if listing.category.name|cut:' ' == 'Poljoprivrednaparcela' or listing.category.name|cut:' ' == 'Građevinskaparcela'%}
  <div class="col-3 text-nowrap d-flex align-items-center justify-content-center {% if request.path == '/oglasi/omiljeni-oglasi/' %} flex-column {% endif %}">
    <img style="height: 18px;width: 18px;filter: brightness(0.7) invert(1)" src="{% static 'images/items/Struja.svg' %}" alt="Struja">
    <small class="ms-1 {% if request.path == '/oglasi/omiljeni-oglasi/' %} mt-1 {% else %} ms-1 {% endif %} {% if 'Struja' in listing.details %} {% else %} text-decoration-line-through {% endif %}">Struja</small>
  </div>
  <div class="col-3 text-nowrap d-flex align-items-center justify-content-center {% if request.path == '/oglasi/omiljeni-oglasi/' %} flex-column {% endif %}">
    <img style="height: 18px;width: 18px;filter: brightness(0.7) invert(1)" src="{% static 'images/items/Voda.svg' %}" alt="Voda ">
    <small class="ms-1 {% if request.path == '/oglasi/omiljeni-oglasi/' %} mt-1 {% else %} ms-1 {% endif %} {% if 'Voda' in listing.details %} {% else %} text-decoration-line-through {% endif %}">Voda</small>
  </div>
  {% else %}
  <div class="col-3 text-nowrap d-flex align-items-center justify-content-center {% if request.path == '/oglasi/omiljeni-oglasi/' %} flex-column {% endif %}">
    <img style="height: 18px;width: 18px" src="{% static 'images/shared/item-floormap.svg' %}" alt="Floor">
    <small class="ms-1 {% if request.path == '/oglasi/omiljeni-oglasi/' %} mt-1 {% else %} ms-1 {% endif %}">{{ listing.listingcharacteristics_set.first.structure }}</small>
  </div>
  <div class="col-3 text-nowrap d-flex align-items-center justify-content-center {% if request.path == '/oglasi/omiljeni-oglasi/' %} flex-column {% endif %}">
    <img style="height: 18px;width: 18px" src="{% static 'images/items/Parking.svg' %}" alt="Parking">
    <small class="ms-1 {% if request.path == '/oglasi/omiljeni-oglasi/' %} mt-1 {% else %} ms-1 {% endif %} 
    {% if listing.listingcharacteristics_set.first.parking %}
      {% elif 'Garaža' in listing.details %}
      {% elif 'Parking van zone' in listing.details %}
      {% elif 'Parking u zoni' in listing.details %}
    {% else %} text-decoration-line-through {% endif %}">Parking</small>
  </div>
  {% endif %}
</div>