container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python oglasi-app/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python oglasi-app/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python oglasi-app/manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "oglasi_app.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "oglasi_app.wsgi:application"
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/"
    MatcherHTTPCode: "200-499"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    /media: media
