container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python oglasi-app/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python oglasi-app/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python oglasi-app/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "oglasi_app.settings"
    "PYTHONPATH": "/opt/python/current/app/oglasi_app:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: oglasi_app.wsgi:application
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
