/* primary button color */
/* #00A6BD */


.nav-hover:hover {
  color: #00A6BD!important;
}

/*homepage*/
.background-shadow {
  background-color: rgb(29, 41, 62, 0.6);
}

 .home-content {
  padding-top: 125px
}

.home-text {
  color: #ffffff;
  margin-top: 0;
}
.home-text h1 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 0.02em;
}
.home-text p {
  font-size: 18px;
  font-weight: bold;
}
.btn-search {
  border-radius: 0px 5px 5px 0px;
  background: #00A6BD;
  color: white;
}

.home-search button {
  height: 60px;
}

.search-form-row input,
.search-form-row select,
.search-form-row button,
.search-form-row a {
  color: #484848;
  height: 60px;
  line-height: 1;
  background: white;
}

.search-form-row,
.detail-form {
  max-width: 857px;
}

.detail-form {
  background: white;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.detail-form.show {
  visibility: visible;
  opacity: 1;
}


/* Featured properties */
.featured-properties .sale-label,
.featured-properties .rent-label,
.featured-properties .favorite-label {
  position: absolute;
}
.featured-properties .sale-label,
.featured-properties .rent-label {
  width: 66px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: white;
  border-radius: 5px;
  text-align: center;
  top: 8px;
  left: 16px;
}
.featured-properties .sale-label {
  background: #E57374;
}
.featured-properties .rent-label {
  background: #617E8C;
}
.featured-properties .favorite-label {
  top: 8px;
  right: 16px;
}
.featured-properties .favorite-label .bi {
  color: #FCC00B;
}

.featured-item {
  max-height: 380px;
}
.featured-item .card-text {
  font-size:14px;
  font-weight: bold;
}
.featured-item {
  font-size: 12px;
  line-height: 20px;
}
.featured-item h5 {
  font-size: 18px;
  line-height: 20px;
  margin:0;
}
.featured-item .item-amenity {
  text-align: center;
}
.featured-item .item-amenity small {
  display: block;
  font-size: 12px;
}
.featured-item .card-text {
  width: 80%;
}
.featured-item .meta-controls {
  width: 20%;
  position: relative;
}
.featured-item .meta-controls .action-compare {
  position: absolute;
  top: 0;
  right: 30px;
  width: 17px;
  cursor: pointer;
}
.featured-item .meta-controls .action-like {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.featured-item .meta-controls .bi {
  font-size: 18px;
  color: #EC6664;
}


/* property city */
.property-city .property-item {
  height: 320px;
  position: relative;
}
.property-city .property-item .thumb {
  position: relative;
  height: 100%;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
}
.background-beograd {
  background-image: url("/staticfiles/images/homepage/bg_bg.jpg");
}
.background-kg {
  background-image: url("/staticfiles/images/homepage/kg_bg.jpg");
}
.background-nis {
  background-image: url("/staticfiles/images/homepage/nis_bg.jpg");
}
.background-ns {
  background-image: url("/staticfiles/images/homepage/ns_bg.jpg");
}
.background-subotica {
  background-image: url("/staticfiles/images/homepage/su_bg.jpg");
}
.property-city .property-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.property-city .property-item .details {
  text-align: center;
  flex: 0 0 320px;
  color: white;
  z-index: 10;
  font-weight: 700;
  font-size: 40px;
}
.property-city a {
  color: white;
  text-decoration: none;
}

.popular-location {

}
.popular-location [class*="-cover"] {
  position: relative;
  height: 96px;
  border-radius: 5px;
  background-size: cover;
  background-position: top;
}
.popular-location [class*="-cover"] h4 {
  line-height: 96px;
  margin-left: 31px;
}
.popular-location .ablock-cover {
  background-image: url("/staticfiles/images/homepage/nbg_cover.jpg")
}
.popular-location .kosancicev-cover {
  background-image: url("/staticfiles/images/homepage/kosancicev_cover.jpg")
}
.popular-location .waterfront-cover {
  background-image: url("/staticfiles/images/homepage/waterfront_cover.jpg")
}
.popular-location .residencies-cover {
  background-image: url("/staticfiles/images/homepage/residencies_cover.jpg")
}
.popular-location .dorcol-cover {
  background-image: url("/staticfiles/images/homepage/dorcol_cover.jpg")
}
.popular-location .kalemegdan-cover {
  background-image: url("/staticfiles/images/homepage/kalemegdan_cover.jpg")
}
.popular-location .usce-cover {
  background-image: url("/staticfiles/images/homepage/usce_cover.jpg")
}
.popular-location .hram-cover {
  background-image: url("/staticfiles/images/homepage/hram_cover.jpg")
}

/* Agencies break */
.break-bg {
  height: 480px;
  width: 100%;
  background: url("/staticfiles/images/homepage/hram_bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clip-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
         line-clamp: 2;
  -webkit-box-orient: vertical;
}



.blog-news {
  font-size: 14px;
}
.blog-user {
  margin-bottom: 0;
}

hovers:hover {
  cursor: pointer!important ;
}