/* primary button color */
/* #00A6BD */

.header {
  display: none;
}
.header-homepage {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-bottom: none !important;
}

/*homepage*/
.home-search {
  background-image: url("../images/homepage/homepage_bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 770px;
  /*margin-top: -76px;*/
  padding: 0;
  position: relative;
}
.home-search:before {
  content: "";
  background-color: rgb(29, 41, 62);
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

.home-search .home-content {
  position: relative;
  padding: 280px 0 0;
}

.home-search .home-text {
  color: #ffffff;
  margin-top: 0;
}
.home-search .home-text h2 {
  font-size: 55px;
}
.home-search .home-text p {
  font-size: 18px;
  font-weight: bold;
}

.home-search .btn-search {
  border-radius: 0px 5px 5px 0px;
  background: #00A6BD;
  color: white;
}

.home-search button {
  height: 60px;
}

.search-form-row input,
.search-form-row select,
.search-form-row button,
.search-form-row a {
  color: #484848;
  height: 60px;
  line-height: 1;
  background: white;
}

.search-form-row,
.detail-form {
  width: 900px;
}

.detail-form {
  background: white;
  border-radius: 5px;
  padding: 15px 30px;
}


/* Featured properties */
.featured-properties {
  background-color: #f7f7f7;
}

.featured-properties .sale-label,
.featured-properties .rent-label,
.featured-properties .favorite-label {
  position: absolute;
}
.featured-properties .sale-label,
.featured-properties .rent-label {
  width: 66px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: white;
  border-radius: 5px;
  text-align: center;
  top: 8px;
  left: 16px;
}
.featured-properties .sale-label {
  background: #E57374;
}
.featured-properties .rent-label {
  background: #617E8C;
}
.featured-properties .favorite-label {
  top: 8px;
  right: 16px;
}
.featured-properties .favorite-label .bi {
  color: #FCC00B;
}

.featured-item {
  max-height: 380px;
}
.featured-item .card-text {
  font-size:14px;
  font-weight: bold;
}
.featured-item .item-location {
  font-size: 12px;
  line-height: 20px;
}
.featured-item h5 {
  font-size: 18px;
  line-height: 20px;
  margin:0;
}
.featured-item .item-amenity {
  text-align: center;
}
.featured-item .item-amenity small {
  display: block;
  font-size: 12px;
}
