/* Create listing */
.create-listing {

}

.creation-steps .col {
  height: 44px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid rgba(31, 56, 54, 0.1);
}
.creation-steps .col:hover {
  cursor: pointer;
}
.creation-steps .col.active {
  color: white;
  background: #617E8C;
}
.creation-content {
  display: none;
}
.creation-content.show {
  display: flex;
}
.step-heading h3,
.step-heading p,
.step-heading h5,
.step-heading small {
  margin-bottom: 0;
  line-height: 1;
}
.step-heading h5 {
  font-weight: 700;
}

.next-step button {
  width: 145px;
  height: 45px;
  line-height: 1;
}

.location-input {
  margin-bottom: 24px;
}
.margin-start-12 {
  margin-left: 12px;
}


/* View listing */
.view-listing {}
.view-listing .listing-gallery {
  height: 600px;
}
.view-listing .listing-gallery .carousel {
  height: 660px;
}


.filter-icon {
  width: 32px;
  height: 32px;
  border: 0.2px solid #484848;
  border-radius: 20px;
}

.card-img-top {
  height: 200px;
}

.half-map-listing-section, .full-map-listing-section {
  height: calc(100% - 73px);
}

.full-screen-row{
  height: calc(100% - 53px);
}

/* override google map info window css */
.gm-style .gm-style-iw-c {
  padding: 0 !important;
}
.gm-style-iw-d {
  overflow: auto !important;
}

.gm-style-iw button {
  filter: brightness(0) invert(1) !important;
}
