/* Create listing */
.create-listing {

}
.profile-sidebar {
  background: #617E8C;
  border-radius: 5px;
  color: white;
  padding: 12px;
}
.profile-sidebar .profile-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  margin-bottom: 12px;
}
.profile-sidebar .profile-name {
  font-size: 18px;
  line-height: 25px;
  border-bottom: 1px solid white;
  padding-bottom: 8px;
}
.profile-sidebar ul > li {
  margin-bottom: 12px;
}
.profile-sidebar a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 22px;
}
.profile-sidebar a:hover {
  color: #eeeeee;
}
.profile-sidebar .bi {
  font-size: 18px;
  margin-right: 8px;
}
.profile-sidebar .loyalty-text {
  font-size: 16px;
  line-height: 22px;
}

.creation-steps .col {
  height: 44px;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid rgba(31, 56, 54, 0.1);
}
.creation-steps .col:last-child {
  margin-right: 0;
}
.creation-steps .col.active {
  color: white;
  background: #617E8C;
}
.creation-content {
  display: none;
}
.creation-content.show {
  display: flex;
}
.creation-step {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid rgba(31, 56, 54, 0.1);
}
.step-heading h3,
.step-heading p,
.step-heading h5,
.step-heading small {
  margin-bottom: 0;
  line-height: 1;
}
.step-heading h5 {
  font-weight: 700;
}
