@import url(https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body {
  color: #484848;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  /*line-height: 1.642;*/
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.2;
}

input, select, textarea {
  font-size: 14px !important;
}


/*forms*/
/*.form-control {*/
/*  background-color: #ffffff;*/
/*  border: 1px solid #ebebeb;*/
/*  border-radius: 8px;*/
/*  font-size: 14px;*/
/*  color: #484848;*/
/*  line-height: 1.2;*/
/*  height: 50px;*/
/*}*/

/*.form-select {*/
/*  font-size: 14px;*/
/*  padding: 13px;*/
/*  background-color: #ffffff;*/
/*  border: 1px solid #ebebeb;*/
/*  color: #484848;*/
/*}*/

.link-secondary {
  color: #00A6BD !important;
  background: #FFFFFF !important;
  opacity: 0.7;
  backdrop-filter: blur(142px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 5px;
}

.btn-white {
  color: #00A6BD;
  background: #FFFFFF;
}
.btn-white:hover {
  opacity: 0.85;
  color: #00A6BD;
  background: #FFFFFF;
}

.btn-transparent {
  color: #fff;
  background: none;
}
.btn-transparent:hover {
  color: #fff;
  opacity: 0.85;
}

.btn-blue {
  background: #00A6BD;
  color: white;
}
.btn-blue:hover {
  background: #00A6BD;
  color: white;
  opacity: 0.85;
}

.btn-circle {
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  border: none;
}


/*header*/
.header {
  box-shadow: none;
  border-bottom: none;
  color: #484848;
}

.header .logo-text {
  /*color: #ffffff;*/
  font-weight: bold;
  font-size: 22px;
  padding-left: 15px;
  text-transform: capitalize;
  vertical-align: middle;
  color: #484848;
}
.header a {
  font-size: 16px;
  color: #484848;
}

.header .create-listing-btn {
  width: 145px;
  height: 36px;
  color: #fff;
  background-color: #617E8C;
  box-shadow: 0 4px 18px rgba(31, 56, 54, 0.22);
  border-radius: 5px;
  float:right;
}

.header .nav {
  display: flex;
  justify-content: center;
}


.footer {
  background: #455A64;
  color: white;
  font-size: 14px;
}
.footer .border-top {
  border-top: 1px solid #6D828C !important;
}
.footer .social-buttons a {
  color: #00A6BD;
  font-size: 28px;
}
.footer .newsletter {
  border-radius: 19px;
}
@media only screen and (min-width: 768px) and (min-height: 1046px) {
  .footer.sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
