{% extends 'base.html' %}
{% load static %}

{% block page_specific_styles %}
  <link rel="stylesheet" href="{% static 'css/listings.css' %}">
{% endblock %}

{% block content %}
<div class=" d-flex align-items-center ">
  <div class="w-100" style="background: center / cover no-repeat url('{% static 'images/agenciespage/agency.jpg'%}');height:132px">
    <div class="w-100 h-100 listing-item-overlayed">
      <div class="og-container-180 row h-100 align-items-center text-white w-100">
        <h1 class="col-4 fw-bolder p-0">Moj Dom Informacije</h1>
        <h5 class="col fw-bold mt-1"></h5>
      </div>
    </div>
  </div>
</div>
<div class="bg-grayish">
  <div class="og-container-180">
    <div class="row m-0 text-white fs-6 pe-2" style="height: 64px">
      <ul class="col-8 justify-content-between align-items-center pe-4 nav nav-pills fw-bold fs-6" id="pills-tab" role="tablist">
          <div class="infoTabs {% if request.GET.selected == 'karijera' or 'selected' not in request.GET %} color-blue  active {% endif %}" id="pills-karijera-tab" data-bs-toggle="pill" data-bs-target="#pills-karijera" role="tab" aria-controls="pills-karijera" aria-selected="true" onclick="handleInfo(this)">Karijera</div>
          <div class="infoTabs {% if request.GET.selected == 'kontakt' %} color-blue active {% endif %}" id="pills-kontakt-tab" data-bs-toggle="pill" data-bs-target="#pills-kontakt" role="tab" aria-controls="pills-kontakt" aria-selected="false" onclick="handleInfo(this)">Kontakt</div>
          <div class="infoTabs {% if request.GET.selected == 'onama' %} color-blue active {% endif %}" id="pills-onama-tab" data-bs-toggle="pill" data-bs-target="#pills-onama"  role="tab" aria-controls="pills-onama" aria-selected="false" onclick="handleInfo(this)">O Nama</div>
          <div class="infoTabs {% if request.GET.selected == 'pitanja' %} color-blue active {% endif %}" id="pills-pitanja iodgovori-tab" data-bs-toggle="pill" data-bs-target="#pills-pitanjaiodgovori" role="tab" aria-controls="pills-pitanjaiodgovori" aria-selected="false" onclick="handleInfo(this)">Pitanja i odgovori</div>
      </ul>
    </div>
  </div>
</div>

<div class="og-container-180">
  <div class="tab-content mt-4" id="pills-tabContent">
    <div class="tab-pane fade {% if request.GET.selected == 'karijera' or 'selected' not in request.GET %} show active {% endif %}" id="pills-karijera" role="tabpanel" aria-labelledby="pills-karijera-tab">
      <div class="row">
        <div class="col-8 mb-4 ps-0" style="padding-right: 28px!important;">
          <div class="shadow rounded h-100 px-5 py-4">
            Blank
          </div>
        </div>
        <div class="col-4">
          {% for listing in listings1 %}
            {% include 'includes/listings/listing_overlay_card.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="tab-pane fade {% if request.GET.selected == 'kontakt' %} show active {% endif %}" id="pills-kontakt" role="tabpanel" aria-labelledby="pills-kontakt-tab">
      <div class="row">
        <div class="col-8 mb-4 ps-0" style="padding-right: 28px!important;">
          <div class="shadow rounded h-100 fs-6 h-100 px-5 py-4">
            <div class="border-bottom border-2 d-flex flex-column justify-content-between pb-4 " style="height: 265px;">
              <h5 class="profile-card-tab">Poslovne prostorije:</h5>
              <div><b>Adresa:</b> Marsala Birjuzova 12, 11.000 Beograd, Srbija</div>
              <div><b class="me-1">Matični broj:</b>xxxxxxxxx</div>
              <div><b class="me-1">PIB:</b>xxxx</div>
              <div><b class="me-1">Radno vreme:</b>ponedeljak - petak, od 09 do 17 časova</div>
              <b>Kontakt za oglašavanje</b>
              <div class="d-flex justify-content-between">
                <div><b>Telefon 1:</b> 069/XXX-XXX</div>
                <div><b>Telefon 2:</b> 069/XXX-XXX</div>
                <div><b>Telefon 3:</b> 069/XXX-XXX</div>
              </div>
            </div>
            <div class="border-bottom border-2 d-flex flex-column justify-content-between pb-4 mt-4" style="height: 265px;">
              <h5 class="profile-card-tab">Poslovne prostorije:</h5>
              <div><b>Adresa:</b> Marsala Birjuzova 12, 11.000 Beograd, Srbija</div>
              <div><b class="me-1">Matični broj:</b>xxxxxxxxx</div>
              <div><b class="me-1">PIB:</b>xxxx</div>
              <div><b class="me-1">Radno vreme:</b>ponedeljak - petak, od 09 do 17 časova</div>
              <b>Kontakt za oglašavanje</b>
              <div class="d-flex justify-content-between">
                <div><b>Telefon 1:</b> 069/XXX-XXX</div>
                <div><b>Telefon 2:</b> 069/XXX-XXX</div>
                <div><b>Telefon 3:</b> 069/XXX-XXX</div>
              </div>
            </div>
            <div class="mt-4 pb-4 border-bottom">
              Odgovore na neke, najčešće postavljena pitanja, možete pronaći na stranici - pitanja i odgovori.
              Za sve dodatne informacije i pitanja , kao i primedbe i sugestije, možete popuniti formular ispod,
              a mi ćemo se potruditi da vam odgovorimo u što kraćem roku.
            </div>
            <div class="mt-4">
              <form class="row">
                <div class="col-6 form-group">
                  <label class="mb-1 fw-bold" for="formGroupExampleInput">Ime i prezime</label>
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                </div>
                <div class="col-6 form-group">
                  <label class="mb-1 fw-bold" for="formGroupExampleInput2">Email</label>
                  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
                </div>
                <div class="col-12 form-group mt-4">
                  <label class="mb-1 fw-bold" for="exampleFormControlTextarea1">Komentar ili pitanje</label>
                  <textarea class="form-control" style="resize: none;" id="exampleFormControlTextarea1" rows="6"></textarea>
                </div>
                <div class="col mt-4 d-flex justify-content-center">
                  <button type="button" class="btn btn-lg btn-primary w-50 text-white" disabled>Pošalji</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-4">
          {% for listing in listings2 %}
            {% include 'includes/listings/listing_overlay_card.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="tab-pane fade {% if request.GET.selected == 'onama' %} show active {% endif %}" id="pills-onama" role="tabpanel" aria-labelledby="pills-onama-tab">
      <div class="row">
        <div class="col-8 mb-4 ps-0" style="padding-right: 28px!important;">
          <div class="shadow rounded fs-6 h-100 px-5 py-4" style="text-align: justify;">
            <p class="">
              <b>Moj Dom</b> je portal za nekretnine, koji se bavi internet oglašavanjem nekretnina, čija
              misija ima za cilj da korisnicima omogući što lakši, bolji i pregledniji način uvida u oglase nekretnina na tržištu,
              kako domaćim, tako i stranim korisnicima.
            </p>   
            <p>
              Potrudili smo se da ponudimo našim korisnicima širi i kvalitetniji pristup oglasima kroz više vrsta pretraga i načina
              pregleda, kako na mobilnim i tablet uređajima klasičnim pregledom u vidu liste, tako i preko mape, dok za naše korisnike 
              desktop i laptop uređaja imam 4 vrste pretrage koje čine: <b>lista, mreža, pulu-mapa i mapa.</b>
            </p> 
            <div class="row my-4 text-center">
              <div class="col-4">
                <img src="{% static 'images/icons/list.svg' %}" alt="Hearth" width="56px" height="56px">
              </div>
              <div class="col-4">
                <img src="{% static 'images/icons/grid.svg' %}" alt="Hearth" width="56px" height="56px">
              </div>
              <div class="col-4">
                <img src="{% static 'images/icons/location_aboutus.svg' %}" alt="Hearth" width="56px" height="56px">
              </div>
            </div>
            <p>
              Našim koristnicima omogućavamo više načina pregledanja oglasa, od klasičnog straničnog kroz listu i mrežu, tako i polu mapu i mapu
              sa brzim pregledom oglasa obeleženih na mapi, redi lakšeg snalaženja i upoznavanja korisnika sa nepoznatim i manje poznatim lokacijama.
              Naravno, sve multimedijalne prezentacije su prisutne, slike video, virtualne ture, 3D i panorama slike, kao i tlocrt samih površina nekretnina.
            </p>
            <p>
              Težimo tome da postavimo nove standarde i novi kvalitet sistema oglašavanja nekretnina na našem tržištu, samin tim lakši i bolji
              uvid korisnika u same oglase, tako i jednostavniji način uređivanja i promovisanja oglasa kako za agenciju i investitore tako
              i za privatne oglašivače.
            </p>
            <p>
              Portal <b>Moj Dom</b> sadrži segmente i drugih tržišta nekretnina kao što su novogradnje i projekti u najavi, sa kojima će 
              korisnici moći bolje da se upoznaju, kao i da ih investitori predstave dodatno i detaljnije. Takođe sve aktuelnosti vezano 
              za Zakone koji obuhvataju nekretnine, kao i blog sa zanimljivim novitetima iz sveta dizajna, arhitekture i drugih oblasti.
              Rezervisali smo i mesta u blogu za arhitekte, projekante i dizajnere, kojima će takođe biti omogućeno da prezentuju svoje
              radove i usluge u narednim fazama.
            </p>
            <p>
              Naglašavamo da će biti i dodatnih delova portala razvijenih kasnije u drugoj i trećoj fazi uz redovna ažuriranja i unapređivanja postojećih sistema i načina poslovanja.
            </p>
            <p>
              S obzirom da smo novi tim na tržištu nekretnina kao portal, spremili smo za naše korisnike <b>"Program lojalnosti"</b>.
              Program koji kao što sam naziv kaže, lojalnost za naše korisnike koji startuju sa nama na ovom profesionalnom putovanju, imaće
              povoljnije uslove i veće mogućnosti  u upravljanju i promovisanju svojih oglasa.<br>
              U prvim mesecima će korisnici koji se registruju na portal i naprave svoj profil, moći će da ostvare popuste
              na sve usluge i proizvode portala <b>Moj Dom</b>
            </p>
          </div>
        </div>
        <div class="col-4">
          {% for listing in listings3 %}
            {% include 'includes/listings/listing_overlay_card.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="tab-pane fade {% if request.GET.selected == 'pitanja' %} show active {% endif %}" id="pills-Pitanjaiodgovori" role="tabpanel" aria-labelledby="pills-Pitanjaiodgovori-tab">
      <div class="row">
        <div class="col-8 mb-4 ps-0" style="padding-right: 28px!important;">
          <div class="shadow rounded fs-6 h-100 px-5 py-4" style="text-align: justify;">
            <h6 class="ms-2 fs-6 fw-bold mb-0">1. Kako da se registrujem?</h6>
            <p class="shadow rounded mt-3 mb-4" style="min-height: 136px;padding: 16px 12px 32px 12px;">Trudimo se da ponudimo našim korisnicima širi i kvalitetniji pristup oglasima kroz više vrsta pretraga i načina pregleda,
              kako na mobilnim i tablet uređajima klasičnim pregledom u vidu liste, tako i preko mape. Za naše korisnike desktop i laptop uređaja 
              imamo 4 vrste pretrage koje čine: lista, mreža, polu mapa i mapa.
            </p>
            <h6 class="ms-2 fs-6 fw-bold mb-0">2. Kako da napravim nalog?</h6>
            <p class="shadow rounded mt-3 mb-4" style="min-height: 136px;padding: 16px 12px 32px 12px;">Trudimo se da ponudimo našim korisnicima širi i kvalitetniji pristup oglasima kroz više vrsta pretraga i načina pregleda,
              kako na mobilnim i tablet uređajima klasičnim pregledom u vidu liste, tako i preko mape. Za naše korisnike desktop i laptop uređaja 
              imamo 4 vrste pretrage koje čine: lista, mreža, polu mapa i mapa.Za naše korisnike desktop i laprop uređaja imamo 4 vrste pretrage 
              koje čine: lista, mreža, polu mapa i mapa.
            </p>
            <h6 class="ms-2 fs-6 fw-bold mb-0">3. Zašto ne mogu da uđem u svoj nalog ?</h6>
            <p class="shadow rounded mt-3 mb-4" style="min-height: 136px;padding: 16px 12px 32px 12px;">Trudimo se da ponudimo našim korisnicima širi i kvalitetniji pristup oglasima kroz više vrsta pretraga i načina pregleda,
              kako na mobilnim i tablet uređajima.
            </p>
            <h6 class="ms-2 fs-6 fw-bold mb-0">4. Kako da okačim oglas?</h6>
            <p class="shadow rounded mt-3 mb-4" style="min-height: 136px;padding: 16px 12px 32px 12px;">Trudimo se da ponudimo našim korisnicima širi i kvalitetniji pristup oglasima kroz više vrsta pretraga i načina pregleda,
              kako na mobilnim i tablet uređajima klasičnim pregledom u vidu liste, tako i preko mape. Za naše korisnike desktop i laptop uređaja 
              imamo 4 vrste pretrage koje čine: lista, mreža, polu mapa i mapa.
            </p>
            <h6 class="ms-2 fs-6 fw-bold mb-0">5. Kako da upload-ujem slike?</h6>
            <p class="shadow rounded mt-3" style="min-height: 136px;padding: 16px 12px 32px 12px;">Trudimo se da ponudimo našim korisnicima širi i kvalitetniji pristup oglasima kroz više vrsta pretraga i načina pregleda,
              kako na mobilnim i tablet uređajima klasičnim pregledom u vidu liste, tako i preko mape. Za naše korisnike desktop i laptop uređaja 
              imamo 4 vrste pretrage koje čine: lista, mreža, polu mapa i mapa.
            </p>
          </div>
        </div>
        <div class="col-4">
          {% for listing in listings4 %}
            {% include 'includes/listings/listing_overlay_card.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-grayish d-flex justify-content-center align-items-center mt-4" style="height: 84px;">
</div>
<script>

function handleInfo(tab) {
  const tabs = document.querySelectorAll('.infoTabs');
  tabs.forEach((btn) => btn.classList.remove('color-blue'));

  tab.classList.add('color-blue');
}   

</script>
{% endblock %}