{% load static %}
<section class="featured-properties p-3">
  <div class="container-fluid">
    <h2 class="text-center mb-4">Preporučeni oglasi</h2>
    <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner pb-5">
        <div class="carousel-item active">
          <div class="row mb-3">
            <div class="col">
              <div class="card shadow-sm featured-item">
                <span class="sale-label">Prodaja</span>
                <span class="favorite-label"><i class="bi bi-star-fill"></i></span>
                <img class="bd-placeholder-img card-img-top" src="{% static 'images/property/lsslider1.jpg' %}"
                     height="200" alt="">

                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text">Novogradnja, NBG West 65, kompletno sredjen</p>
                    <div class="meta-controls d-flex justify-content-between align-items-center">
                        <span>
                          <img src="{% static 'images/shared/actionitem-compare.svg' %}" alt="Compare item">
                        </span>
                      <span>
                          <i class="bi bi-heart"></i>
                        </span>
                    </div>
                  </div>

                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <small class="item-location">Beograd, Novi Beograd</small>
                    <h5>150.000.000 eur</h5>
                  </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-house.svg' %}" alt="House item">
                      <small>Kuća</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-area.svg' %}" alt="area item">
                      <small>80m2</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-floormap.svg' %}" alt="Floor map item">
                      <small>3.0</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-parkingspace.svg' %}" alt="Parking space item">
                      <small>Garaža</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm featured-item">
                <span class="rent-label">Izdavanje</span>
                <span class="favorite-label"><i class="bi bi-star-fill"></i></span>
                <img class="bd-placeholder-img card-img-top" src="{% static 'images/property/lsslider1.jpg' %}"
                     height="200" alt="">

                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text">Novogradnja, NBG West 65, kompletno sredjen</p>
                    <div class="meta-controls d-flex justify-content-between align-items-center">
                        <span>
                          <img src="{% static 'images/shared/actionitem-compare.svg' %}" alt="Compare item">
                        </span>
                      <span>
                          <i class="bi bi-heart"></i>
                        </span>
                    </div>
                  </div>

                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <small class="item-location">Beograd, Novi Beograd</small>
                    <h5>150.000.000 eur</h5>
                  </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-house.svg' %}" alt="House item">
                      <small>Kuća</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-area.svg' %}" alt="area item">
                      <small>80m2</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-floormap.svg' %}" alt="Floor map item">
                      <small>3.0</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-parkingspace.svg' %}" alt="Parking space item">
                      <small>Garaža</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm featured-item">
                <span class="sale-label">Prodaja</span>
                <span class="favorite-label"><i class="bi bi-star-fill"></i></span>
                <img class="bd-placeholder-img card-img-top" src="{% static 'images/property/lsslider1.jpg' %}"
                     height="200" alt="">

                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text">Novogradnja, NBG West 65, kompletno sredjen</p>
                    <div class="meta-controls d-flex justify-content-between align-items-center">
                        <span>
                          <img src="{% static 'images/shared/actionitem-compare.svg' %}" alt="Compare item">
                        </span>
                      <span>
                          <i class="bi bi-heart"></i>
                        </span>
                    </div>
                  </div>

                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <small class="item-location">Beograd, Novi Beograd</small>
                    <h5>150.000.000 eur</h5>
                  </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-house.svg' %}" alt="House item">
                      <small>Kuća</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-area.svg' %}" alt="area item">
                      <small>80m2</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-floormap.svg' %}" alt="Floor map item">
                      <small>3.0</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-parkingspace.svg' %}" alt="Parking space item">
                      <small>Garaža</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm featured-item">
                <span class="rent-label">Izdavanje</span>
                <span class="favorite-label"><i class="bi bi-star-fill"></i></span>
                <img class="bd-placeholder-img card-img-top" src="{% static 'images/property/lsslider1.jpg' %}"
                     height="200" alt="">

                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text">Novogradnja, NBG West 65, kompletno sredjen</p>
                    <div class="meta-controls d-flex justify-content-between align-items-center">
                        <span>
                          <img src="{% static 'images/shared/actionitem-compare.svg' %}" alt="Compare item">
                        </span>
                      <span>
                          <i class="bi bi-heart"></i>
                        </span>
                    </div>
                  </div>

                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <small class="item-location">Beograd, Novi Beograd</small>
                    <h5>150.000.000 eur</h5>
                  </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-house.svg' %}" alt="House item">
                      <small>Kuća</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-area.svg' %}" alt="area item">
                      <small>80m2</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-floormap.svg' %}" alt="Floor map item">
                      <small>3.0</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-parkingspace.svg' %}" alt="Parking space item">
                      <small>Garaža</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card shadow-sm featured-item">
                <span class="sale-label">Prodaja</span>
                <span class="favorite-label"><i class="bi bi-star-fill"></i></span>
                <img class="bd-placeholder-img card-img-top" src="{% static 'images/property/lsslider1.jpg' %}"
                     height="200" alt="">

                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text">Novogradnja, NBG West 65, kompletno sredjen</p>
                    <div class="meta-controls d-flex justify-content-between align-items-center">
                        <span>
                          <img src="{% static 'images/shared/actionitem-compare.svg' %}" alt="Compare item">
                        </span>
                      <span>
                          <i class="bi bi-heart"></i>
                        </span>
                    </div>
                  </div>

                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <small class="item-location">Beograd, Novi Beograd</small>
                    <h5>150.000.000 eur</h5>
                  </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-house.svg' %}" alt="House item">
                      <small>Kuća</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-area.svg' %}" alt="area item">
                      <small>80m2</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-floormap.svg' %}" alt="Floor map item">
                      <small>3.0</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-parkingspace.svg' %}" alt="Parking space item">
                      <small>Garaža</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm featured-item">
                <span class="sale-label">Prodaja</span>
                <span class="favorite-label"><i class="bi bi-star-fill"></i></span>
                <img class="bd-placeholder-img card-img-top" src="{% static 'images/property/lsslider1.jpg' %}"
                     height="200" alt="">

                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text">Novogradnja, NBG West 65, kompletno sredjen</p>
                    <div class="meta-controls d-flex justify-content-between align-items-center">
                        <span>
                          <img src="{% static 'images/shared/actionitem-compare.svg' %}" alt="Compare item">
                        </span>
                      <span>
                          <i class="bi bi-heart"></i>
                        </span>
                    </div>
                  </div>

                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <small class="item-location">Beograd, Novi Beograd</small>
                    <h5>150.000.000 eur</h5>
                  </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-house.svg' %}" alt="House item">
                      <small>Kuća</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-area.svg' %}" alt="area item">
                      <small>80m2</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-floormap.svg' %}" alt="Floor map item">
                      <small>3.0</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-parkingspace.svg' %}" alt="Parking space item">
                      <small>Garaža</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm featured-item">
                <span class="rent-label">Izdavanje</span>
                <span class="favorite-label"><i class="bi bi-star-fill"></i></span>
                <img class="bd-placeholder-img card-img-top" src="{% static 'images/property/lsslider1.jpg' %}"
                     height="200" alt="">

                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text">Novogradnja, NBG West 65, kompletno sredjen</p>
                    <div class="meta-controls d-flex justify-content-between align-items-center">
                        <span>
                          <img src="{% static 'images/shared/actionitem-compare.svg' %}" alt="Compare item">
                        </span>
                      <span>
                          <i class="bi bi-heart"></i>
                        </span>
                    </div>
                  </div>

                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <small class="item-location">Beograd, Novi Beograd</small>
                    <h5>150.000.000 eur</h5>
                  </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-house.svg' %}" alt="House item">
                      <small>Kuća</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-area.svg' %}" alt="area item">
                      <small>80m2</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-floormap.svg' %}" alt="Floor map item">
                      <small>3.0</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-parkingspace.svg' %}" alt="Parking space item">
                      <small>Garaža</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm featured-item">
                <span class="sale-label">Prodaja</span>
                <span class="favorite-label"><i class="bi bi-star-fill"></i></span>
                <img class="bd-placeholder-img card-img-top" src="{% static 'images/property/lsslider1.jpg' %}"
                     height="200" alt="">

                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text">Novogradnja, NBG West 65, kompletno sredjen</p>
                    <div class="meta-controls d-flex justify-content-between align-items-center">
                        <span>
                          <img src="{% static 'images/shared/actionitem-compare.svg' %}" alt="Compare item">
                        </span>
                      <span>
                          <i class="bi bi-heart"></i>
                        </span>
                    </div>
                  </div>

                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <small class="item-location">Beograd, Novi Beograd</small>
                    <h5>150.000.000 eur</h5>
                  </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-house.svg' %}" alt="House item">
                      <small>Kuća</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-area.svg' %}" alt="area item">
                      <small>80m2</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-floormap.svg' %}" alt="Floor map item">
                      <small>3.0</small>
                    </div>
                    <div class="item-amenity">
                      <img src="{% static 'images/shared/item-parkingspace.svg' %}" alt="Parking space item">
                      <small>Garaža</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/property/2.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/property/3.jpg' %}" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
</section>
