{% load static %}

<!-- Our Footer -->
{#	<section class="footer_one">#}
{#		<div class="container">#}
{#			<div class="row">#}
{#				<div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 pr0 pl0">#}
{#					<div class="footer_about_widget">#}
{#						<h4>About Site</h4>#}
{#						<p>We’re reimagining how you buy, sell and rent. It’s now easier to get into a place you love. So let’s do this, together.</p>#}
{#					</div>#}
{#				</div>#}
{#				<div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">#}
{#					<div class="footer_qlink_widget">#}
{#						<h4>Quick Links</h4>#}
{#						<ul class="list-unstyled">#}
{#							<li><a href="#">About Us</a></li>#}
{#							<li><a href="#">Terms & Conditions</a></li>#}
{#							<li><a href="#">User’s Guide</a></li>#}
{#							<li><a href="#">Support Center</a></li>#}
{#							<li><a href="#">Press Info</a></li>#}
{#						</ul>#}
{#					</div>#}
{#				</div>#}
{#				<div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">#}
{#					<div class="footer_contact_widget">#}
{#						<h4>Contact Us</h4>#}
{#						<ul class="list-unstyled">#}
{#							<li><a href="#">info@findhouse.com</a></li>#}
{#							<li><a href="#">Collins Street West, Victoria</a></li>#}
{#							<li><a href="#">8007, Australia.</a></li>#}
{#							<li><a href="#">+1 246-345-0699</a></li>#}
{#							<li><a href="#">+1 246-345-0695</a></li>#}
{#						</ul>#}
{#					</div>#}
{#				</div>#}
{#				<div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">#}
{#					<div class="footer_social_widget">#}
{#						<h4>Follow us</h4>#}
{#						<ul class="mb30">#}
{#							<li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#							<li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#							<li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#							<li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
{#							<li class="list-inline-item"><a href="#"><i class="fa fa-dribbble"></i></a></li>#}
{#							<li class="list-inline-item"><a href="#"><i class="fa fa-google"></i></a></li>#}
{#						</ul>#}
{#						<h4>Subscribe</h4>#}
{#						<form class="footer_mailchimp_form">#}
{#						 	<div class="form-row align-items-center">#}
{#							    <div class="col-auto">#}
{#							    	<input type="email" class="form-control mb-2" id="inlineFormInput" placeholder="Your email">#}
{#							    </div>#}
{#							    <div class="col-auto">#}
{#							    	<button type="submit" class="btn btn-primary mb-2"><i class="fa fa-angle-right"></i></button>#}
{#							    </div>#}
{#						  	</div>#}
{#						</form>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</section>#}

	<!-- Our Footer Bottom Area -->
	<section class="footer_middle_area pt20 pb20">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-xl-6">
					<div class="footer_menu_widget">
						<ul>
							<li class="list-inline-item"><a href="{% url 'home' %}">Почетна</a></li>
							<li class="list-inline-item"><a href="{% url 'listings' %}">Огласи</a></li>
							<li class="list-inline-item"><a href="#">О нама</a></li>
							<li class="list-inline-item"><a href="#">Blog</a></li>
							<li class="list-inline-item"><a href="#">Контакт</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 col-xl-6">
					<div class="copyright-widget text-right">
						<p>© 2022 Moj Дом.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
