{% load static %}
{#<section class="footer p-3 pt-5 {% if request.resolver_match.kwargs.footer == 'create_listing' %}sticky{% endif %}">#}
{% if request.path == '/oglasi/postavi/' or request.path == '/accounts/login/' or request.path == '/oglasi/' %}
<section class="footer p-3 pt-5 sticky">
  {% else %}
<section class="footer p-3 pt-5">
  {% endif %}
  <footer class="container-fluid">
    <div class="row">
      <div class="col-3 col-md-3 mb-3">
        <h5>O nama</h5>
        <p>Some thing about this site and services, I need more text to see how it s look like....Some thing about this site and services, I need more text to see how it s look </p>
      </div>

      <div class="col-3 col-md-2 mb-3 offset-md-2">
        <h5>Informacije</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">O nama</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Cenovnik</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Karijera</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Česta pitanja</a></li>
        </ul>
      </div>

      <div class="col-3 col-md-2 mb-3">
        <h5>Ostalo</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Vesti</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Aktuelno</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Novogradnja</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Projekti</a></li>
        </ul>
      </div>

      <div class="col-3 col-md-3 mb-3">
        <form>
          <h5>Newsletter</h5>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2 mb-3">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control newsletter" placeholder="Email address">
            <button class="btn-blue btn-circle"><i class="bi bi-chevron-right"></i></button>
          </div>
          <h5>Pratite nas</h5>
          <div class="d-flex justify-content-between social-buttons">
            <a class="" href="">
              <i class="bi bi-facebook"></i>
            </a>
            <a class="" href="">
              <i class="bi bi-twitter"></i>
            </a>
            <a class="" href="">
              <i class="bi bi-instagram"></i>
            </a>
            <a class="" href="">
              <i class="bi bi-linkedin"></i>
            </a>
            <a class="" href="">
              <i class="bi bi-facebook"></i>
            </a>
            <a class="" href="">
              <i class="bi bi-facebook"></i>
            </a>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-2 my-2 border-top">
      <p>© 2022 MojDom DOO. Sva prava zadržana.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </div>
  </footer>
</section>
