{% load static %}
<header class="p-3 border-bottom">
  <div class="container">
    <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start me-lg-auto">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <img src="{% static 'images/header-logo2.png' %}" alt="logo">
        <span class="logo-text">Мој Дом</span>
      </a>

      <ul class="nav col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <li><a href="#" class="nav-link px-2 link-secondary">Почетна</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Огласи</a></li>
        <li class="vr"></li>
        <li><a href="#" class="nav-link px-2 link-dark">Пријава</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Регистрација</a></li>
      </ul>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle"
           data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
               class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" style="">
          <li><a class="dropdown-item" href="#">Нови оглас</a></li>
          <li><a class="dropdown-item" href="#">Подешавања</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Одјава</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

