{% load static %}
<section class="featured-properties p-2 px-3">
  <div class="container-fluid">
    <div class="row pb-2" >
        <p class="col-4 m-auto">Rezultata: 1463</p>
        <div class="col-4 d-flex justify-content-center">
            <div class="filter-icon m-1 text-center pt-1 " >-</div>
            <div class="filter-icon m-1 text-center p-2" >1</div>
            <div class="filter-icon m-1 text-center pt-1">2</div>
            <div class="filter-icon m-1 text-center pt-1">3</div>
            <div class="filter-icon m-1 text-center pt-1">...</div>
            <div class="filter-icon m-1 text-center pt-1">-</div>
        </div>
        <div class="col-4 d-flex">
            <img src="{% static 'images/icons/sort.svg' %}" alt="Sort" width="17px">
            <select class="form-select border-0" aria-label="Default select example" >
                <option value="#">Po datumu - najnovije</option>
                <option value="#">placeholder</option>
                <option value="#">placeholder</option>
            </select>
        </div>
    </div>
        <div class="row mb-3" style="border: black solid 1px;">
          <div class="col-xxl-4 col-md-6 col-sm-12  pb-5">
            <div class="card shadow-sm featured-item">
               <span class="favorite-label position-absolute m-2"><i class="bi bi-star-fill"></i></span>
              <div class="card-image">
                <div class="bd-placeholder-img card-img-top" style="background: center / cover no-repeat url('/static/images/placeholders/apt2.jpg');"></div>
              </div>
              <div class="card-body">
                <div class="d-flex">
                  <p class="card-text col-10">Novogradnja, NBG West 65, kompletno sredjen</p> 
                  <div class="meta-controls col-2 d-flex justify-content-between">
                    <span class="action-compare">
                      <img src="{% static 'images/shared/actionitem-compare.svg' %}" alt="Compare item" width="17px">
                    </span>
                    <span class="action-like">
                      <img src="{% static 'images/icons/hearth.svg' %}" alt="Hearth" width="17px">
                    </span>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <small class="item-location">Beograd, Novi Beograd</small>
                  <h5>150.000.000 eur</h5>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-house.svg' %}" alt="House item">
                    <small>Kuća</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-area.svg' %}" alt="area item">
                    <small>80m2</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-floormap.svg' %}" alt="Floor map item">
                    <small>3.0</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-parkingspace.svg' %}" alt="Parking space item">
                    <small>Garaža</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6 col-sm-12  pb-5">
            <div class="card shadow-sm featured-item">
               <span class="favorite-label position-absolute m-2"><i class="bi bi-star-fill"></i></span>
              <div class="card-image">
                <div class="bd-placeholder-img card-img-top" style="background: center / cover no-repeat url('/static/images/placeholders/apt2.jpg');"></div>
              </div>
              <div class="card-body">
                <div class="d-flex">
                  <p class="card-text col-10">Novogradnja, NBG West 65, kompletno sredjen</p> 
                  <div class="meta-controls col-2 d-flex justify-content-between">
                    <span class="action-compare">
                      <img src="{% static 'images/shared/actionitem-compare.svg' %}" alt="Compare item" width="17px">
                    </span>
                    <span class="action-like">
                      <img src="{% static 'images/icons/hearth.svg' %}" alt="Hearth" width="17px">
                    </span>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <small class="item-location">Beograd, Novi Beograd</small>
                  <h5>150.000.000 eur</h5>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-house.svg' %}" alt="House item">
                    <small>Kuća</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-area.svg' %}" alt="area item">
                    <small>80m2</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-floormap.svg' %}" alt="Floor map item">
                    <small>3.0</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-parkingspace.svg' %}" alt="Parking space item">
                    <small>Garaža</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6 col-sm-12  pb-5">
            <div class="card shadow-sm featured-item">
               <span class="favorite-label position-absolute m-2"><i class="bi bi-star-fill"></i></span>
              <div class="card-image">
                <div class="bd-placeholder-img card-img-top" style="background: center / cover no-repeat url('/static/images/placeholders/apt2.jpg');"></div>
              </div>
              <div class="card-body">
                <div class="d-flex">
                  <p class="card-text col-10">Novogradnja, NBG West 65, kompletno sredjen</p> 
                  <div class="meta-controls col-2 d-flex justify-content-between">
                    <span class="action-compare">
                      <img src="{% static 'images/shared/actionitem-compare.svg' %}" alt="Compare item" width="17px">
                    </span>
                    <span class="action-like">
                      <img src="{% static 'images/icons/hearth.svg' %}" alt="Hearth" width="17px">
                    </span>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <small class="item-location">Beograd, Novi Beograd</small>
                  <h5>150.000.000 eur</h5>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-house.svg' %}" alt="House item">
                    <small>Kuća</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-area.svg' %}" alt="area item">
                    <small>80m2</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-floormap.svg' %}" alt="Floor map item">
                    <small>3.0</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-parkingspace.svg' %}" alt="Parking space item">
                    <small>Garaža</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6 col-sm-12  pb-5">
            <div class="card shadow-sm featured-item">
               <span class="favorite-label position-absolute m-2"><i class="bi bi-star-fill"></i></span>
              <div class="card-image">
                <div class="bd-placeholder-img card-img-top" style="background: center / cover no-repeat url('/static/images/placeholders/apt2.jpg');"></div>
              </div>
              <div class="card-body">
                <div class="d-flex">
                  <p class="card-text col-10">Novogradnja, NBG West 65, kompletno sredjen</p> 
                  <div class="meta-controls col-2 d-flex justify-content-between">
                    <span class="action-compare">
                      <img src="{% static 'images/shared/actionitem-compare.svg' %}" alt="Compare item" width="17px">
                    </span>
                    <span class="action-like">
                      <img src="{% static 'images/icons/hearth.svg' %}" alt="Hearth" width="17px">
                    </span>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <small class="item-location">Beograd, Novi Beograd</small>
                  <h5>150.000.000 eur</h5>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-house.svg' %}" alt="House item">
                    <small>Kuća</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-area.svg' %}" alt="area item">
                    <small>80m2</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-floormap.svg' %}" alt="Floor map item">
                    <small>3.0</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-parkingspace.svg' %}" alt="Parking space item">
                    <small>Garaža</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6 col-sm-12  pb-5">
            <div class="card shadow-sm featured-item">
               <span class="favorite-label position-absolute m-2"><i class="bi bi-star-fill"></i></span>
              <div class="card-image">
                <div class="bd-placeholder-img card-img-top" style="background: center / cover no-repeat url('/static/images/placeholders/apt2.jpg');"></div>
              </div>
              <div class="card-body">
                <div class="d-flex">
                  <p class="card-text col-10">Novogradnja, NBG West 65, kompletno sredjen</p> 
                  <div class="meta-controls col-2 d-flex justify-content-between">
                    <span class="action-compare">
                      <img src="{% static 'images/shared/actionitem-compare.svg' %}" alt="Compare item" width="17px">
                    </span>
                    <span class="action-like">
                      <img src="{% static 'images/icons/hearth.svg' %}" alt="Hearth" width="17px">
                    </span>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <small class="item-location">Beograd, Novi Beograd</small>
                  <h5>150.000.000 eur</h5>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-house.svg' %}" alt="House item">
                    <small>Kuća</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-area.svg' %}" alt="area item">
                    <small>80m2</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-floormap.svg' %}" alt="Floor map item">
                    <small>3.0</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-parkingspace.svg' %}" alt="Parking space item">
                    <small>Garaža</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6 col-sm-12  pb-5">
            <div class="card shadow-sm featured-item">
               <span class="favorite-label position-absolute m-2"><i class="bi bi-star-fill"></i></span>
              <div class="card-image">
                <div class="bd-placeholder-img card-img-top" style="background: center / cover no-repeat url('/static/images/placeholders/apt2.jpg');"></div>
              </div>
              <div class="card-body">
                <div class="d-flex">
                  <p class="card-text col-10">Novogradnja, NBG West 65, kompletno sredjen</p> 
                  <div class="meta-controls col-2 d-flex justify-content-between">
                    <span class="action-compare">
                      <img src="{% static 'images/shared/actionitem-compare.svg' %}" alt="Compare item" width="17px">
                    </span>
                    <span class="action-like">
                      <img src="{% static 'images/icons/hearth.svg' %}" alt="Hearth" width="17px">
                    </span>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <small class="item-location">Beograd, Novi Beograd</small>
                  <h5>150.000.000 eur</h5>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-house.svg' %}" alt="House item">
                    <small>Kuća</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-area.svg' %}" alt="area item">
                    <small>80m2</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-floormap.svg' %}" alt="Floor map item">
                    <small>3.0</small>
                  </div>
                  <div class="item-amenity">
                    <img src="{% static 'images/shared/item-parkingspace.svg' %}" alt="Parking space item">
                    <small>Garaža</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</section>
