{% load static %}
<div class="col-2 px-0">
  <div class="profile-sidebar">
        <div class="">
          <div class="d-flex justify-content-center">
            <img class="profile-avatar" src="{% static 'images/property/fp1.jpg' %}" alt="Avatar">
          </div>
          <p class="text-center profile-name">Petar Petrović</p>
        </div>
        <ul class="list-unstyled">
           <li>
            <i class="bi bi-person-circle"></i>
            <a href="/oglasi/profil">Profil</a>
          </li> 
<!--            <li class="d-flex">
            <img class="bi" src="{% static 'images/icons/promote_listing.svg' %}" alt="promote listing icon">
            <a href="/oglasi/promovisi-oglas">Promoviši oglas</a>
          </li>  -->
          <li class="d-flex">
            <img class="bi" src="{% static 'images/icons/my_listings.svg' %}" alt="my listings icon">
            <a href="/oglasi/moji-oglasi">Moji oglasi</a>
          </li>
<!--            <li>
            <i class="bi bi-envelope"></i>
            <a href="/oglasi/poruke">Moje poruke</a>
          </li>  -->
          <li>
            <i class="bi bi-heart"></i>
            <a href="/oglasi/omiljeni-oglasi">Moji favoriti</a>
          </li>
<!--            <li class="d-flex">
            <img class="bi" src="{% static 'images/icons/saved_searches.svg' %}" alt="saved searches icon">
            <a href="/oglasi/sacuvane-pretrage">Sačuvane pretrage</a>
          </li> 
           <li>
            <i class="bi bi-eye"></i>
            <a href="/oglasi/pregledi">Pregledi</a>
          </li>
          <li>
            <i class="bi bi-file-earmark-text"></i>
            <a href="/oglasi/pretplate">Pretplate</a>
          </li>
          <li>
            <i class="bi bi-gear"></i>
            <a href="/oglasi/podesavanja">Podešavanja</a>
          </li>
          <li>
            <i class="bi bi-cash-coin"></i>
            <a href="">Plaćanja</a>
          </li>  -->
          <li class="d-flex">
            <img class="bi" src="{% static 'images/icons/logout.svg' %}" alt="logout icon">
            <a href="{% url 'logout' %}" >Izloguj se</a>
          </li>
        </ul>

        <p class="text-center loyalty-text">Program lojalnosti 10%</p>
      </div>
</div>
