{% load static %}

<div class="w-100 shadow rounded">
  <div class="rounded-top" style="background: center / cover no-repeat url('{% static 'images/placeholders/apt1.jpg' %}');height: 250px"></div>
  <div class="h-100 px-3 pb-2 pt-3">
    <div class="d-flex justify-content-between">
      <h6 class="fw-bold">Jesen u vasem domu</h6>
      <div class="text-info">Gradska kuca</div>
    </div>
    <div>
      Najlaksi nacin da dodjete do doma uz promo...
    </div>
    <div class="d-flex justify-content-between align-items-center mt-2">
      <div class="d-flex align-items-center">
        <div class="rounded-circle me-2" style="background: center / cover no-repeat url('{% static 'images/placeholders/apt1.jpg' %}');height:32px;width:32px"></div>
        Admin
      </div>
      <div>
        30. Oktobar. 2022.
      </div>
    </div>
  </div>
</div>