{% extends 'base.html' %}
{% load static %}

{% block page_specific_styles %}
  <link rel="stylesheet" href="{% static 'css/listings.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex align-items-center">
  <div class="row position-absolute align-items-center text-white m-0 w-100" style="padding: 0px 168px;" >
    <h1 class="col-4 fw-bolder">Moj Dom Blog</h1>
    <h5 class="col fw-bold mt-1">Neki tekst poput / Budite u toku s najnovijim vestima iz nekretnina, nesto tako</h5>
  </div>
  <div class="w-100" style="background: center / cover no-repeat url('{% static 'images/agenciespage/agency.jpg'%}');height:132px">
    <div class="w-100 h-100 listing-item-overlayed"></div>
  </div>
</div>

<!-- Categories filter -->
<div class="bg-grayish d-flex align-items-center" style="height: 64px;">
  <div class="container">
    <div class="row align-items-center ">
      <div class="col h-100 d-flex justify-content-between text-white fw-bold">
        <span role="button"onclick="queryParam('category', '')">Sve</span>
        {% for category in categories %}
          <span role="button"onclick="queryParam('category', '{{category.id}}')">{{ category.name }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container pt-4 ">
  {% for article in articles %}
    {% include 'blog/blog_page_card.html' %}
  {% endfor %}
</div>
<div class="bg-grayish d-flex justify-content-center align-items-center mt-4" style="height: 84px;">
  {% include 'includes/listings/listings_pagination.html' with listings=articles %}
</div>
{% endblock %}