{% load static %}

<div class="col-4" style="padding: 16px;">
  <div class="shadow" style="border-radius: 5px!important;">
    <div class="w-100 rounded-top" style="background: center / cover no-repeat url('{% static 'images/agenciespage/agency.jpg' %}');height:380px"></div>
    <div class="row p-2" style="height: 190px;">
      <div class="col-12 px-0 my-listing-price mb-2">Harmonia Palace 5* Hotel & indoor Aqua Park</div>
      <div class="col-12 px-0 card-location-text pb-3">Kopaonik, Srbija</div>
      <div class="col-12 px-0 pb-2 border-bottom border-dark-50 d-flex justify-content-between">
        <div class="card-type-text text-color: #484848;">Novogradnja/Prodaja/Apartmani u hotelu</div> 
        <small class="card-type-text">22.10.2022.</small>
      </div>
      <div class="col-12 pt-2 px-0" style="height: 89px;">
        <div class="row h-100">
          <div class="col-4 px-0">
            <div class="rounded" style="width:137px;height: 75px;">
              <img src="{% static 'images/agenciespage/pro harmonia palace logo.png' %}"
            </div>
          </div>
          <div class="col-8 pe-0 d-flex flex-column justify-content-end align-items-between">
            <div class="h-100 d-flex align-items-end justify-content-end my-listing-price">21 - 64 m2</div>
            <div class="h-100 d-flex align-items-end justify-content-end card-red-price pb-1">od 2.100 do 2400 eur/m2</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>