{% extends 'base.html' %}
{% load static %}

{% block page_specific_styles %}
  <link rel="stylesheet" href="{% static 'css/listings.css' %}">
{% endblock %}

{% block content %}
<div class="margin-container" style="padding: 24px 40px 0px 40px!important;">
  <div class="row m-0  align-items-center fs-6" style="height: 64px">
    <div class="col-2  ps-0 profile-top-icons" style="width: 200px; margin-right: 64px;">Rezultata: 1436</div>
    <div class="col-2  px-0">
      <select class="form-select bg-secondary height-40px efficiency-bar-text" style="width: 200px;">
        <option selected>Zemlja/Grad</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div> 
    <div class="col-5  px-4">
      <div class="input-group" style="width: 464px;">
        <input type="text" class="form-control border-primary height-40px" placeholder="Naziv novogradnje ili projekta" aria-label="agency_name" aria-describedby="button-addon2">
        <button class="btn btn-primary text-white height-40px" type="button" id="button-addon2">
          Pretraži <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
    <div class="col-3  px-0">
      {% include 'agencies/agency_sorting.html' %}
    </div>
  </div>
</div>

<div class="margin-container pt-4" style="padding: 8px 24px!important;">
  <div class="row">
  {% include 'newbuilds/new_builds_card.html' %}
  {% include 'newbuilds/new_builds_card.html' %}
  {% include 'newbuilds/new_builds_card.html' %}
  {% include 'newbuilds/new_builds_card.html' %}
  {% include 'newbuilds/new_builds_card.html' %}
  {% include 'newbuilds/new_builds_card.html' %}
  {% include 'newbuilds/new_builds_card.html' %}
  {% include 'newbuilds/new_builds_card.html' %}
  {% include 'newbuilds/new_builds_card.html' %}
  </div>
</div>
<div class="bg-grayish d-flex justify-content-center align-items-center mt-4" style="height: 84px;">
  {% include 'includes/listings/listings_pagination.html' %}
</div>
{% endblock %}