{% extends 'base.html' %}
{% load static %}

{% block page_specific_styles %}
  <link rel="stylesheet" href="{% static 'css/listings.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex align-items-center">
  <div class="w-100" style="background: center / cover no-repeat url('{% static 'images/agenciespage/agency.jpg'%}');height:132px">
    <div class="w-100 h-100 listing-item-overlayed">
      <div class="og-container-180 row h-100 align-items-center text-white w-100">
        <h1 class="col-4 fw-bolder ps-0">Moj Dom Agencije</h1>
        <h5 class="col fw-bold mt-1">Neki tekst poput / Budite u toku s najnovijim vestima iz nekretnina, nesto tako</h5>
      </div>
    </div>
  </div>
</div>
<div class="bg-grayish">
  <div class="og-container-180">
    <div class="row m-0 text-white align-items-center fs-6" style="height: 64px">
      <div class="col-3 ps-0">Rezultata: 1436</div>
      <div class="col-6 px-5">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Naziv agencije" aria-label="agency_name" aria-describedby="button-addon2">
          <button class="btn btn-blue" type="button" id="button-addon2">
            Pretraži <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
      <div class="col-3">
        {% include 'agencies/agency_sorting.html' %}
      </div>
    </div>
  </div>
</div>

<div class="og-container-180 pt-4">
  {% include 'agencies/agency_page_card.html' %}
  {% include 'agencies/agency_page_card.html' %}
  {% include 'agencies/agency_page_card.html' %}
  {% include 'agencies/agency_page_card.html' %}
  <div class="col-4 pe-0">
    {% if promoted_listings.0 %}
      {% include 'includes/listings/listing_overlay_card.html' with listing=promoted_listings.0 %}
    {% endif %}
    {% if articles_different.0 %}
     <div class="mb-4">
        {% include 'blog/blog_card.html' with article=articles_different.0 smaller=1%}
      </div>
    {% endif %}
    {% if promoted_listings.1 %}
      {% include 'includes/listings/listing_overlay_card.html' with listing=promoted_listings.1 %}
    {% endif %}
    {% if articles_different.1 %}
      <div class="mb-4">
        {% include 'blog/blog_card.html' with article=articles_different.1 smaller=1%}
      </div>
    {% endif %}
    {% if promoted_listings.2 %}
      {% include 'includes/listings/listing_overlay_card.html' with listing=promoted_listings.2 %}
    {% endif %}
    {% if articles_different.2 %}
      <div class="mb-4">
        {% include 'blog/blog_card.html' with article=articles_different.2 smaller=1 %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}