{% load static %}
<div class="row">
  <div class="col-8 ps-0" style="height: 249px;padding-right: 28px;">
    <div class="row mx-0 h-100 shadow rounded">
      <div class="col-5 h-100 border-end border-2" style="padding: 40px 32px;">
        <div class="w-100 rounded h-100" style="background: center / contain no-repeat url('{% static 'images/agenciespage/primer_agencije.jpg'%}')"></div>
      </div>
      <div class="col-7 h-100  d-flex flex-column " style="padding: 24px 16px;">
        <h5 class="fw-bold mb-4 ">Art nekretnine</h5>
        <div class="d-flex fs-6 mb-4">
          <div class="fw-bold me-1">Lokacija:</div>
          <div>Beograd, Srbija</div>
        </div>
        <div class="d-flex fs-6 mb-4">
          <div class="fw-bold me-1">Ukupno oglasa:</div>
          <div>223</div>
        </div>
        {% if request.path == '/oglasi/agencije/' %}
        <div class="d-flex fs-6">
          <div class="fw-bold me-1">Broj u registru:</div>
          <div>334</div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-4">
    {% for promoted in promoted_listings|slice:":1" %}
      {% include 'includes/listings/listing_overlay_card.html' with listing=promoted %}
    {% endfor %}
  </div>
</div>