{% load static %}

{% block content %}

<div class="row mb-4 shadow rounded" {% if request.path == '/oglasi/o-agenciji/' %} style="height: 290px ;" {% else %} style="height: 269px ;"{% endif %}>
  <div class="col-6 p-0" >
    <div id="carouselExampleControls{{listing.id}}" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner rounded-start w-100">
        {% for listing in listing.images.all %}
        <div class="carousel-item  {% if forloop.counter == 1 %} active {% endif %}">
          <div style="background: center / cover no-repeat url('{% get_media_prefix %}{{ listing.file }}');{% if request.path == '/oglasi/o-agenciji/' %}height: 290px; {% else %} height: 269px{% endif %}">
            <img src="{% static 'images/icons/star.svg' %}" height="24px" width="24px" onclick="favoriteHandler()" class="m-2 position-absolute" alt="Star" style="z-index: 2;">
          </div>
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls{{listing.id}}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls{{listing.id}}" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
  </div>
  <div class="col-6 d-flex" style="padding: 12px 16px 8px 16px;">
    <div class="d-flex flex-column justify-content-between w-75 pe-5">
      <h6 class="my-listing-price mb-4">{{listing.title}}, {{listing.title|truncatechars:50}}</h6>
      <p class="city-location">{{listing.city}}, {{listing.municipality}}</p>
      <div class="fs-6 blog-description-date text-justify">
          {{listing.description|truncatechars:100}}
      </div>
      {% include 'includes/listing_helpers/listing_icon_helpers.html' %}
    </div>
    <div class="d-flex flex-column justify-content-between ms-2 w-25">
      <div>
        <div style="background: center / contain no-repeat url('/static/images/placeholders/zidart.jpg');height: 110px;"></div>
      </div>
      <div class="d-flex justify-content-end ms-3">
        {% include 'includes/listing_helpers/compare.html' %}
        {% include 'includes/listing_helpers/like.html' %}
      </div>
      <div class="text-nowrap fw-bold fs-6 d-flex justify-content-end" id="money{{listing.id}}" ></div>
      <a class="d-flex justify-content-end" style="text-decoration:none;margin-bottom: 8px;" href="{% url 'listing_profile' slug=listing.slug %}">
        <div class="my-favorute-card-button rounded d-flex justify-content-center align-items-center" style="height: 40px;width: 100px;">
          Detaljnije
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
<script>

  document.getElementById("money{{listing.id}}").innerHTML = new Intl.NumberFormat('de-DE', {minimumFractionDigits: 2}).format({{listing.price}}) + ' eur'   

</script>