{% load static %}
<div class="d-flex shadow rounded flex-row" >
  <div id="carouselExampleControls" class="carousel slide col-6" data-bs-ride="carousel">
    <div class="carousel-inner rounded-start w-100">
      <div class="carousel-item active">
        <div style="background: center / cover no-repeat url('/static/images/placeholders/apt1.jpg');height: 270px;"></div>
      </div>
      <div class="carousel-item">
        <div style="background: center / cover no-repeat url('/static/images/placeholders/apt1.jpg');height: 270px;"></div>
      </div>
      <div class="carousel-item">
        <div style="background: center / cover no-repeat url('/static/images/placeholders/apt1.jpg');height: 270px;"></div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
  <div class="d-flex justify-content-between flex-column px-3 py-2">
    <h6 class="fw-bold mb-4">Novogradnja, New Minel, Tosin Bunar</h6>
    <p class="text-black-50">Beograd, Novi Beograd, Blok 60</p>
    <div class="d-flex">
      <div class="text-small">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco...
      </div>
      <div class="d-flex flex-column ms-3">
        <div class="d-flex justify-content-end my-4"> 
            <img class="me-2" src="{% static 'images/shared/actionitem-compare.svg' %}" alt="Compare item" width="21px">
            <img src="{% static 'images/icons/hearth.svg' %}" alt="Compare item" width="25px">
        </div>
        <div class="text-nowrap fw-bold fs-6">10.300.000 eur</div>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img class="mb-1" src="{% static 'images/shared/item-apartment.svg' %}" alt="Compare item" width="24px">
          Stan
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img class="mb-1" src="{% static 'images/shared/item-area.svg' %}" alt="Compare item" width="24px">
          80m2
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img class="mb-1" src="{% static 'images/shared/item-floormap.svg' %}" alt="Compare item" width="24px">
          3.0
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img class="mb-1" src="{% static 'images/shared/item-parking.svg' %}" alt="Compare item" width="24px">
          Parking
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div class="border border-info text-info p-2 rounded fs-6">
          Detaljnije
        </div>
      </div>
    </div>
  </div>
</div>