{% extends 'base.html' %}
{% load static %}

{% block page_specific_styles %}
  <link rel="stylesheet" href="{% static 'css/listings.css' %}">
{% endblock %}

{% block content %}

<div class="og-container-fluid">
  <div class="row align-items-center" style="height:64px">
      <div class="col-2 ps-0 m-auto">Rezultata: {{ listings.paginator.count }}</div>
      <div class="col-2 pe-0 d-flex justify-content-end align-items-center">{% include 'includes/listings/listings_pagination.html' %}</div>
      <div class="col-3 px-5">{% include 'includes/listings/listings_sorting.html' %}</div>
      {% include 'includes/listings/change_page_view.html' %}
  </div>
</div>

<div class="w-100 border-bottom mb-3"></div>

<div class="og-container">
  <div class="row">
    <div class="col-4 px-0">
      {% include 'includes/listings/side_filter.html' %}
    </div>
    <div class="col-8 px-0">
      <div class="row">
        {% for listing in listings %}
          <div class="col-xxl-4 col-md-6 col-sm-12 pe-0 ps-4">
            {% include 'includes/listings/listing_overlay_card.html' with listing=listing %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
