{% extends 'base.html' %}
{% load static %}

{% block page_specific_styles %}
  <link rel="stylesheet" href="{% static 'css/listings.css' %}">
{% endblock %}

{% block content %}
<!-- Filters -->
<div class="row m-0 px-5 py-1 border-bottom" style="height: 64px;">
  {% include 'includes/listings/listings_filter_top.html' %}
  {% include 'includes/listings/change_page_view.html' %}
</div>
    <div class="margin-container-half-map ps-5" >

      <!-- Listings and Map -->
      <div class="d-flex justify-content-center full-screen-row">

        <div class="col-7 overflow-y-scroll pe-3" style="height: 85vh;margin-left: -12px!important;">
          <!-- Pagination and Sort -->
          <div class="row py-2 align-items-center" >
            <div class="col m-auto">Rezultata: {{ listings.paginator.count }}</div>
            <div class="col-5">{% include 'includes/listings/listings_pagination.html' %}</div>
            <div class="col">{% include 'includes/listings/listings_sorting.html' %}</div> 
          </div>
      
          <!-- Listing Items -->
          <div class="row" >
            {% for listing in listings %}
            <div class="col-xxl-4 col-md-6 col-sm-12" >
              {% include 'includes/listings/listing_overlay_card.html' with listing=listing %}
            </div>
            {% endfor %}
          </div>
        </div>

        <!-- Map -->
        <div class="col h-100">
          {% include 'includes/listings/listings_map.html' with listing=listing %}
        </div>

      </div>
    </div>
{% endblock %}