{% extends 'base.html' %}
{% load static %}

{% block page_specific_styles %}
  <link rel="stylesheet" href="{% static 'css/listing_detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}

<!-- Listing images carousel -->
<!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    {% for i in listing.images.all %}
    <div data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter == 1 %} active {% endif %}  w-100 mx-2" aria-label="Slide {{ forloop.counter }}" style="background: center / contain no-repeat url('{% get_media_prefix %}{{ i.file }}');height: 100px;max-width: 150px;"></div>
    {% endfor %}
  </div>
  <div class="carousel-inner w-100">
    {% for i in listing.images.all %}
    <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
      <div class="d-block w-100 rounded w-100 me-2" style="background: center / cover no-repeat url('{% get_media_prefix %}{{ i.file }}');height: 666px;"></div>
    </div>
    {% endfor %}
  </div>
</div> -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="d-flex justify-content-center position-absolute align-items-end w-100 h-100" style="z-index: 2;">
    <div class="overflow-hidden mb-4 w-75 ">
      <div class="d-flex carousel-indicators m-0" style="width: fit-content;position: inherit;">
      {% for i in listing.images.all %}
      <div  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter == 1 %} active {% endif %} thumbnail-item thumbnail-target me-3 rounded" aria-label="Slide {{ forloop.counter }}" style="background: center / cover no-repeat url('{% get_media_prefix %}{{ i.file }}');height: 100px;width: 150px"></div>
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="carousel-inner w-100">
    {% for i in listing.images.all %}
    <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
      <div class="d-block w-100 rounded w-100 me-2" style="background: center / cover no-repeat url('{% get_media_prefix %}{{ i.file }}');height: 666px;"></div>
    </div>
    {% endfor %}
  </div>
</div>

<section class="agencies-break p-5">
  <div class="container-fluid">

    <!-- Top Info View -->
    <div class="row">
      <div class="col">
        <h4 class="fw-bold">{{ listing.title }}</h4>
        <h6 class="py-4">{{ listing.city }}, {{ listing.area }}</h6>
      </div>
      <div class="col-3">
        <div class="d-flex justify-content-center ">
          <h2 class="fw-bold" id="money{{listing.id}}"></h2>
        </div>
        {% if listing.status == '0' %}
        <div class="d-flex justify-content-center ">
          <div class="shadow d-flex justify-content-center">
              <div class="bg-blue text-white p-1 rounded-start" >{% widthratio listing.price listing.listingcharacteristics_set.first.size 1 %}</div>          
            <div class="bg-blue text-white p-1 rounded-end">eur/m2</div>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="col-3 d-flex justify-content-end">
        <!-- TODO:  <img class="shadow rounded p-2 mx-2 " src="{% static 'images/icons/sharefromdetails.svg' %}" alt="Hearth" width="44px" height="44px" > -->
        <img class="shadow rounded p-2 mx-2" src="{% static 'images/icons/shareonmediafromlisting.svg' %}" alt="Hearth" width="44px" height="44px" data-bs-toggle="modal" data-bs-target="#exampleModal">
          {% include 'includes/share_listing.html' %}

        <img class="shadow rounded p-2 mx-2" src="{% static 'images/icons/hearthfromlisting.svg' %}" alt="Hearth" width="44px" height="44px">

        <img class="shadow rounded p-2 mx-2" src="{% static 'images/icons/printfromlisting.svg' %}" alt="Hearth" width="44px" height="44px" onclick="window.print()">
      </div>
    </div>

    <!-- Listing Featured Icons -->
    <div class="col d-flex mb-4 icons-black">
      {% include 'includes/listings/listing_details_icons.html' %}
      
    </div>

    <div class="row mb-4">

      <!-- Left "Main" Side -->
      <div class="col-8">

        <!-- 1. Info Pills -->
        <div class="col-md-12 shadow card-body px-5 py-3 rounded min-height-60vh mb-4">
          <div class="row nav-tabs  my-3" id="myTab" role="tablist">
            <h5 class="active col" id="description-tab" data-bs-toggle="tab" data-bs-target="#description-tab-pane" type="button" role="tab" aria-controls="description-tab-pane" aria-selected="true">Opis</h5>
            <h5 class="col" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-tab-pane" type="button" role="tab" aria-controls="details-tab-pane" aria-selected="false">Detalji</h5>
            <h5 class="col"  id="properties-tab" data-bs-toggle="tab" data-bs-target="#properties-tab-pane" type="button" role="tab" aria-controls="properties-tab-pane" aria-selected="false">Karakteristike</h5>
            {% if listing.status == '1' %}
            <h5 class="col" id="equipment-tab" data-bs-toggle="tab" data-bs-target="#equipment-tab-pane" type="button" role="tab" aria-controls="equipment-tab-pane" aria-selected="false">Opremljenost</h5>
            {% endif %}
          </div>
          <div class="tab-content " id="myTabContent">
            <div class="tab-pane fade show active" id="description-tab-pane" role="tabpanel" aria-labelledby="description-tab" tabindex="0">
             {{listing.description}}
            </div>
            <div class="tab-pane fade" id="details-tab-pane" role="tabpanel" aria-labelledby="details-tab" tabindex="0">
              <pre></pre>
              <div class="row">
                {% for listing_detail in listing.listingdetails_set.all %}
           
                <div class="col-3">
                  <img class="p-2 " style="filter: brightness(0.8) invert(0.6)" src="{% static 'images/items/' %}{{listing_detail.detail.name|cut:' '}}.svg" alt="..." width="44px" height="44px"  >
                  {{ listing_detail.detail.name }}
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane fade row" id="properties-tab-pane" role="tabpanel" aria-labelledby="properties-tab" tabindex="0">
              <div class="row">
                <div class="col-6 py-2 border-end" >
                  <h6>Površina: {{listing.listingcharacteristics_set.first.size}}m2</h6>
                  <h6>Struktura: {{listing.listingcharacteristics_set.first.structure}}</h6>
                  <h6>Parking: {{listing.listingcharacteristics_set.first.parking}}</h6>
                  <h6>Spratnost: {{listing.listingcharacteristics_set.first.floor}} od {{listing.listingcharacteristics_set.first.total_floors}} spratova</h6>
                  <h6>Godina izgradnje: {{listing.listingcharacteristics_set.first.year_built}}. godina</h6>
                  <h6>Spavaće sobe: {{listing.listingcharacteristics_set.first.bedrooms}} spavaće sobe</h6>
                  <h6>Kupatilo: {{listing.listingcharacteristics_set.first.baths}}</h6>
                  <h6>WC: {{listing.listingcharacteristics_set.first.half_baths}}</h6>
                  <h6>Terasa: {{listing.listingcharacteristics_set.first.balcony}}</h6>
                </div>
                <div class="col-6 py-2 justify-content-start align-items-center">
                  {{listing.description}}
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="equipment-tab-pane" role="tabpanel" aria-labelledby="equipment-tab" tabindex="0">
              <div class="row">
              {% for listing_amenity in listing.listingamenities_set.all %}
              <div class="col-3">
                <img class="p-2 " style="filter: brightness(0.8) invert(0.6)" src="{% static 'images/items/' %}{{listing_detail.detail.name|cut:' '}}.svg" alt="..." width="44px" height="44px"  >
                {{ listing_amenity.amenity.name }}
              </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <!-- 2. Images/Videos/Floorplan Pills -->
        {% if listing.floor_plan.all != '0' and listing.video.all != '0' %}
        <div class="col-md-12 shadow card-body px-5 py-3 rounded min-height-60vh mb-4">
          <div class="row nav-tabs  my-3" id="myTab" role="tablist">
            {% if listing.floor_plan.all != '0'%}
            <h5 class="active col-3" id="tlocrt-tab" data-bs-toggle="tab" data-bs-target="#tlocrt-tab-pane" type="button" role="tab" aria-controls="tlocrt-tab-pane" aria-selected="true">Tlocrt</h5>
            {% endif %}
            <h5 class="col-3" id="video-tab" data-bs-toggle="tab" data-bs-target="#video-tab-pane" type="button" role="tab" aria-controls="video-tab-pane" aria-selected="false">Video</h5>
            <h5 class="col-3"  id="virtuelnatura-tab" data-bs-toggle="tab" data-bs-target="#virtuelnatura-tab-pane" type="button" role="tab" aria-controls="virtuelnatura-tab-pane" aria-selected="false">Virtuelna tura</h5>
          </div>
          <div class="tab-content " id="myTabContent">
            <div class="tab-pane fade show active" id="tlocrt-tab-pane" role="tabpanel" aria-labelledby="tlocrt-tab" tabindex="0">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  {% for i in listing.floor_plan.all %}
                  <div class="{% if forloop.counter == 1 %} active {% endif %} carousel-item ">
                    <img src="{% get_media_prefix %}{{ i.file }}" class="d-block w-100" alt="...">
                  </div>
                  {% endfor %}
                </div>
                <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon rounded-circle p-4" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon rounded-circle p-4" aria-hidden="true"></span>
                </button>
              </div>
            </div>
            <div class="tab-pane fade" id="video-tab-pane" role="tabpanel" aria-labelledby="video-tab" tabindex="0">
              {% with listing.video.all|first as video %}
              <video controls style="max-height: 666px; width: 100%;">
                <source src="{{ video.file.url }}" type="video/mp4">
              </video>
              {% endwith %}
            </div>
            <div class="tab-pane fade row" id="virtuelnatura-tab-pane" role="tabpanel" aria-labelledby="virtuelnatura-tab" tabindex="0">
              Virtuelna Tura
            </div>
          </div>
        </div>
        {% endif %}
        <!-- 3. Map & Locations -->
        <div class="col-md-12 shadow card-body px-5 py-3 rounded min-height-60vh mb-4">
          <div class="row nav-tabs  my-3" id="myTab" role="tablist">
            <h5 class="active col-3" id="map-tab" data-bs-toggle="tab" data-bs-target="#map-tab-pane" type="button" role="tab" aria-controls="map-tab-pane" aria-selected="true">Mapa</h5>
            <!--TO DO: LOKACIJA <h5 class="col-3" id="location-tab" data-bs-toggle="tab" data-bs-target="#location-tab-pane" type="button" role="tab" aria-controls="location-tab-pane" aria-selected="false">Lokacija</h5> -->
          </div>
          <div class="tab-content " id="myTabContent">
                <div class="full_map_area tab-pane fade show active" id="map-tab-pane" role="tabpanel" aria-labelledby="map-tab" tabindex="0">
                  <div class="full_map style2">
                    <div class="map-canvas skin2 min-height-50vh" id="contact-google-map"
                      data-icon-path="{% static 'images/logo/1.png' %}" data-map-title="Awesome Place"
                      data-map-zoom="14">
                    </div>
                  </div>
                </div>
            <div class="tab-pane fade" id="location-tab-pane" role="tabpanel" aria-labelledby="location-tab" tabindex="0">
              Lokacija
            </div>
          </div>
        </div>

        <!-- TODO: Define data for aprox listing price per location -->
        <!-- <div class="col-md-12 shadow card-body px-5 py-3 rounded min-height-40vh mb-4">
          <div class="row nav-tabs  my-3" id="myTab" role="tablist">
            <h5 class="active col" id="averageprice-tab" data-bs-toggle="tab" data-bs-target="#averageprice-tab-pane" type="button" role="tab" aria-controls="averageprice-tab-pane" aria-selected="true">Prosecna cena na lokaciji</h5>
          </div>
          <div class="tab-content " id="myTabContent">
            <div class="tab-pane fade show active" id="averageprice-tab-pane" role="tabpanel" aria-labelledby="averageprice-tab" tabindex="0" style="background: center / cover no-repeat url('/static/images/listing_detail/tlocrt.svg');height: 600px;">
              Prosecna cena na lokaciji
            </div>
          </div>
        </div> -->
      </div>

      <!-- Right Side -->
      <div class="col">
        <div class="col shadow card-body rounded  p-4 mb-4">
          {% include 'includes/agencies/agency_card.html' %}
        </div>

        {% for promoted in promoted_listings|slice:":2" %}
        <div class="col shadow card-body rounded  p-4 mb-4">

          <!-- TODO: Define blog data
          {% include 'includes/blog/blog_card.html' %} -->
          <!-- TODO: Image from listing or to remove
          <div class="rounded" style="background: center / cover no-repeat url('/static/images/placeholders/apt2.jpg');height: 250px;"></div> -->
          <div class="col mt-4">
            {% include 'includes/listings/listing_overlay_card.html' with listing=promoted %}
          </div>
        </div>
        {% endfor %}
      </div>

    </div>

    <!-- Suggested Listings -->
    <div class="row mb-3">
      <div class="row">
        <h3 class="col my-4  text-center">Preporuceni Oglasi</h3>
      </div>
      {% for similar in similar_listings %}
      <div class="col-xxl-3 col-md-6 col-sm-12  pb-5">
        {% include 'includes/listings/listing_card.html' with listing=similar%}
      </div>
      {% endfor %}
    </div>

  </div>
</section>
{% endblock %}

{% block page_specific_scripts %}
  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANV7e30hUL2JeDq04EtUqwHvVevqNDGUM&callback=initMap&v=weekly"
      defer
  ></script>
  <script>
const thumbnailItems = document.querySelectorAll('.thumbnail-item');
const carouselItems = document.querySelectorAll('.thumbnail-target');

thumbnailItems.forEach((thumbnail, index) => {
  thumbnail.addEventListener('click', () => {
    carouselItems[index].scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'center' });
  });
});

    // money parser //
    document.getElementById("money{{listing.id}}").innerHTML = new Intl.NumberFormat('de-DE', {minimumFractionDigits: 2}).format({{listing.price}}) + ' eur'   


    // Initialize and add the map
    function initMap() {
      const belgrade = { lat: 44.8125, lng: 20.4612 };
      const map = new google.maps.Map(document.getElementById("contact-google-map"), {
        zoom: 10,
        center: belgrade,
      });
      const marker{{ listing.id }} = new google.maps.Marker({
        position: {
        lat: Number("{{listing.listingmap_set.first.lat }}"),
        lng: Number("{{listing.listingmap_set.first.lng }}"),
        },
        map: map,
        listing_id: {{ listing.id }},
      });
    }

    window.initMap = initMap;
</script>


{% endblock %}

