{% extends 'base.html' %}
{% load static %}

{% block page_specific_styles %}
  <link rel="stylesheet" href="{% static 'css/listing_detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}

<div id="carouselExampleIndicators" class="carousel slide non-printable-area" data-bs-ride="true">
  <div class="d-flex justify-content-center position-absolute align-items-end w-100 h-100" style="z-index: 2;">
    <div class="overflow-hidden mb-4 w-75 d-flex">
      <div class="d-flex justify-content-center carousel-indicators m-0" id="caroseulIndicatorFrame" style="width: fit-content;position: inherit">
      {% for i in listing.images.all %}
      <div  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter == 1 %} active {% endif %} thumbnail-item thumbnail-target me-3 rounded" aria-label="Slide {{ forloop.counter }}" style="background: center / cover no-repeat url('{% get_media_prefix %}{{ i.file }}');height: 100px;width: 150px"></div>
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="carousel-inner w-100">
    
    <div class="d-flex justify-content-end position-absolute w-100" style="z-index: 2;" >
        <img class="m-4" src="{% static 'images/icons/galery.svg' %}" alt="Hearth" data-bs-toggle="modal" data-bs-target="#galeryModal" >
    </div>
    <!-- Modal -->
    {% include 'includes/listing_helpers/listing_profile_modal.html' %}

    
    {% for i in listing.images.all %}
    <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
      <div class="d-block w-100 rounded w-100 me-2" style="background: center / cover no-repeat url('{% get_media_prefix %}{{ i.file }}');height: 666px;"></div>
    </div>
    {% endfor %}
  </div>
</div>

<section>
  <div class="container-fluid p-5">

    <!-- Top Info View -->
    <div class="row">
      <div class="col">
        <h4 class="fw-bold">{{ listing.title }}</h4>
        <h6 class="py-4">{{ listing.city }}, {{ listing.area }}</h6>
      </div>
      <div class="col-3">
        <div class="d-flex justify-content-center ">
          <h2 class="fw-bold">{% include 'includes/listing_helpers/price_parser.html' %}</h2>
        </div>
        {% if listing.status == '0' %}
        <div class="d-flex justify-content-center ">
          <div class="shadow d-flex justify-content-center">
              <div class="bg-blue text-white p-1 rounded-start" id="price_per_square"></div>          
            <div class="bg-blue text-white p-1 rounded-end">eur/m2</div>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="col-3 d-flex justify-content-end ">
        <!-- TODO:  <img class="shadow rounded p-2 mx-2 " src="{% static 'images/icons/sharefromdetails.svg' %}" alt="Hearth" width="44px" height="44px" > -->
        <img class="non-printable-area shadow rounded p-2 mx-2" src="{% static 'images/icons/shareonmediafromlisting.svg' %}" alt="Hearth" width="44px" height="44px" data-bs-toggle="modal" data-bs-target="#exampleModal">
          {% include 'includes/listing_helpers/share_listing.html' %}
            {% if user.id in listing.likes %}
              <img class="non-printable-area" src="{% static 'images/items/HearthFilled.svg' %}" alt="Liked" width="44px">
            {% else %}
              <img class="non-printable-area shadow rounded p-2 mx-2" src="{% static 'images/icons/hearthfromlisting.svg' %}" alt="Hearth" width="44px" height="44px">
            {% endif %}
        <img class="shadow rounded p-2 mx-2" src="{% static 'images/icons/printfromlisting.svg' %}" alt="Hearth" width="44px" height="44px" onclick="window.print()">
      </div>
    </div>

    <!-- Listing Featured Icons -->
    <div class="col d-flex mb-4 icons-black">
      {% include 'includes/listings/listing_details_icons.html' %}
    </div>

    <div class="row mb-4">
      <!-- First "Main" Part -->
      <div class="col-8 printable-area">
        <!-- 1. Info Pills -->
        <div class="shadow card-body px-5 py-3 rounded" style="min-height: 480px;">
          <div class="row border-bottom mx-0 fs-5 my-3" id="infoPills" role="tablist">
            <div class="col-3 px-0 d-flex">
              <div class="d-flex active info pb-2 infoTabStyle" id="description-tab" data-bs-toggle="tab" data-bs-target="#description-tab-pane" type="button" role="tab" aria-controls="description-tab-pane" aria-selected="true">Opis</div>
            </div>
            <div class="col-3 px-0 d-flex">
              <div class="d-flex info ms-4 pb-2" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-tab-pane" type="button" role="tab" aria-controls="details-tab-pane" aria-selected="false">Detalji</div>
            </div>
            <div class="col-3 px-0 d-flex ">
              <div class="d-flex info ms-4 pb-2" id="properties-tab" data-bs-toggle="tab" data-bs-target="#properties-tab-pane" type="button" role="tab" aria-controls="properties-tab-pane" aria-selected="false">Karakteristike</div>
            </div>
            {% if listing.status == '1' %}
            <div class="col-3 px-0 d-flex justify-content-end">
              <div class="d-flex info pb-2" id="equipment-tab" data-bs-toggle="tab" data-bs-target="#equipment-tab-pane" type="button" role="tab" aria-controls="equipment-tab-pane" aria-selected="false">Opremljenost</div>
            </div>
            {% endif %}
          </div>
          <div class="tab-content " id="myTabContent">
            <div class="tab-pane fade show active" id="description-tab-pane" role="tabpanel" aria-labelledby="description-tab" tabindex="0">
             {{listing.description}}
            </div>
            <div class="tab-pane fade" id="details-tab-pane" role="tabpanel" aria-labelledby="details-tab" tabindex="0">
              <pre></pre>
              <div class="row">
                {% for listing_detail in listing.listingdetails_set.all %}
           
                <div class="col-3">
                  <img class="p-2 " style="filter: brightness(0.8) invert(0.6)" src="{% static 'images/items/' %}{{listing_detail.detail.name|cut:' '}}.svg" alt="..." width="44px" height="44px"  >
                  {{ listing_detail.detail.name }}
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane fade row" id="properties-tab-pane" role="tabpanel" aria-labelledby="properties-tab" tabindex="0">
              <div class="row">
                <div class="col-6 py-2 border-end" >
                  <h6>Površina: {{listing.listingcharacteristics_set.first.size}}m2</h6>
                  <h6>Struktura: {{listing.listingcharacteristics_set.first.structure}}</h6>
                  <h6>Parking: {{listing.listingcharacteristics_set.first.parking}}</h6>
                  <h6>Spratnost: {{listing.listingcharacteristics_set.first.floor}} od {{listing.listingcharacteristics_set.first.total_floors}} spratova</h6>
                  <h6>Godina izgradnje: {{listing.listingcharacteristics_set.first.year_built}}. godina</h6>
                  <h6>Spavaće sobe: {{listing.listingcharacteristics_set.first.bedrooms}} spavaće sobe</h6>
                  <h6>Kupatilo: {{listing.listingcharacteristics_set.first.baths}}</h6>
                  <h6>WC: {{listing.listingcharacteristics_set.first.half_baths}}</h6>
                  <h6>Terasa: {{listing.listingcharacteristics_set.first.balcony}}</h6>
                </div>
                <div class="col-6 py-2 justify-content-start align-items-center">
                  {{listing.description}}
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="equipment-tab-pane" role="tabpanel" aria-labelledby="equipment-tab" tabindex="0">
              <div class="row">
              {% for listing_amenity in listing.listingamenities_set.all %}
              <div class="col-3">
                <img class="p-2 " style="filter: brightness(0.8) invert(0.6)" src="{% static 'images/items/' %}{{listing_amenity.amenity.name|cut:' '}}.svg" alt="..." width="44px" height="44px"  >
                {{ listing_amenity.amenity.name }}
              </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 non-printable-area">
        {% include 'includes/agencies/agency_card.html' %}
      </div>
    </div>

        <!-- 2. Images/Videos/Floorplan Pills -->
        {% if  listing.floor_plan.exists or listing.video.exists %}
      <div class="row">
        <div class="col-8 printable-area">
        <div class="shadow card-body px-5 py-3 rounded mb-4" style="height:688px;">
          <div class="row border-bottom mx-0 fs-5 my-3" id="imagesVideosFloorplanPills" role="tablist">
            {% if listing.floor_plan.exists %}
            <div class="col-3 px-0 d-flex">
              <div class="d-flex active pb-2 media imageVideoFlooplanStyle" id="tlocrt-tab" data-bs-toggle="tab" data-bs-target="#tlocrt-tab-pane" type="button" role="tab" aria-controls="tlocrt-tab-pane" aria-selected="true">Tlocrt</div>
            </div>
            {% endif %}
            {% if listing.video.exists %}
            <div class="col-3 d-flex">
              <div class="d-flex ms-4 pb-2 media" id="video-tab" data-bs-toggle="tab" data-bs-target="#video-tab-pane" type="button" role="tab" aria-controls="video-tab-pane" aria-selected="true">Video</div>
            </div>
            {% endif %}
            <div class="col-3 d-flex">
              <div class="d-flex ms-4 pb-2 media" id="virtuelnatura-tab" data-bs-toggle="tab" data-bs-target="#virtuelnatura-tab-pane" type="button" role="tab" aria-controls="virtuelnatura-tab-pane" aria-selected="true">Virtuelna tura</div>
            </div>
          </div>
          <div class="tab-content " id="myTabContent">
            <div class="tab-pane fade show active" id="tlocrt-tab-pane" role="tabpanel" aria-labelledby="tlocrt-tab" tabindex="0">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  {% for i in listing.floor_plan.all %}
                  <div class="{% if forloop.counter == 1 %} active {% endif %} carousel-item">
                    <div class="d-block w-100 rounded" style="background: center / contain no-repeat url('{% get_media_prefix %}{{ i.file }}');height: 555px;"></div>
                  </div>
                  {% endfor %}
                </div>
                <button class="carousel-control-prev shadow-caroseul-controls rounded" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon rounded-circle p-4" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next shadow-caroseul-controls rounded" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon rounded-circle p-4" aria-hidden="true"></span>
                </button>
              </div>
            </div>
            <div class="tab-pane fade" id="video-tab-pane" role="tabpanel" aria-labelledby="video-tab" tabindex="0">
              {% with listing.video.all|first as video %}
              <video controls style="height: 550px; width: 100%;">
                <source src="{{ video.file.url }}" type="video/mp4">
              </video>
              {% endwith %}
            </div>
            <div class="tab-pane fade row" id="virtuelnatura-tab-pane" role="tabpanel" aria-labelledby="virtuelnatura-tab" tabindex="0">
              Virtuelna Tura
            </div>
          </div>
          </div>
        </div>
        <div class="col-4 mb-4 non-printable-area">
          <div class="col shadow card-body rounded p-4 h-100">
            <div class="mb-4">
              {% include 'includes/blog/blog_card.html' %}
            </div>
            {% for promoted in promoted_listings|slice:":1" %}
              {% include 'includes/listings/listing_overlay_card.html' with listing=promoted %}
            {% endfor %}
          </div>
        </div>
      </div>
        {% endif %}
        
        <!-- 3. Map & Locations -->
      <div class="row non-printable-area">
        <div class="col-8 printable-area" >
          <div class="shadow card-body px-5 py-3 rounded mb-4" style="height:688px;">
            <div class="row border-bottom mx-0 fs-5 my-3" id="mapAndLocation" role="tablist">
              <div class="col-3 px-0 d-flex">
                <div class="d-flex active pb-2 place mapLocationStyle" id="mapa-tab" data-bs-toggle="tab" data-bs-target="#mapa-tab-pane" type="button" role="tab" aria-controls="mapa-tab-pane" aria-selected="true">Mapa</div>
              </div>
              <div class="col-3 d-flex">
                <div class="d-flex ms-4 pb-2 place" id="locate-tab" data-bs-toggle="tab" data-bs-target="#locate-tab-pane" type="button" role="tab" aria-controls="locate-tab-pane" aria-selected="true">Lokacija</div>
              </div>
            </div>
            <div class="tab-content" id="myTabContent">
              <div class="full_map_area tab-pane fade show active" id="mapa-tab-pane" role="tabpanel" aria-labelledby="mapa-tab" tabindex="0">
                <div class="full_map style2">
                  <div class="map-canvas skin2" style="height: 578px;" id="google-maps"
                    data-icon-path="{% static 'images/logo/1.png' %}" data-map-title="Awesome Place"
                    data-map-zoom="14">
                  </div>
                </div>
              </div>
               <div class="tab-pane fade" id="locate-tab-pane" role="tabpanel" aria-labelledby="locate-tab" tabindex="0">
            Lokacija
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="col shadow card-body rounded p-4 h-100">
            <div class="mb-4">
              {% include 'includes/blog/blog_card.html' %}
            </div>
            {% for promoted in promoted_listings|slice:":1" %}
              {% include 'includes/listings/listing_overlay_card.html' with listing=promoted %}
            {% endfor %}
          </div>
        </div>
      </div>

        <!-- TODO: Define data for aprox listing price per location -->
      <div class="row non-printable-area">
        <div class="col-8">
          <div class="shadow card-body px-5 py-3 rounded mb-4" style="height: 688px;">
            <div class="row border-bottom mx-0 fs-5 my-3" id="chart" role="tablist">
              <div class="col-6 d-flex px-0">
                <div class="d-flex active pb-2 canvasStyle" id="averageprice-tab" data-bs-toggle="tab" data-bs-target="#averageprice-tab-pane" type="button" role="tab" aria-controls="averageprice-tab-pane" aria-selected="true">Prosecna cena na lokaciji</div>
              </div>
            </div>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="averageprice-tab-pane" role="tabpanel" aria-labelledby="averageprice-tab" tabindex="0" style="background: center / cover no-repeat url('/static/images/listing_detail/tlocrt.svg');height: 600px;"></div>
            </div>
          </div>
        </div>
        <div class="col-4 mb-4">
          <div class="col shadow card-body rounded p-4 h-100">
            <div class="mb-4">
              {% include 'includes/blog/blog_card.html' %}
            </div>
            {% for promoted in promoted_listings|slice:":1" %}
              {% include 'includes/listings/listing_overlay_card.html' with listing=promoted %}
            {% endfor %}
          </div>
        </div>
      </div>


    <!-- Suggested Listings -->
    <div class="row mb-3 non-printable-area" >
      <div class="row">
        <h3 class="col my-4  text-center">Preporuceni Oglasi</h3>
      </div>
      {% for similar in similar_listings %}
      <div class="col-xxl-3 col-xl-3 col-sm-12  pb-5">
        {% include 'includes/listings/listing_card.html' with listing=similar%}
      </div>
      {% endfor %}
    </div>

  </div>
</section>
{% endblock %}

{% block page_specific_scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANV7e30hUL2JeDq04EtUqwHvVevqNDGUM&callback=initMap&v=weekly" defer></script>



<script>
  // Tab modals styles
  function tabStyleHandler(elementId, className, styleClass) {
    let element = document.getElementById(elementId);
    if (!element || !className || !styleClass) {
      return;
    }
    let items = element.getElementsByClassName(className);
      for (let i = 0; i < items.length; i++) {
      items[i].addEventListener("click", function() {
      let current = document.getElementsByClassName(styleClass);
      current[0].className = current[0].className.replace(" " + styleClass, "");
      this.className += " " + styleClass;
      });
    }
  }
  tabStyleHandler("infoPills", "info", "infoTabStyle");
  tabStyleHandler("imagesVideosFloorplanPills", "media", "imageVideoFlooplanStyle");
  tabStyleHandler("mapAndLocation", "place", "mapLocationStyle");
  

  // Thumbnail alingment and scroll
function caroseulIndicatorFrame() {
  const caroseul = document.getElementById('caroseulIndicatorFrame')
  if(caroseul.childElementCount < 7)
  caroseul.style.width = '100%'
}
caroseulIndicatorFrame()

const thumbnailItems = document.querySelectorAll('.thumbnail-item');
const carouselItems = document.querySelectorAll('.thumbnail-target');

thumbnailItems.forEach((thumbnail, index) => {
  thumbnail.addEventListener('click', () => {
    carouselItems[index].scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'center' });
  });
});


  // Initialize and add the map
function initMap() {
  const city = { lat: Number("{{listing.listingmap_set.first.lat }}"), 
                 lng: Number("{{listing.listingmap_set.first.lng }}") };
  const map = new google.maps.Map(document.getElementById("google-maps"), {
    zoom: 10,
    center: city,
  });
  const marker = new google.maps.Marker({
    position: city,
    map: map,
    listing_id: {{ listing.id }},
  });
}

</script>

{% if listing.status == '0' %}
{% comment %} Price per square {% endcomment %}
<script>
function pricePerSquare() {
  document.getElementById('price_per_square').innerHTML = new Intl.NumberFormat('de-DE', { maximumFractionDigits: 2 }).format({{listing.price}} / {{listing.listingcharacteristics_set.first.size}});
};
pricePerSquare()
</script>
{% endif %}

{% endblock %}

