{% extends 'base.html' %}
{% load static %}

{% block page_specific_styles %}
<link rel="stylesheet" href="{% static 'css/listing_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/listing_profile.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://cdn.maptiler.com/maplibre-gl-js/v2.4.0/maplibre-gl.css" rel="stylesheet" />
{% endblock %}
{% block content %}

<div id="carouselExampleIndicators" class="carousel slide non-printable-area" data-bs-ride="true">
  <div class="d-flex justify-content-center position-absolute align-items-end w-100 h-100" style="z-index: 2;">
    <div class="overflow-hidden mb-4 w-75 d-flex">
      <div class="d-flex justify-content-center carousel-indicators  m-0" id="caroseulIndicatorFrame" style="width: fit-content;position: inherit">
      {% for i in listing.images.all %}
      <div  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter == 1 %} active {% endif %} thumbnail-item thumbnail-target me-3 rounded border-0" aria-label="Slide {{ forloop.counter }}" style="background: center / cover no-repeat url('{% get_media_prefix %}{{ i.file }}');height: 100px;width: 137px"></div>
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="carousel-inner w-100">

    <div class="d-flex justify-content-end position-absolute w-100" style="z-index: 2;" >
      <img class="m-5 hoverGalery" src="{% static 'images/icons/galery.svg' %}" alt="Hearth" data-bs-toggle="modal" data-bs-target="#galeryModal" >    </div>
    <!-- Modal -->
    {% include 'includes/listing_helpers/listing_profile_modal.html' %}


    {% for i in listing.images.all %}
    <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
      <div class="d-block w-100  w-100 me-2" style="background: center / cover no-repeat url('{% get_media_prefix %}{{ i.file }}');height: 666px;"></div>
    </div>
    {% endfor %}
  </div>
</div>

  <div class="margin-container" style="padding: 40px 80px!important">
    <div class="padding-large">
    <!-- Top Info View -->
    <div class="row">
      <div class="col px-0">
        <h4 class="fw-bold">{{ listing.title }}</h4>
        <h6 class="py-3 city-location-main">{{ listing.city }}, {{ listing.area }}</h6>
      </div>
      <div class="col-3">
        <div class="d-flex justify-content-center ">
          <h2 class="fw-bold text-black">{% include 'includes/listing_helpers/price_parser.html' %}</h2>
        </div>
        {% if listing.type == '0' %}
        <div class="d-flex justify-content-center ">
          <div class="shadow d-flex justify-content-center city-location">
              <div class="bg-blue text-white p-1 rounded-start ps-2" id="price_per_square"></div>
            <div class="bg-blue text-white rounded-end p-1 pe-2">eur/m2</div>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="col-3 d-flex justify-content-end px-0">
          {% include 'includes/listing_helpers/share_listing.html' %}
        <img id="compare_on_hover" class="shadow rounded p-2 mx-2  hover-icons" src="{% static 'images/icons/sharefromdetails.svg' %}" alt="Hearth" width="44px" height="44px" >
            {% if user.id in listing.likes %}
              <img id="liked_on_hover" class="non-printable-area shadow rounded p-2 mx-2 hover-icons" src="{% static 'images/items/blue_hearth.svg' %}" alt="Liked" width="44px" height="44px" onclick="addRemoveFavorites('{{listing.id}}'); location.reload()">
            {% else %}
              <img id="like_on_hover" class="non-printable-area shadow rounded p-2 mx-2 hover-icons" src="{% static 'images/icons/hearthfromlisting.svg' %}" alt="Hearth" width="44px" height="44px" onclick="addRemoveFavorites('{{listing.id}}'); location.reload()">
            {% endif %}
        <img id="share_on_hover" class="non-printable-area shadow rounded p-2 mx-2 hover-icons" src="{% static 'images/icons/shareonmediafromlisting.svg' %}" alt="Hearth" width="44px" height="44px" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img id="print_on_hover" class="shadow rounded p-2 ms-2 hover-icons" src="{% static 'images/icons/printfromlisting.svg' %}" alt="Hearth" width="44px" height="44px" onclick="window.print()">
      </div>
    </div>

    <!-- Listing Featured Icons -->
    <div class=" d-flex justify-content-between icons-black" style="max-width: 700px;margin-bottom: 32px;">
      {% include 'includes/listings/listing_details_icons_profile.html' %}
    </div>

    <div class="row mb-4">
      <!-- First "Main" Part -->
      <div class="col-8 printable-area ps-0 pe-3">
        <!-- 1. Info Pills -->
        <div class="shadow card-body px-32px rounded py-4" style="min-height: 480px;">
          <div class="row border-bottom mx-0 fs-5 mb-4" id="infoPills" role="tablist">
            <div class="col-3 px-0 d-flex">
              <div class="d-flex profile-card-tab active info pb-2 infoTabStyle" id="description-tab" data-bs-toggle="tab" data-bs-target="#description-tab-pane" type="button" role="tab" aria-controls="description-tab-pane" aria-selected="true">Opis</div>
            </div>
            <div class="col-3 px-0 d-flex">
              <div class="d-flex profile-card-tab info ms-4 pb-2" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-tab-pane" type="button" role="tab" aria-controls="details-tab-pane" aria-selected="false">Detalji</div>
            </div>
            <div class="col-3 px-0 d-flex ">
              <div class="d-flex profile-card-tab info ms-4 pb-2" id="properties-tab" data-bs-toggle="tab" data-bs-target="#properties-tab-pane" type="button" role="tab" aria-controls="properties-tab-pane" aria-selected="false">Karakteristike</div>
            </div>
            {% if listing.type == '1' %}
            <div class="col-3 profile-card-tab px-0 d-flex justify-content-end">
              <div class="d-flex info pb-2" id="equipment-tab" data-bs-toggle="tab" data-bs-target="#equipment-tab-pane" type="button" role="tab" aria-controls="equipment-tab-pane" aria-selected="false">Opremljenost</div>
            </div>
            {% endif %}
          </div>
          <div class="tab-content " id="myTabContent">
            <div class="tab-pane fade show active text-justify profile-description-text"  id="description-tab-pane" role="tabpanel" aria-labelledby="description-tab" tabindex="0">
             {{listing.description}}
            </div>
            <div class="tab-pane fade " id="details-tab-pane" role="tabpanel" aria-labelledby="details-tab" tabindex="0">
              <div class="d-flex flex-column justify-content-between" style="height: 367px;">
                <div class="row">
                  {% for listing_detail in listing.listingdetails_set.all %}
                  {% if listing_detail.detail.name != 'Visina od 300cm' and listing_detail.detail.name != 'Visina do 260cm' and listing_detail.detail.name != 'Visina 260-300cm' %}
                    <div class="col-3 px-0 city-location mb-3">
                      <img class="me-3" style="filter: invert(27%) sepia(1%) saturate(0%) hue-rotate(231deg) brightness(94%) contrast(90%);" src="{% static 'images/items/' %}{{listing_detail.detail.name|cut:' '}}.svg" alt="..." width="24px" height="24px">
                      {{ listing_detail.detail.name }}
                    </div>
                  {% endif %}
                {% endfor %}
                </div>
              {% if listing.listingcharacteristics_set.first.efficiency == '1' %}
                {% include 'includes/listings/efficiency_bar.html' %}
              {% endif %}
              </div>
            </div>
            <div class="tab-pane fade row" id="properties-tab-pane" role="tabpanel" aria-labelledby="properties-tab" tabindex="0">
              <div class="row p-0">
                <div class="col-6  border-end p-0 text-black" >
                  <h6 class="mb-3">Površina: {{listing.listingcharacteristics_set.first.size}}m2</h6>
                  <h6 class="mb-3">Struktura: {{listing.listingcharacteristics_set.first.structure}}</h6>
                  <h6 class="mb-3">Parking:
                  {% if listing.listingcharacteristics_set.first.parking %}
                    {{listing.listingcharacteristics_set.first.parking}}
                    {% elif 'Garaža' in listing.details %}Garaža
                    {% elif 'Parking van zone' in listing.details %}Parking van zone
                    {% elif 'Parking u zoni' in listing.details %}Parking u zoni
                  {% endif %}
                  </h6>
                  <h6 class="mb-3">Spratnost: {{listing.listingcharacteristics_set.first.floor}} od {{listing.listingcharacteristics_set.first.total_floors}} spratova</h6>
                  <h6 class="mb-3">Godina izgradnje: {{listing.listingcharacteristics_set.first.year_built}}. godina</h6>
                  <h6 class="mb-3">Spavaće sobe: {{listing.listingcharacteristics_set.first.bedrooms|floatformat:0}} spavaće sobe</h6>
                  <h6 class="mb-3">Kupatilo: {{listing.listingcharacteristics_set.first.baths}}</h6>
                  <h6 class="mb-3">WC: {{listing.listingcharacteristics_set.first.half_baths}}</h6>
                  <h6 class="mb-3">Terasa: {{listing.listingcharacteristics_set.first.balcony}}</h6>
                  {% if 'Lift' in listing.details %}
                  <h6 class="mb-3">Lift</h6>
                  {% endif %}
                  <h6 class="mb-3">Visina plafona:
                    {% for detail in listing.details %}
                      {% if 'Visina do 260cm' in detail %} Do 260cm
                        {% elif 'Visina 260-300cm' in detail %} 260-300cm
                        {% elif 'Visina od 300cm' in detail %} Od 300cm
                      {% endif %}
                    {% endfor %}
                  </h6>
                </div>
                <div class="col-6 ps-4 pe-0 text-justify">
                  {{listing.description}}
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="equipment-tab-pane" role="tabpanel" aria-labelledby="equipment-tab" tabindex="0">
              <div class="row">
              {% for listing_amenity in listing.listingamenities_set.all %}
              <div class="col-3 px-0 city-location mb-3">
                <img class="me-3" style="filter: invert(27%) sepia(1%) saturate(0%) hue-rotate(231deg) brightness(94%) contrast(90%);" src="{% static 'images/items/' %}{{listing_amenity.amenity.name|cut:' '}}.svg" alt="..." width="24px" height="24px"  >
                {{ listing_amenity.amenity.name }}
              </div>
              {% endfor %}
              </div>
            </div>
        </div>
      </div>
      </div>
      <div class="col-4 ps-3 pe-0 non-printable-area">
        {% include 'agencies/agency_card.html' %}
      </div>
    </div>

        <!-- 2. Images/Videos/Floorplan Pills -->
        {% if  listing.floor_plan.exists or listing.video %}
      <div class="row">
        <div class="col-8 printable-area ps-0 pe-3">
        <div class="shadow card-body px-32px rounded py-4 mb-4" style="height:690px;">
          <div class="row border-bottom mx-0 fs-5 my-3" id="imagesVideosFloorplanPills" role="tablist">
            {% if listing.floor_plan.exists %}
            <div class="col-3 px-0 d-flex">
              <div class="d-flex active pb-2 media profile-card-tab imageVideoFlooplanStyle" id="tlocrt-tab" data-bs-toggle="tab" data-bs-target="#tlocrt-tab-pane" type="button" role="tab" aria-controls="tlocrt-tab-pane" aria-selected="true">Tlocrt</div>
            </div>
            {% endif %}
            {% if listing.video %}
            <div class="col-3 d-flex px-0">
              <div class="d-flex profile-card-tab pb-2 media {% if not listing.floor_plan.exists %} imageVideoFlooplanStyle {% else %} ms-4 {% endif %}"  id="video-tab" data-bs-toggle="tab" data-bs-target="#video-tab-pane" type="button" role="tab" aria-controls="video-tab-pane" aria-selected="true">Video</div>
            </div>
            {% endif %}
            <div class="col-3 d-flex">
              <div class="d-flex ms-4 pb-2 profile-card-tab media" id="virtuelnatura-tab" data-bs-toggle="tab" data-bs-target="#virtuelnatura-tab-pane" type="button" role="tab" aria-controls="virtuelnatura-tab-pane" aria-selected="true">Virtuelna tura</div>
            </div>
          </div>
          <div class="tab-content " id="myTabContent">
            <div class="tab-pane fade show active" id="tlocrt-tab-pane" role="tabpanel" aria-labelledby="tlocrt-tab" tabindex="0">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  {% for i in listing.floor_plan.all %}
                  <div class="{% if forloop.counter == 1 %} active {% endif %} carousel-item">
                    <div class="d-block w-100 rounded" style="background: center / contain no-repeat url('{% get_media_prefix %}{{ i.file }}');height: 560px;"></div>
                  </div>
                  {% endfor %}
                </div>
                {% if listing.floor_plan.count != 1 %}
                <button class="carousel-control-prev  rounded" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon rounded-circle p-4" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next  rounded" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon rounded-circle p-4" aria-hidden="true"></span>
                </button>
                {% endif %}
              </div>
            </div>
            <div class="tab-pane fade" id="video-tab-pane" role="tabpanel" aria-labelledby="video-tab" tabindex="0">
              <iframe class="p-0" width="100%" height="560" src="{{ listing.video }}"> </iframe>
            </div>
            <div class="tab-pane fade row" id="virtuelnatura-tab-pane" role="tabpanel" aria-labelledby="virtuelnatura-tab" tabindex="0">
              <iframe class="p-0" width='100%' height='560' src='{{ listing.virtual_tour }}' frameborder='0' allowfullscreen allow='xr-spatial-tracking'></iframe>
            </div>
          </div>
          </div>
        </div>
        <div class="col-4 ps-3 pe-0 mb-4">
          <div class="col shadow card-body rounded p-4 h-100">
            {% if promoted_listings.0 %}
              {% include 'includes/listings/listing_overlay_card.html' with listing=promoted_listings.0 %}
            {% endif %}
            {% if articles.0 %}
              {% include 'blog/blog_card.html' with article=articles.0 %}
            {% endif %}
          </div>
        </div>
      </div>
        {% endif %}

        <!-- 3. Map & Locations -->
      <div class="row non-printable-area">
        <div class="col-8 printable-area ps-0 pe-3" >
          <div class="shadow card-body px-32px rounded py-4 mb-4" style="height:690px;">
            <div class="row border-bottom mx-0 fs-5 my-3" id="mapAndLocation" role="tablist">
              <div class="col-3 px-0 d-flex">
                <div class="d-flex active profile-card-tab pb-2 place mapLocationStyle" id="mapa-tab" data-bs-toggle="tab" data-bs-target="#mapa-tab-pane" type="button" role="tab" aria-controls="mapa-tab-pane" aria-selected="true">Mapa</div>
              </div>
              <div class="col-3 d-flex">
                <div class="d-flex ms-4 profile-card-tab pb-2 place" id="locate-tab" data-bs-toggle="tab" data-bs-target="#locate-tab-pane" type="button" role="tab" aria-controls="locate-tab-pane" aria-selected="true">Lokacija</div>
              </div>
            </div>
            <div class="tab-content" id="myTabContent">
              <div class="full_map_area tab-pane fade show active" id="mapa-tab-pane" role="tabpanel" aria-labelledby="mapa-tab" tabindex="0">
                <div class="full_map style2">
                  <div class="map-canvas skin2" style="height: 565px" id="map">
                  </div>
                </div>
              </div>
               <div class="tab-pane fade" id="locate-tab-pane" role="tabpanel" aria-labelledby="locate-tab" tabindex="0">
            Lokacija
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 ps-3 pe-0 mb-4">
          <div class="col shadow card-body rounded p-4 h-100">
            {% if promoted_listings.1 %}
              {% include 'includes/listings/listing_overlay_card.html' with listing=promoted_listings.1 %}
            {% endif %}
            {% if articles.1 %}
              {% include 'blog/blog_card.html' with article=articles.1 %}
            {% endif %}
          </div>
        </div>
      </div>

        <!-- TODO: Define data for aprox listing price per location -->
      <div class="row non-printable-area">
        <div class="col-8 pe-3 ps-0">
          <div class="shadow card-body py-4 px-3 rounded mb-4" style="height: 690px;">
            <div class="row">
              {% for promoted in promoted_listings|slice:":2" %}
                {% include 'includes/listings/listing_card_insted_chart.html' with listing=promoted %}
              {% endfor %}
              </div>
             <!---TODO: CHART WHEN WE GET DATA-->
            <!-- <div class="row border-bottom mx-0 fs-5 mt-3 mb-1" id="chart" role="tablist">
              <div class="col-6 d-flex px-0">
                <div class="d-flex active pb-2 canvasStyle" id="averageprice-tab" data-bs-toggle="tab" data-bs-target="#averageprice-tab-pane" type="button" role="tab" aria-controls="averageprice-tab-pane" aria-selected="true">Prosecna cena na lokaciji</div>
              </div>
            </div>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="averageprice-tab-pane" role="tabpanel" aria-labelledby="averageprice-tab" tabindex="0"><canvas id="myChart" class="" style="width:100%;height:570px"></canvas></div>
            </div> -->
          </div>
        </div>
        <div class="col-4 ps-3 pe-0 mb-4">
          <div class="col shadow card-body rounded p-4 h-100">
            {% if promoted_listings.2 %}
              {% include 'includes/listings/listing_overlay_card.html' with listing=promoted_listings.2 %}
            {% endif %}
            {% if articles.2 %}
              {% include 'blog/blog_card.html' with article=articles.2 %}
            {% endif %}
          </div>
        </div>
      </div>


    <!-- Suggested Listings -->
    <div class="row mb-4 non-printable-area" style="margin: 0px -52px;" >
      <h3 class="col-12 mt-5 section-title text-center" style="margin-bottom: 32px;">Preporučeni Oglasi</h3>

      <div class="carousel-inner pb-5">
        <div class=" carousel-item active">
          <div class="row">
            {% for similar in similar_listings %}
            <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-12 mb-4">
              {% include 'includes/listings/listing_card.html' with listing=similar %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="loyalty-program text-center">
  <div class="margin-container">
    <h3 class="mb-4 section-subtitle">Loyalty program</h3>
    <p class="section-text">S obzirom da smo novi na tržištu nekretnina kao portal, spremili smo za naše korisnike tkzv “loyalty program”. Program kao što sam naziv kaže, lojalnost za sve naše korisnike koji startuju sa nama na ovom putovanju imaće povoljnije uslove i veće mogućnosti u upravljanju i promovisanju svojih oglasa. Više na stranici cenovnik o detaljima.</p>
  </div>
 </section>
{% endblock %}

{% block page_specific_scripts %}
<script src="https://cdn.maptiler.com/maplibre-gl-js/v2.4.0/maplibre-gl.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


<script>
  const share = document.getElementById('share_on_hover');
  const prints = document.getElementById('print_on_hover');
  const compare = document.getElementById('compare_on_hover');
  const shareSrc = share.src;
  const printSrc = prints.src;
  const compareSrc = compare.src;
  const newShare = '{% static "images/icons/share_hover.svg" %}';
  const newPrints = '{% static "images/icons/print_on_hover.svg" %}';
  const newCompare = '{% static "images/icons/compare_on_hover.svg" %}';

share.addEventListener('mouseover', function() {
  share.src = newShare;
});
share.addEventListener('mouseout', function() {
  share.src = shareSrc;
});
prints.addEventListener('mouseover', function() {
  prints.src = newPrints
})
prints.addEventListener('mouseout', function() {
  prints.src = printSrc
});
compare.addEventListener('mouseover', function() {
  compare.src = newCompare
})
compare.addEventListener('mouseout', function() {
  compare.src = compareSrc
});
if (document.getElementById('like_on_hover')) {
  const like = document.getElementById('like_on_hover');
  const likeSrc = like.src;
  const newLike = '{% static "images/icons/not_liked_on_hover.svg" %}';
  like.addEventListener('mouseover', function() {
    like.src = newLike;
  });
  like.addEventListener('mouseout', function() {
    like.src = likeSrc;
  });
}
if (document.getElementById('liked_on_hover')) {
  const liked = document.getElementById('liked_on_hover');
  const likedSrc = liked.src;
  const newLike = '{% static "images/icons/not_liked_on_hover.svg" %}';
  liked.addEventListener('mouseover', function() {
    liked.src = newLike;
  });
  liked.addEventListener('mouseout', function() {
    liked.src = likedSrc;
  });
}

  // Tab modals styles
  function tabStyleHandler(elementId, className, styleClass) {
    let element = document.getElementById(elementId);
    if (!element || !className || !styleClass) {
      return;
    }
    let items = element.getElementsByClassName(className);
      for (let i = 0; i < items.length; i++) {
      items[i].addEventListener("click", function() {
      let current = document.getElementsByClassName(styleClass);
      current[0].className = current[0].className.replace(" " + styleClass, "");
      this.className += " " + styleClass;
      });
    }
  }
  tabStyleHandler("infoPills", "info", "infoTabStyle");
  tabStyleHandler("imagesVideosFloorplanPills", "media", "imageVideoFlooplanStyle");
  tabStyleHandler("mapAndLocation", "place", "mapLocationStyle");


  // Thumbnail alingment and scroll
function caroseulIndicatorFrame() {
  const caroseul = document.getElementById('caroseulIndicatorFrame')
  if(caroseul.childElementCount < 7)
  caroseul.style.width = '100%'
}
caroseulIndicatorFrame()

const thumbnailItems = document.querySelectorAll('.thumbnail-item');
const carouselItems = document.querySelectorAll('.thumbnail-target');

thumbnailItems.forEach((thumbnail, index) => {
  thumbnail.addEventListener('click', () => {
    carouselItems[index].scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'center' });
  });
});


const key = 'VmRKj3ewutGzwLJmPdKS';
const style = `https://api.maptiler.com/maps/streets-v2/style.json?key=${key}`
const userPin = [Number("{{listing.listingmap_set.first.lng }}"), Number("{{listing.listingmap_set.first.lat }}")]
const zoom = {{listing.listingmap_set.first.zoom}}
const map = new maplibregl.Map({
  container: 'map',
  style: style ,
  center: userPin,
  zoom: zoom
})
const marker = new maplibregl.Marker({
  color: "red",
}).setLngLat(userPin).addTo(map);

map.addControl(new maplibregl.NavigationControl(), 'top-right');
map.on('error', function(err) {
  throw new Error("To load the map, you must replace YOUR_MAPTILER_API_KEY_HERE first, see README");
});

// Chart

// let labels = [];
// let data = [];

// function generateData() {
//   {% for cd in chart_data %}
//     labels.push('{{cd.quarter|date:'M-Y'}}')
//     data.push('{{cd.avg_price}}')
//   {% endfor %}
// }

// generateData();

// new Chart("myChart", {
//   type: "line",
//   data: {
//     labels: labels,
//     datasets: [{
//       fill: true, // Set fill to true to fill area under line
//       pointRadius: 4,
//       borderColor: "#dd557b",
//       backgroundColor: "#dd557b", // Set desired background color
//       data: data
//     }]
//   },
//   options: {
//     title: {
//       display: true,
//       text: '{{listing.city}}',
//       fontSize: 18,
//       fontColor: 'black',
//       fontStyle: 'bold',
//     },
//     legend: {display: false},
//     scales: {
//       type: 'time',
//       xAxes: [{
//         ticks: {
//           maxRotation: 0,
//           reverse: false,
//           fontSize: 16
//         },
//       }],
//       yAxes: [{
//         ticks: {
//           fontSize: 16,
//         },
//       }]
//     },
//   }
// });


</script>

{% if listing.type == '0' %}
{% comment %} Price per square {% endcomment %}
<script>
function pricePerSquare() {
  document.getElementById('price_per_square').innerHTML = new Intl.NumberFormat('de-DE', { maximumFractionDigits: 2 }).format({{listing.price}} / {{listing.listingcharacteristics_set.first.size}});
};
pricePerSquare()

</script>
{% endif %}

{% endblock %}

