{% extends 'base.html' %}
{% load static %}

{% block page_specific_styles %}
  <link rel="stylesheet" href="{% static 'css/listings.css' %}">
{% endblock %}

{% block content %}
<!-- Filters -->
<div class="row m-0 margin-container-half-map px-5 py-1 border-bottom align-items-center" style="height: 64px;">
  <div class="col-2 ps-0 m-auto">Rezultata: {{ listings.paginator.count }}</div>
  <div class="col-2 p-0 d-flex justify-content-end align-items-center" style="margin-right: -18px;">{% include 'includes/listings/listings_pagination.html' %}</div>
  <div class="col-3 px-5">{% include 'includes/listings/listings_sorting.html' %}</div>
  {% include 'includes/listings/change_page_view.html' %}
</div>

<div class="container-fluid m-0 p-0 h-100 margin-container-half-map">
  <!-- Listings and Map -->
  <div class="px-5 py-3 m-0 d-flex">
    <div class="ps-0  h-100" style="margin-right: 12px;">
      {% include 'includes/listings/side_filter.html' %}
    </div>
    <div class="rounded pe-0" >
      {% for listing in listings %}
        {% include 'includes/dashboard/my_favorites_card.html' %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}