{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Listing Grid View -->
  <section id="feature-property" class="our-listing bgc-f7 pt0 pb0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="sidebar_switch mobile_style dn db-991 mt30 mb0">
            <div id="main2">
              <span id="open2" class="flaticon-filter-results-button filter_open_btn style4"> Show Filter</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="half_map_area">
            <div class="home_two_map style2">
              <div class="map-canvas skin2 half_style" id="contact-google-map"
                   data-map-lat="51.510280" data-map-lng="-0.084028"
                   data-icon-path="{% static 'images/logo/1.png' %}" data-map-title="Awesome Place"
                   data-map-zoom="14"></div>
            </div>
          </div>
        </div>
        <div class="col-xl-8">
          <div class="half_map_area_content">
            <div class="row">
              <div class="col-lg-12 listing-results">
                <div class="d-flex flex-column bd-highlight mb-3">
                  <div class="bd-highlight home1-advnc-search home2 style2">

                    <div class="d-flex flex-fill h1ads_1st_list half_style">
                      <div class="search_option_two home2">
                        <div class="candidate_revew_select">
                          <select class="selectpicker w100 show-tick">
                            <option>Buy</option>
                            <option>Sell</option>
                            <option>Other</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <input type="text" class="form-control"
                               placeholder="Search by City, Neighborhood, or Address">
                      </div>

                      <div class="navbered">
                        <div class="mega-dropdown home2">
                          <span id="show_advbtn" class="dropbtn">Advanced <i
                              class="flaticon-more pl10 flr-520"></i></span>
                          <div class="dropdown-content home2 half_style">
                            <div class="row p15 pb0-767">
                              <div class="col-lg-12 text-left">
                                <h4 class="text-thm3">Amenities</h4>
                              </div>
                              <div class="col-xxs-6 col-sm col-lg col-xl">
                                <ul class="ui_kit_checkbox selectable-list text-left">
                                  <li>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input"
                                             id="customCheck1">
                                      <label class="custom-control-label" for="customCheck1">Air
                                        Conditioning</label>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input"
                                             id="customCheck2">
                                      <label class="custom-control-label"
                                             for="customCheck2">Lawn</label>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input"
                                             id="customCheck3">
                                      <label class="custom-control-label" for="customCheck3">Swimming
                                        Pool</label>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-xxs-6 col-sm col-lg col-xl">
                                <ul class="ui_kit_checkbox selectable-list text-left">
                                  <li>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input"
                                             id="customCheck4">
                                      <label class="custom-control-label" for="customCheck4">Barbeque</label>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input"
                                             id="customCheck5">
                                      <label class="custom-control-label" for="customCheck5">Microwave</label>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input"
                                             id="customCheck6">
                                      <label class="custom-control-label" for="customCheck6">TV
                                        Cable</label>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-xxs-6 col-sm col-lg col-xl">
                                <ul class="ui_kit_checkbox selectable-list text-left">
                                  <li>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input"
                                             id="customCheck7">
                                      <label class="custom-control-label"
                                             for="customCheck7">Dryer</label>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input"
                                             id="customCheck8">
                                      <label class="custom-control-label" for="customCheck8">Outdoor
                                        Shower</label>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input"
                                             id="customCheck9">
                                      <label class="custom-control-label"
                                             for="customCheck9">Washer</label>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-xxs-6 col-sm col-lg col-xl">
                                <ul class="ui_kit_checkbox selectable-list text-left">
                                  <li>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input"
                                             id="customCheck10">
                                      <label class="custom-control-label"
                                             for="customCheck10">Gym</label>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input"
                                             id="customCheck11">
                                      <label class="custom-control-label" for="customCheck11">Refrigerator</label>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input"
                                             id="customCheck12">
                                      <label class="custom-control-label"
                                             for="customCheck12">WiFi</label>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-xxs-6 col-sm col-lg col-xl">
                                <ul class="ui_kit_checkbox selectable-list text-left">
                                  <li>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input"
                                             id="customCheck13">
                                      <label class="custom-control-label" for="customCheck13">Laundry</label>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input"
                                             id="customCheck14">
                                      <label class="custom-control-label"
                                             for="customCheck14">Sauna</label>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input"
                                             id="customCheck15">
                                      <label class="custom-control-label" for="customCheck15">Window
                                        Coverings</label>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="row p15 pt0-991">
                              <div class="col-lg-11 col-xl-10">
                                <ul class="apeartment_area_list mb0">
                                  <li class="list-inline-item">
                                    <div class="candidate_revew_select mb20">
                                      <select class="selectpicker w100 show-tick">
                                        <option>Bathrooms</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                      </select>
                                    </div>
                                  </li>
                                  <li class="list-inline-item">
                                    <div class="candidate_revew_select mb20">
                                      <select class="selectpicker w100 show-tick">
                                        <option>Bedrooms</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                      </select>
                                    </div>
                                  </li>
                                  <li class="list-inline-item">
                                    <div class="candidate_revew_select mb20">
                                      <select class="selectpicker w100 show-tick">
                                        <option>Year built</option>
                                        <option>2013</option>
                                        <option>2014</option>
                                        <option>2015</option>
                                        <option>2016</option>
                                        <option>2017</option>
                                        <option>2018</option>
                                        <option>2019</option>
                                        <option>2020</option>
                                      </select>
                                    </div>
                                  </li>
                                  <li class="list-inline-item">
                                    <div class="candidate_revew_select mb20">
                                      <select class="selectpicker w100 show-tick">
                                        <option>Built-up Area</option>
                                        <option>Adana</option>
                                        <option>Ankara</option>
                                        <option>Antalya</option>
                                        <option>Bursa</option>
                                        <option>Bodrum</option>
                                        <option>Gaziantep</option>
                                        <option>İstanbul</option>
                                        <option>İzmir</option>
                                        <option>Konya</option>
                                      </select>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-lg-1 col-xl-2">
                                <div class="mega_dropdown_content_closer">
                                  <h5 class="text-thm text-right mt15">
                                    <span id="hide_advbtn" class="curp">Hide</span>
                                  </h5>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bd-highlight">
                    <div class="grid_list_search_result mt30-991">
                      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-5">
                        <div class="left_area tac-xsd">
                          <p>9 Search results</p>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-8 col-lg-8 col-xl-7">
                        <div class="half_map_advsrch_navg text-right tac-xsd">
                          <ul>
                            <li class="list-inline-item"><span class="stts">Sort by:</span>
                              <select class="selectpicker show-tick">
                                <option>Featured First</option>
                                <option>Featured 2nd</option>
                                <option>Featured 3rd</option>
                                <option>Featured 4th</option>
                                <option>Featured 5th</option>
                              </select>
                            </li>
                            <li class="list-inline-item"><a class="hvr-text-thm" href="#"><span
                                class="fa fa-th-large"></span></a></li>
                            <li class="list-inline-item"><a class="hvr-text-thm" href="#"><span
                                class="fa fa-th-list"></span></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bd-highlight">Flex item 3</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <ul class="feature_property_half_clist mb0">
                  <li class="extrawide list-inline-item">
                    <div class="feat_property home7 style4">
                      <div class="thumb">
                        <div class="fp_single_item_slider">
                          <div class="item">
                            <img class="img-whp" src="{% static 'images/property/fp1.jpg' %}"
                                 alt="fp1.jpg">
                          </div>
                          <div class="item">
                            <img class="img-whp" src="{% static 'images/property/fp2.jpg' %}"
                                 alt="fp2.jpg">
                          </div>
                        </div>
                        <div class="thmb_cntnt style2">
                          <ul class="tag mb0">
                            <li class="list-inline-item"><a href="#">For Rent</a></li>
                            <li class="list-inline-item"><a href="#">Featured</a></li>
                          </ul>
                        </div>
                        <div class="thmb_cntnt style3">
                          <ul class="icon mb0">
                            <li class="list-inline-item"><a href="#"><span
                                class="flaticon-transfer-1"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span
                                class="flaticon-heart"></span></a></li>
                          </ul>
                          <a class="fp_price" href="#">$13,000<small>/mo</small></a>
                        </div>
                      </div>
                      <div class="details">
                        <div class="tc_content">
                          <p class="text-thm">Apartment</p>
                          <h4>Renovated Apartment</h4>
                          <p><span class="flaticon-placeholder"></span> 1421 San Pedro St, Los
                            Angeles, CA 90015</p>
                          <ul class="prop_details mb0">
                            <li class="list-inline-item"><a href="#">Beds: 4</a></li>
                            <li class="list-inline-item"><a href="#">Baths: 2</a></li>
                            <li class="list-inline-item"><a href="#">Sq Ft: 5280</a></li>
                          </ul>
                        </div>
                        <div class="fp_footer">
                          <ul class="fp_meta float-left mb0">
                            <li class="list-inline-item"><a href="#"><img
                                src="{% static 'images/property/pposter1.png' %}"
                                alt="pposter1.png"></a></li>
                            <li class="list-inline-item"><a href="#">Ali Tufan</a></li>
                          </ul>
                          <div class="fp_pdate float-right">4 years ago</div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="extrawide list-inline-item">
                    <div class="feat_property home7 style4">
                      <div class="thumb">
                        <div class="fp_single_item_slider">
                          <div class="item">
                            <img class="img-whp" src="{% static 'images/property/fp2.jpg' %}"
                                 alt="fp2.jpg">
                          </div>
                          <div class="item">
                            <img class="img-whp" src="{% static 'images/property/fp3.jpg' %}"
                                 alt="fp3.jpg">
                          </div>
                        </div>
                        <div class="thmb_cntnt style2">
                          <ul class="tag mb0">
                            <li class="list-inline-item"><a href="#">For Rent</a></li>
                            <li class="list-inline-item dn"></li>
                          </ul>
                        </div>
                        <div class="thmb_cntnt style3">
                          <ul class="icon mb0">
                            <li class="list-inline-item"><a href="#"><span
                                class="flaticon-transfer-1"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span
                                class="flaticon-heart"></span></a></li>
                          </ul>
                          <a class="fp_price" href="#">$13,000<small>/mo</small></a>
                        </div>
                      </div>
                      <div class="details">
                        <div class="tc_content">
                          <p class="text-thm">Villa</p>
                          <h4>Gorgeous Villa Bay View</h4>
                          <p><span class="flaticon-placeholder"></span> 1421 San Pedro St, Los
                            Angeles, CA 90015</p>
                          <ul class="prop_details mb0">
                            <li class="list-inline-item"><a href="#">Beds: 4</a></li>
                            <li class="list-inline-item"><a href="#">Baths: 2</a></li>
                            <li class="list-inline-item"><a href="#">Sq Ft: 5280</a></li>
                          </ul>
                        </div>
                        <div class="fp_footer">
                          <ul class="fp_meta float-left mb0">
                            <li class="list-inline-item"><a href="#"><img
                                src="{% static 'images/property/pposter1.png' %}"
                                alt="pposter1.png"></a></li>
                            <li class="list-inline-item"><a href="#">Ali Tufan</a></li>
                          </ul>
                          <div class="fp_pdate float-right">4 years ago</div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="extrawide list-inline-item">
                    <div class="feat_property home7 style4">
                      <div class="thumb">
                        <div class="fp_single_item_slider">
                          <div class="item">
                            <img class="img-whp" src="{% static 'images/property/fp3.jpg' %}"
                                 alt="fp3.jpg">
                          </div>
                          <div class="item">
                            <img class="img-whp" src="{% static 'images/property/fp4.jpg' %}"
                                 alt="fp4.jpg">
                          </div>
                        </div>
                        <div class="thmb_cntnt style2">
                          <ul class="tag mb0">
                            <li class="list-inline-item"><a href="#">For Sale</a></li>
                            <li class="list-inline-item dn"></li>
                          </ul>
                        </div>
                        <div class="thmb_cntnt style3">
                          <ul class="icon mb0">
                            <li class="list-inline-item"><a href="#"><span
                                class="flaticon-transfer-1"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span
                                class="flaticon-heart"></span></a></li>
                          </ul>
                          <a class="fp_price" href="#">$13,000<small>/mo</small></a>
                        </div>
                      </div>
                      <div class="details">
                        <div class="tc_content">
                          <p class="text-thm">Single Family Home</p>
                          <h4>Luxury Family Home</h4>
                          <p><span class="flaticon-placeholder"></span> 1421 San Pedro St, Los
                            Angeles, CA 90015</p>
                          <ul class="prop_details mb0">
                            <li class="list-inline-item"><a href="#">Beds: 4</a></li>
                            <li class="list-inline-item"><a href="#">Baths: 2</a></li>
                            <li class="list-inline-item"><a href="#">Sq Ft: 5280</a></li>
                          </ul>
                        </div>
                        <div class="fp_footer">
                          <ul class="fp_meta float-left mb0">
                            <li class="list-inline-item"><a href="#"><img
                                src="{% static 'images/property/pposter1.png' %}"
                                alt="pposter1.png"></a></li>
                            <li class="list-inline-item"><a href="#">Ali Tufan</a></li>
                          </ul>
                          <div class="fp_pdate float-right">4 years ago</div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="extrawide list-inline-item">
                    <div class="feat_property home7 style4">
                      <div class="thumb">
                        <div class="fp_single_item_slider">
                          <div class="item">
                            <img class="img-whp" src="{% static 'images/property/fp3.jpg' %}"
                                 alt="fp3.jpg">
                          </div>
                          <div class="item">
                            <img class="img-whp" src="{% static 'images/property/fp4.jpg' %}"
                                 alt="fp4.jpg">
                          </div>
                        </div>
                        <div class="thmb_cntnt style2">
                          <ul class="tag mb0">
                            <li class="list-inline-item"><a href="#">For Rent</a></li>
                            <li class="list-inline-item"><a href="#">Featured</a></li>
                          </ul>
                        </div>
                        <div class="thmb_cntnt style3">
                          <ul class="icon mb0">
                            <li class="list-inline-item"><a href="#"><span
                                class="flaticon-transfer-1"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span
                                class="flaticon-heart"></span></a></li>
                          </ul>
                          <a class="fp_price" href="#">$13,000<small>/mo</small></a>
                        </div>
                      </div>
                      <div class="details">
                        <div class="tc_content">
                          <p class="text-thm">Apartment</p>
                          <h4>Luxury Family Home</h4>
                          <p><span class="flaticon-placeholder"></span> 1421 San Pedro St, Los
                            Angeles, CA 90015</p>
                          <ul class="prop_details mb0">
                            <li class="list-inline-item"><a href="#">Beds: 4</a></li>
                            <li class="list-inline-item"><a href="#">Baths: 2</a></li>
                            <li class="list-inline-item"><a href="#">Sq Ft: 5280</a></li>
                          </ul>
                        </div>
                        <div class="fp_footer">
                          <ul class="fp_meta float-left mb0">
                            <li class="list-inline-item"><a href="#"><img
                                src="{% static 'images/property/pposter1.png' %}"
                                alt="pposter1.png"></a></li>
                            <li class="list-inline-item"><a href="#">Ali Tufan</a></li>
                          </ul>
                          <div class="fp_pdate float-right">4 years ago</div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="extrawide list-inline-item">
                    <div class="feat_property home7 style4">
                      <div class="thumb">
                        <div class="fp_single_item_slider">
                          <div class="item">
                            <img class="img-whp" src="{% static 'images/property/fp3.jpg' %}"
                                 alt="fp3.jpg">
                          </div>
                          <div class="item">
                            <img class="img-whp" src="{% static 'images/property/fp4.jpg' %}"
                                 alt="fp4.jpg">
                          </div>
                        </div>
                        <div class="thmb_cntnt style2">
                          <ul class="tag mb0">
                            <li class="list-inline-item"><a href="#">For Rent</a></li>
                            <li class="list-inline-item"><a href="#">Featured</a></li>
                          </ul>
                        </div>
                        <div class="thmb_cntnt style3">
                          <ul class="icon mb0">
                            <li class="list-inline-item"><a href="#"><span
                                class="flaticon-transfer-1"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span
                                class="flaticon-heart"></span></a></li>
                          </ul>
                          <a class="fp_price" href="#">$13,000<small>/mo</small></a>
                        </div>
                      </div>
                      <div class="details">
                        <div class="tc_content">
                          <p class="text-thm">Apartment</p>
                          <h4>Renovated Apartment</h4>
                          <p><span class="flaticon-placeholder"></span> 1421 San Pedro St, Los
                            Angeles, CA 90015</p>
                          <ul class="prop_details mb0">
                            <li class="list-inline-item"><a href="#">Beds: 4</a></li>
                            <li class="list-inline-item"><a href="#">Baths: 2</a></li>
                            <li class="list-inline-item"><a href="#">Sq Ft: 5280</a></li>
                          </ul>
                        </div>
                        <div class="fp_footer">
                          <ul class="fp_meta float-left mb0">
                            <li class="list-inline-item"><a href="#"><img
                                src="{% static 'images/property/pposter1.png' %}"
                                alt="pposter1.png"></a></li>
                            <li class="list-inline-item"><a href="#">Ali Tufan</a></li>
                          </ul>
                          <div class="fp_pdate float-right">4 years ago</div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="extrawide list-inline-item">
                    <div class="feat_property home7 style4">
                      <div class="thumb">
                        <div class="fp_single_item_slider">
                          <div class="item">
                            <img class="img-whp" src="{% static 'images/property/fp3.jpg' %}"
                                 alt="fp3.jpg">
                          </div>
                          <div class="item">
                            <img class="img-whp" src="{% static 'images/property/fp4.jpg' %}"
                                 alt="fp4.jpg">
                          </div>
                        </div>
                        <div class="thmb_cntnt style2">
                          <ul class="tag mb0">
                            <li class="list-inline-item"><a href="#">For Rent</a></li>
                            <li class="list-inline-item dn"></li>
                          </ul>
                        </div>
                        <div class="thmb_cntnt style3">
                          <ul class="icon mb0">
                            <li class="list-inline-item"><a href="#"><span
                                class="flaticon-transfer-1"></span></a></li>
                            <li class="list-inline-item"><a href="#"><span
                                class="flaticon-heart"></span></a></li>
                          </ul>
                          <a class="fp_price" href="#">$13,000<small>/mo</small></a>
                        </div>
                      </div>
                      <div class="details">
                        <div class="tc_content">
                          <p class="text-thm">Villa</p>
                          <h4>Gorgeous Villa Bay View</h4>
                          <p><span class="flaticon-placeholder"></span> 1421 San Pedro St, Los
                            Angeles, CA 90015</p>
                          <ul class="prop_details mb0">
                            <li class="list-inline-item"><a href="#">Beds: 4</a></li>
                            <li class="list-inline-item"><a href="#">Baths: 2</a></li>
                            <li class="list-inline-item"><a href="#">Sq Ft: 5280</a></li>
                          </ul>
                        </div>
                        <div class="fp_footer">
                          <ul class="fp_meta float-left mb0">
                            <li class="list-inline-item"><a href="#"><img
                                src="{% static 'images/property/pposter1.png' %}"
                                alt="pposter1.png"></a></li>
                            <li class="list-inline-item"><a href="#">Ali Tufan</a></li>
                          </ul>
                          <div class="fp_pdate float-right">4 years ago</div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-lg-12 mb30">
                <div class="mbp_pagination">
                  <ul class="page_navigation">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1" aria-disabled="true"> <span
                          class="flaticon-left-arrow"></span> Prev</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">29</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#"><span class="flaticon-right-arrow"></span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block page_specific_scripts %}

  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWkSMOzXbSii4y-Skg2_SGrFQM9MLVYOA&callback=initMap&v=weekly"
      defer
  ></script>
  <script>
    // Initialize and add the map
    function initMap() {
      // The location of Uluru 44.8125° N, 20.4612° E
      const belgrade = { lat: 44.8125, lng: 20.4612 };
      // The map, centered at Uluru
      const map = new google.maps.Map(document.getElementById("contact-google-map"), {
        zoom: 10,
        center: belgrade,
      });
      // The marker, positioned at Uluru
      const marker = new google.maps.Marker({
        position: belgrade,
        map: map,
      });
    }

    window.initMap = initMap;
  </script>
{% endblock %}
