{% extends 'base.html' %}
{% load static %}

{% block page_specific_styles %}
  <link rel="stylesheet" href="{% static 'css/listings.css' %}">
{% endblock %}

{% block content %}
<div class="row margin-container m-0 py-1" style="height: 64px;">
  {% include 'includes/listings/listings_filter_top.html' %}
  {% include 'includes/listings/change_page_view.html' %}
</div>

<div class="w-100 border-bottom"></div>

  <section class="full-map-listing-section">
    
    <div class="container-fluid h-100 m-0 p-0 h-100 margin-container-half-map">
      <!-- Filters -->
      
      <!-- Map -->
      <div class="full-screen-row h-100">
        <div class="col h-100 px-5">
          {% include 'includes/listings/listings_map.html' with listing=listing %}
        </div>
      </div>
    </div>
    </div>
  </section>
{% endblock %}