{% extends 'base.html' %}
{% load static %}

{% block page_specific_styles %}
  <link rel="stylesheet" href="{% static 'css/filepond.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/filepond-image-preview.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/uppy.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/listings.css' %}">
{% endblock %}

{% block content %}
  <section class="create-listing p-3 pt-4 flex-shrink-0">
    <div class="container-fluid">
      <div class="row">
        {% include 'includes/profile_sidebar.html' %}
        <div class="col-10 main-area">
          <div class="creation-steps d-flex justify-content-center mb-3">
            <div class="col shadow-sm active">1. Opis</div>
            <div class="col shadow-sm">2. Multimedija</div>
            <div class="col shadow-sm">3. Lokacija</div>
            <div class="col shadow-sm">4. Karakteristike</div>
            <div class="col shadow-sm">5. Detalji</div>
          </div>
          <form>
            <div class="creation-content justify-content-center" id="step1">
              <div class="col creation-step me-4">
                <div class="step-section mb-4">
                  {# Step main heading #}
                  <div class="d-flex justify-content-start mb-4 step-heading">
                    <h5 class="align-self-end me-4">Opis</h5>
                    <small class="align-self-end">Opišite vašu nekretninu</small>
                  </div>
                  <div class="mb-3">
                    <label for="title" class="form-label">Naslov oglasa (obavezno)</label>
                    <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp">
                  </div>
                  <div class="mb-3">
                    <div class="d-flex justify-content-start mb-4 step-heading">
                      <p class="align-self-end me-4">Opis</p>
                      <small class="align-self-end">Napišite par rečenica o vašoj nekretnini</small>
                    </div>
                    <textarea class="form-control" name="description" id="description" cols="30" rows="10"></textarea>
                  </div>
                </div>
                <div class="step-section">
                  {# Step sub heading #}
                  <div class="d-flex justify-content-start mb-4 step-heading">
                    <h5 class="align-self-end me-4">Status</h5>
                    <small class="align-self-end">Izaberite vrstu oglašavanja</small>
                  </div>
                  <div class="mb-3">
                    <select class="form-select" aria-label="Default select example" name="type" id="type">
                      <option value="1" selected>Prodaja</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>

              </div>
              <div class="col">
                <div class="creation-step mb-4">
                  <div class="step-section ">
                    <div class="d-flex justify-content-start mb-4 step-heading">
                      <h5 class="align-self-end me-4">Tip</h5>
                      <small class="align-self-end">Izaberite kategoriju i tip vaše nekretnine</small>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div style="width: 280px;">
                        <label for="category" class="form-label">Kategorija</label>
                        <select class="form-select" id="category">
                          <option selected="">Open this select menu</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                      <div style="width: 220px;">
                        <label for="subcateg" class="form-label">Tip</label>
                        <input type="text" class="form-control" id="subcateg" name="subcateg">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="creation-step mb-4">
                  <div class="step-section">
                    <div class="d-flex justify-content-start mb-4 step-heading">
                      <h5 class="align-self-end me-4">Cena</h5>
                      <small class="align-self-end">Upišite cenu vaše nekretnine u EUR</small>
                    </div>
                    <div class="w100">
                      <input type="text" class="form-control" id="price" name="price">
                    </div>
                  </div>
                </div>

                <div class="creation-step">
                  <div class="step-section mb-4">
                    <div class="d-flex justify-content-start mb-4 step-heading">
                      <h5 class="align-self-end me-4">Oglašavač</h5>
                      <small class="align-self-end">(Izaberite kategoriju i tip vaše nekretnine)</small>
                    </div>
                    <div class="w100">
                      <select class="form-select" id="advertiser" name="advertiser">
                        <option selected="">Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-end next-step">
                  <button class="btn btn-blue btn-creation-step" type="button" id="nextStep">
                    Dalje
                    <i class="bi bi-chevron-double-right"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="creation-content justify-content-center show" id="step2">
              <div class="col me-4">
                <div class="creation-step step-section mb-4">
                  {# Step main heading #}
                  <div class="text-center mb-4 step-heading">
                    <h5>Učitajte slike</h5>
                    <div id="drag-drop-area"></div>
                  </div>
                </div>

                <div class="creation-step step-section mb-4">
                  {# Step main heading #}
                  <div class="text-center mb-4 step-heading">
                    <h5>Učitajte tlocrt</h5>
                    <div id="tlocrt-area"></div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="creation-step step-section mb-4">
                  {# Step main heading #}
                  <div class="text-center mb-4 step-heading">
                    <h5>Učitajte video</h5>
                    <div id="video-area"></div>
                  </div>
                </div>

                <div class="creation-step step-section mb-4">
                  {# Step main heading #}
                  <div class="text-center mb-4 step-heading">
                    <h5>Učitajte virtuelnu turu</h5>
                    <div>
                      Image loader
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-end next-step">
                  <button class="btn btn-blue btn-creation-step" type="button" id="nextStep">
                    Dalje
                    <i class="bi bi-chevron-double-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block page_specific_scripts %}
{#  <script src="{% static 'js/filepond-image-preview.min.js' %}"></script>#}
{#  <script src="{% static 'js/filepond-image-resize.min.js' %}"></script>#}
{#  <script src="{% static 'js/filepond-image-transform.min.js' %}"></script>#}
{#  <script src="{% static 'js/filepond.min.js' %}"></script>#}
{#  <script>#}
{#    FilePond.registerPlugin(#}
{#      FilePondPluginImagePreview,#}
{#      FilePondPluginImageResize,#}
{#      FilePondPluginImageTransform#}
{#    );#}
{#    FilePond.create(document.querySelector('.filepond'), {#}
{#      labelIdle: 'Učitajte slike',#}
{#      imagePreviewMaxHeight: '128'#}
{#    });#}
{#  </script>#}

  <script src="{% static 'js/uppy.min.js' %}"></script>
  <script src="{% static 'js/uppy-rs.min.js' %}"></script>
  <script>
  const uppy = new Uppy.Uppy({
    debug: true,
    locale: Uppy.locales.sr_RS_Latin,
    restrictions: {
      maxFiles: 5,
      maxFileSize: 1000000,
      minFileSize: 50000,
      minNumberOfFiles: 1,
      allowedFileTypes: ['image/*'],
    },
  });
  uppy.use(Uppy.Dashboard, {
    inline: true,
    width: '100%',
    height: 450,
    target: '#drag-drop-area',
    closeAfterFinish: false,
    note: 'Slike su jedino dozvoljene, do 5 komada, do 1MB svaka',
  });
  uppy.use(Uppy.ImageEditor, {
    target: Uppy.Dashboard,
    quality: 0.8,
  });
  uppy.use(Uppy.Tus, {
    endpoint: 'https://tusd.tusdemo.net/files/'
  });
  uppy.on('complete', (result) => {
    console.log('Upload complete! We’ve uploaded these files:', result.successful);
    // iterate over result.successful
    // Create new html element `<input name="myParam" value=""/>` for each image uploaded
    // from response.uploadURL set value for the input field
  });
  </script>
  <script>
  const uppyTlocrt = new Uppy.Uppy({
    debug: true,
    locale: Uppy.locales.sr_RS_Latin,
    restrictions: {
      maxFiles: 1,
      maxFileSize: 1000000,
      minFileSize: 50000,
      minNumberOfFiles: 1,
      allowedFileTypes: ['image/*'],
    },
  });
  uppyTlocrt.use(Uppy.Dashboard, {
    width: '100%',
    height: 450,
    inline: true,
    target: '#tlocrt-area',
    closeAfterFinish: false,
    note: 'Slike su jedino dozvoljene, do 1 komad, do 1MB veličine',
  });
  uppyTlocrt.use(Uppy.Tus, {
    endpoint: 'https://tusd.tusdemo.net/files/'
  });
  uppyTlocrt.on('complete', (result) => {
    console.log('Upload complete! We’ve uploaded these files:', result.successful);
    // iterate over result.successful
    // Create new html element `<input name="myParam" value=""/>` for each image uploaded
    // from response.uploadURL set value for the input field
  });
  </script>
  <script>
  const uppyVideo = new Uppy.Uppy({
    debug: true,
    locale: Uppy.locales.sr_RS_Latin,
    restrictions: {
      maxFiles: 1,
      maxFileSize: 1000000,
      minFileSize: 50000,
      minNumberOfFiles: 1,
      allowedFileTypes: ['video/*'],
    },
  });
  uppyVideo.use(Uppy.Dashboard, {
    width: '100%',
    height: 450,
    inline: true,
    target: '#video-area',
    closeAfterFinish: false,
    note: 'Video fajlovi su jedino dozvoljeni, do 1 komad, do 5MB veličine',
  });
  uppyVideo.use(Uppy.Tus, {
    endpoint: 'https://tusd.tusdemo.net/files/'
  });
  uppyVideo.on('complete', (result) => {
    console.log('Upload complete! We’ve uploaded these files:', result.successful);
    // iterate over result.successful
    // Create new html element `<input name="myParam" value=""/>` for each image uploaded
    // from response.uploadURL set value for the input field
  });
  </script>
{% endblock %}
