{% extends 'base.html' %}
{% load static %}

{% block page_specific_styles %}
  <link rel="stylesheet" href="{% static 'css/uppy.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/listings.css' %}">
  <link href="https://cdn.maptiler.com/maplibre-gl-js/v2.4.0/maplibre-gl.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="og-container pb-4" style="padding-top: 44px;">
  <div class="row">

    {% include 'includes/profile_sidebar.html' %}

    <div class="col-10 main-area pe-0 ps-4">
      <div class="creation-steps d-flex justify-content-center mb-4">
        <div id="tab1" class="col text-mid me-4 shadow active" onclick="changeActive(1)">1. Opis</div>
        <div id="tab2" class="col text-mid me-4 shadow" onclick="changeActive(2)">2. Multimedija</div>
        <div id="tab3" class="col text-mid me-4 shadow getMap" onclick="changeActive(3)">3. Lokacija</div>
        <div id="tab4" class="col text-mid me-4 shadow" onclick="changeActive(4);categories();selectCategory()">4. Karakteristike</div>
        <div id="tab5" class="col text-mid shadow" onclick="changeActive(5)">5. Detalji</div>
      </div>

      <!-- Alert -->
      <div class="alert alert-danger" id="error-alert" role="alert" hidden></div>

      <form id="create-listing-form" class="needs-validation"  onsubmit="return validateForm()" method="POST" action="{% url 'listing_submit' %}" novalidate>
        {% csrf_token %}

        <!-- DESCRIPTION TAB -->
        <div class="creation-content justify-content-center show" id="step1">
          <div class="col creation-step rounded shadow me-4" style="padding: 16px 12px 8px 12px;">
            <div class="step-section">
              {# Step main heading #}
              <div class="d-flex align-items-end mb-4 step-heading">
                <h5 class="me-4">Opis</h5>
                <div class="description-guide" >Opišite vašu nekretninu</div>
              </div>
              <div class="mb-3">
                <label for="title" class="form-label blog-type">Naslov oglasa (obavezno)</label>
                <input type="text" class="form-control border-radius-10 height-40px description-inputs" id="title" name="title" aria-describedby="titleHelp" required>
              </div>
              <div class="mb-3">
                <div class="d-flex align-items-center step-heading" style="margin-bottom: 12px;">
                  <p class="me-4 blog-type">Opis</p>
                  <div class="description-guide">Napišite par rečenica o vašoj nekretnini</div>
                </div>
                <textarea class="form-control border-radius-10 description-inputs" style="resize: none; " name="description" id="description" cols="30" rows="16" required></textarea>
              </div>
            </div>
          </div>
          <div class="col d-flex flex-column justify-content-between">
            <div class="row">
              <div class="col-12 mb-4 shadow rounded" style="padding: 16px 12px 24px 12px;">
                <div class="d-flex align-items-end step-heading" style="margin-bottom: 12px;">
                  <h5 class="me-4">Status</h5>
                  <div class="description-guide">Izaberite vrstu oglašavanja</div>
                </div>
                <select class="form-select border-radius-10 height-40px description-inputs" aria-label="Default select example" name="type" id="type" onchange="getDetails()">
                  <option value="0" selected>Prodaja</option>
                  <option value="1">Izdavanje</option>
                </select>
              </div>
              <div class="col-12 creation-step rounded shadow mb-4" style="padding: 16px 12px 24px 12px;">
                <div class="step-section">
                  <div class="d-flex align-items-end step-heading" style="margin-bottom: 12px;">
                    <h5 class="me-4">Tip</h5>
                    <div class="description-guide">(Izaberite kategoriju i tip vaše nekretnine) </div>
                  </div>
                  <div class="row">
                    <div class="col ps-0 pe-4">
                      <label for="category" class="form-label blog-type">Kategorija</label>
                      <select class="form-select border-radius-10 height-40px description-inputs" id="category" required onchange="categories(); populateSubCategories(this) ">
                        <option value="" >Izaberite kategoriju</option>
                        {% for categ in categories %}
                          {% if categ.parent is None %}
                            <option value="{{ categ.id }}">{{ categ.name }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col pe-0 ps-4">
                      <label for="tip" class="form-label blog-type">Tip</label>
                      <select required class="form-select border-radius-10 height-40px description-inputs" id="subcateg" name="subcateg" onchange="getDetails(); selectCategory()">
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 creation-step rounded shadow" style="padding: 16px 12px 24px 12px;">
                <div class="step-section">
                  <div class="d-flex align-items-end step-heading" style="margin-bottom: 12px;">
                    <h5 class="me-4" >Cena</h5>
                    <div class="description-guide">Upišite cenu vaše nekretnine u EUR</div>
                  </div>
              <div class="col-12 mb-4 shadow rounded" style="padding: 16px 12px 24px 12px;">
                  <div class="d-flex align-items-end step-heading" style="margin-bottom: 12px;">
                    <h5 class="me-4">Oglašivač</h5>
                    <div class="description-guide">Izaberite oglašivača Vaše nekretnine</div>
                  </div>
                  <select class="form-select border-radius-10 height-40px description-inputs" aria-label="Default select example" name="type" id="type" onchange="getDetails()">
                    <option value="0" selected>Agencija</option>
                    <option value="1">Vlasnik</option>
                    <option value="2">Pravno lice</option>
                    <option value="4">Investitor</option>
                  </select>
              </div>
                  <div class="w-100">
                    <input type="text" style="text-align: center;" oninput="addPeriods()" placeholder="100.000" class="form-control border-radius-10 height-40px description-inputs" id="price"  required>
                    <input type="hidden" name="price" id="raw_price">
                  </div>
                </div>
              </div>
            </div>
            <div class="p-0 d-flex justify-content-end next-step">
              <button class="btn btn-blue btn-creation-step create-edit-button" type="button" id="nextStep" onclick="switchStep(1, 2)">
                Dalje
                <i class="bi bi-chevron-double-right"></i>
              </button>
            </div>
          </div>
        </div>


        <!--MEDIA TAB-->
        <div class="creation-content justify-content-center" id="step2">
          <div class="col me-4">
            <div class="creation-step step-section mb-4">
              {# Step main heading #}
              <div class="text-center mb-4 step-heading">
                <h5>Učitajte slike</h5>
              </div>
              <div class="shadow rounded" id="browse-images"></div>
            </div>
            <div class="creation-step step-section mb-4">
              {# Step main heading #}
              <div class="text-center mb-4 step-heading">
                <h5>Dodajte link youtube videa</h5>
              </div>
              <input type="text" placeholder="https://youtube.com..." class="form-control border-radius-10 height-40px description-inputs" id="video" name="video">
            </div>
          </div>
          <div class="col">
            <div class="creation-step step-section mb-4">
              {# Step main heading #}
              <div class="text-center mb-4 step-heading">
                <h5>Učitajte tlocrt</h5>
              </div>
              <div class="shadow rounded" id="tlocrt-area"></div>
            </div>
            <div class="creation-step step-section mb-4">
              {# Step main heading #}
              <div class="text-center mb-4 step-heading">
                <h5>Dodajte link virtuelne ture</h5>
              </div>
              <input placeholder="https:///www..." type="text" class="form-control border-radius-10 height-40px description-inputs" id="virtual_tour" name="virtual_tour">
            </div>
            <div class="d-flex justify-content-end next-step">
              <button class="btn btn-blue btn-creation-step create-edit-button getMap" type="button" id="nextStep" onclick="switchStep(2, 3)">
                Dalje
                <i class="bi bi-chevron-double-right"></i>
              </button>
            </div>
          </div>
        </div>


        <!--LOCATION TAB-->
        <div class="row creation-content " id="step3">
          <div class="col-6 ps-0 h-100">
            <div class="creation-step rounded shadow step-section" style="padding: 16px 12px 1px 12px;">
              <div class="step-heading">
                <h5 class="mb-3">Lokacija</h5>
              </div>
              <div class="location-input">
                <label for="country" class="form-label blog-type margin-start-12 margin-bottom-12">Država</label>
                <select class="form-select border-radius-10 height-40px description-inputs" id="country" name="country">
                  <option selected value="srbija">Srbija</option>
                </select>
              </div>
              <div class="location-input">
                <label for="city" class="form-label blog-type margin-start-12 margin-bottom-12">Grad</label>
                <input type="text" class="form-control border-radius-10 height-40px description-inputs" list="cityes" id="city" name="city" aria-describedby="titleHelp" onchange="showNeighbourhoods()" required>
                <datalist id="cityes">
                  {{all_cities}}
                  {% for loc in all_cities %}
                    <option value="{{ loc.city }}">
                  {% endfor %}
                </datalist>
              </div>
              <div class="location-input">
                <label for="municipality" class="form-label blog-type margin-start-12 margin-bottom-12">Opština</label>
                <input type="text" class="form-control border-radius-10 height-40px description-inputs" id="municipality" list="opstina" name="municipality" required>
                <datalist id="opstina">
                </datalist>
              </div>
              <div class="location-input">
                <label for="area" class="form-label blog-type margin-start-12 margin-bottom-12">Lokacija</label>
                <input type="text" class="form-control border-radius-10 height-40px description-inputs" list="location" id="area" name="area" aria-describedby="titleHelp" required>
                <datalist id="location">
                </datalist>
              </div>
              <div style="margin-bottom: 21px;">
                <label for="street" class="form-label blog-type margin-start-12 margin-bottom-12">Ulica</label>
                <input type="text" class="form-control border-radius-10 height-40px description-inputs" id="street" name="street" aria-describedby="titleHelp" required>
              </div>
            </div>
          </div>
          <div class="col-6 d-flex flex-column pe-0">
            <div class="step-heading" style="margin-bottom: 20px;">
              <h5 class="mb-3">Postavite pin na mapu</h5>
              <div class="description-guide">Postavite pin što preciznije možete kako biste bolje odredili lokaciju vaše nekretnine</div>
            </div>
            <div class="creation-step step-section">
              <div class="map-canvas rounded" id="map" style="height: 405px;"></div>
              <input type="hidden" id="lat" name="lat" required>
              <input type="hidden" id="lng" name="lng" required>
              <input type="hidden" id="zoom" name="zoom" required>
            </div>
            <div class="p-0 d-flex justify-content-end next-step " style="margin-top: 28px;">
              <button class="btn btn-blue btn-creation-step create-edit-button" type="button" id="nextStep" onclick="switchStep(3, 4)">
                Dalje
                <i class="bi bi-chevron-double-right"></i>
              </button>
            </div>
          </div>
        </div>

        <!---CHARACTERISTICS-->
        <div class="creation-content" id="step4">
          <div class="col">
            <div class="creation-step step-section mb-4 shadow rounded" style="padding: 16px 0px 62px 0px;height: 480px;">
              <div class="mb-3 d-flex step-heading justify-content-start">
                <h5 class="" style="padding-left: 12px;">
                  Karakteristike
                </h5>
                <!-- <a href="#" class="text-dark" data-bs-toggle="popover" data-bs-title="Smernice" data-bs-content="Primer ispod je za dvoiposoban stan od 80kvadrata, sa 1 kupatilom i jednim toaletom, 2 spavaće sobe i jednim garažnim mestom u zajedničkoj garaži zgrade.">
                    Potrebna pomoć?
                    <i class="bi bi-info-circle-fill"></i>
                  </a> -->
              </div>
            <div class="d-flex">
              <div class="row w-100">
                <div class="col-3 col-lg-3">
                  <div class="mb-3" id="size-input">
                    <label for="size" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Površina u m<sup>2</sup> <span class="description-guide">(brojevima)</span></label>
                    <input type="text" class="form-control border-radius-10 height-40px description-inputs" id="size" name="size" aria-describedby="titleHelp" placeholder="npr 80">
                  </div>
                  <div class="mb-3" id="floor-input">
                    <label for="floor" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Na spratu<span class="description-guide">(brojevima)</span></label>
                    <input type="text" class="form-control border-radius-10 height-40px description-inputs" id="floor" name="floor" aria-describedby="titleHelp" placeholder="npr 2">
                  </div>
                  <div class="mb-3" id="balcony-input">
                    <label for="balcony" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Terasa <span class="description-guide">(brojevima)</span></label>
                    <input type="text" class="form-control border-radius-10 height-40px description-inputs" id="balcony" name="balcony" aria-describedby="titleHelp">
                  </div>
                  <div class="mb-3" id="legal_status-input">
                    <label for="legal_status" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Katastarski status <span class="description-guide">(izaberite)</span></label>
                    <select class="form-select border-radius-10 height-40px description-inputs" aria-label="Default select example" id="legal_status" name="legal_status">
                      <option value="uknjizeno" selected>Uknjizeno</option>
                      <option value="legalizacija">Legalizacija u toku</option>
                      <option value="izgradnja" >U izgradnji</option>
                      <option value="neuknjizeno">Neuknjizeno</option>
                    </select>
                  </div>
                </div>
                <div class="col-3 col-lg-3" id="column-2">
                  <div class="mb-3" id="structure-input">
                    <label for="structure" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Struktura <span class="description-guide">(brojevima)</span></label>
                    <input type="text" class="form-control border-radius-10 height-40px description-inputs" id="structure" name="structure" aria-describedby="titleHelp" placeholder="npr 2.5">
                  </div>
                  <div class="mb-3" id="total_floors-input">
                    <label for="total_floors" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Ukupno spratova<span class="description-guide">(brojevima)</span></label>
                    <input type="text" class="form-control border-radius-10 height-40px description-inputs" id="total_floors" name="total_floors" aria-describedby="titleHelp" placeholder="5">
                  </div>
                  <div class="mb-3" id="storage-input">
                    <label for="storage" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Ostava</label>
                    <select class="form-select border-radius-10 height-40px description-inputs" aria-label="Default select example" id="storage" name="storage">
                      <option value="false" selected>Nema</option>
                      <option value="true">Ima</option>
                    </select>
                  </div>
                  <div class="mb-3" id="condition-input">
                    <label for="condition" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Stanje <span class="description-guide">(izaberite)</span></label>
                    <select class="form-select border-radius-10 height-40px description-inputs" aria-label="Default select example" id="condition" name="condition">
                      <option value="starogradnja" {% if listing.listingcharacteristics_set.first.condition == 'starogradnja' %} selected {% endif %}>Starogradnja</option>
                      <option value="novogradnja" {% if listing.listingcharacteristics_set.first.condition == 'novogradnja' %} selected {% endif %}>Novogradnja</option>
                      <option value="u_izgradnji" {% if listing.listingcharacteristics_set.first.condition == 'u_izgradnji' %} selected {% endif %}>u izgradnji</option>
                    </select>
                  </div>
                </div>
                <div class="col-3 col-lg-3" id="column-3">
                  <div class="mb-3" id="year_built-input">
                    <label for="year_built" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Godina Izgradnje</label>
                    <input type="text" class="form-control border-radius-10 height-40px description-inputs" id="year_built" name="year_built" aria-describedby="titleHelp" placeholder="npr 1983">
                  </div>
                  <div class="mb-3" id="bedrooms-input">
                    <label for="bedrooms" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Spavaćih soba <span class="description-guide">(brojevima)</span></label>
                    <input type="text" class="form-control border-radius-10 height-40px description-inputs" id="bedrooms" name="bedrooms" aria-describedby="titleHelp" placeholder="npr 2">
                  </div>
                  <div class="mb-3" id="basement-input">
                    <label for="basement" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Podrum<span class="description-guide">(brojevima)</span></label>
                    <select class="form-select border-radius-10 height-40px description-inputs" aria-label="Default select example" id="basement" name="basement">
                      <option value="false" selected>Nema</option>
                      <option value="true">Ima</option>
                    </select>
                  </div>
                  <div class="mb-3" id="efficiency-input">
                    <label for="efficiency" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Energetski pasoš <span class="description-guide">(izaberite)</span></label>
                    <select class="form-select border-radius-10 height-40px description-inputs" aria-label="Default select example" id="efficiency" name="efficiency">
                      <option value="" selected>Izaberite...</option>
                      <option value="1">Ima</option>
                      <option value="2">Nema</option>
                    </select>
                  </div>
                </div>
                <div class="col-3 col-lg-3">
                  <div class="mb-3" id="parking-input">
                    <label for="parking" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Parking <span class="description-guide">(izaberite vrstu)</span></label>
                    <select class="form-select border-radius-10 height-40px description-inputs" aria-label="Default select example" id="parking" name="parking">
                      <option value="">Izaberite...</option>
                      <option value="parking mesto">Parking mesto</option>
                      <option value="garažno mesto">Garažno mesto</option>
                      <option value="garaža">Garaža</option>
                    </select>
                  </div>
                  <div class="mb-3" id="baths-input">
                    <label for="baths" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Kupatilo <span class="description-guide">(brojevima)</span></label>
                    <input type="text" class="form-control border-radius-10 height-40px description-inputs" id="baths" name="baths" aria-describedby="titleHelp" placeholder="npr 1">
                  </div>
                  <div class="mb-3" id='parcel-input'>
                    <label for="parcel_size" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Površina parcele <span class="description-guide">(broj u m<sup>2</sup>)</span></label>
                    <input type="text" oninput="addPeriods()" value="" class="form-control border-radius-10 height-40px description-inputs" id="parcel_size" aria-describedby="titleHelp" placeholder="npr 30.000 za 30ari">
                    <input type="hidden" name="parcel_size" id="raw_size">
                  </div>
                  <div class="mb-3" id="efficiency_index-input">
                    <label for="efficiency_index" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Energetski razred <span class="description-guide">(izaberite)</span></label>
                    <select class="form-select border-radius-10 height-40px description-inputs" aria-label="Default select example" id="efficiency_index" name="efficiency_index">
                      <option value="" selected>Izaberite...</option>
                      <option value="1">A+</option>
                      <option value="2">A</option>
                      <option value="3">B</option>
                      <option value="4">C</option>
                      <option value="5">D</option>
                      <option value="6">E</option>
                      <option value="7">F</option>
                      <option value="8">G</option>
                    </select>
                  </div>
                </div>              
              </div>
              <div style="padding: 0px 12px;">
                <div class="mb-3" id="parking_slots-input">
                  <label for="parking_slots" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Parking mesta <span class="description-guide">(brojevima)</span></label>
                  <input type="text" style="width: 209px;" class="form-control border-radius-10 height-40px description-inputs" id="parking_slots" name="parking_slots" aria-describedby="titleHelp">
                </div>
                <div class="mb-3" id="half_baths-input">
                  <label for="half_baths" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Toalet/WC <span class="description-guide">(brojevima)</span></label>
                  <input type="text" style="width: 209px;" class="form-control border-radius-10 height-40px description-inputs" id="half_baths" name="half_baths" aria-describedby="titleHelp" placeholder="npr 0">
                </div>
                <div class="mb-3" id="additional-input">
                  <label for="additional" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Ostalo/dodatno <span class="description-guide">(upišite)</span></label>
                  <input type="text" style="width: 209px;" class="form-control border-radius-10 height-40px description-inputs" id="additional" name="additional" aria-describedby="titleHelp">
                </div>
                <div class="mb-3" id="set_up-input">
                  <label for="set_up" style="margin-bottom: 12px;" class="form-label blog-type margin-start-12">Nameštenost <span class="description-guide">(upišite)</span></label>
                  <select class="form-select border-radius-10 height-40px description-inputs" aria-label="set_up" id="set_up" name="set_up">
                    <option value="">Izaberite...</option>
                    <option value="namešten">Namešten</option>
                    <option value="polunamešten">Polunamešten</option>
                    <option value="prazan">Prazan</option>
                  </select>
                </div>
              </div>
            </div>
            </div>
            <div class="d-flex justify-content-end  next-step">
              <button class="btn btn-blue btn-creation-step create-edit-button" type="button" id="nextStep" onclick="switchStep(5, 5)">
                Dalje
                <i class="bi bi-chevron-double-right "></i>
              </button>
            </div>
          </div>
        </div>


        <!---DETAILS AND AMENITIES-->
        <div class="creation-content" id="step5">
          <div class="col">
            <div class="creation-step step-section mb-4 shadow rounded"  style="padding: 16px 0px 0px 0px;">
              <div class="mb-4 step-heading">
                <h5 style="margin-bottom: 12px;padding-left: 12px;">Prodaja</h5>
                <small class="blog-type" style="padding-left: 12px;">Čekirajte kvadratiće oglasa za prodaju</small>
              </div>
              <div class="row" id="details">
              </div>
              <div class="border-bottom w-100 me-2"></div>
              <div class="mb-4 mt-3 step-heading">
                <h5 style="margin-bottom: 12px;padding-left: 12px;">Izdavanje</h5>
                <small class="blog-type" style="padding-left: 12px;">Čekirajte kvadratiće oglasa za izdavanje</small>
              </div>
              <div class="row" id="amenities">
              </div>
            </div>
            <div class="d-flex justify-content-end next-step">
              <button class="btn btn-blue btn-creation-step" type="submit" id="nextStep">
                Sačuvaj
              <i class="bi bi-chevron-double-right create-edit-button"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block page_specific_scripts %}
  <script src="{% static 'js/uppy.min.js' %}"></script>
  <script src="{% static 'js/uppy-rs.min.js' %}"></script>
  <script src="https://cdn.maptiler.com/maplibre-gl-js/v2.4.0/maplibre-gl.js"></script>

  <script>
    function validateForm() {
      const alert = document.getElementById('error-alert');
      const mapPin = document.getElementById('lng').value;

      if (!mapPin) {
        alert.innerHTML = 'Molimo popunite sva polja. Nedostaje pin na mapi.'
        alert.hidden = false
        return false
      }

      var ele = document.getElementsByName('images[]');
      len = ele.length;
      if (!len) {
        alert.innerHTML = 'Molimo dodajte bar jednu sliku.'
        alert.hidden = false
        return false
      }

      alert.hidden = true
      return true;
    }

    let mapInited = false;

    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

    function switchStep(currentStep, nextStep) {
      if (currentStep) {
        document.querySelector(`#step${currentStep}`).classList.remove('show')
        document.querySelector(`#tab${currentStep}`).classList.remove('active')
      }
      document.querySelector(`#step${nextStep}`).classList.add('show')
      document.querySelector(`#tab${nextStep}`).classList.add('active')

      if (nextStep === 2) {
        document.querySelector('.footer').classList.remove('sticky');
      } else {
        document.querySelector('.footer').classList.add('sticky');
      }

      if (nextStep === 3 && !mapInited) {
        initMap()
        mapInited = true;
      }
    }

    function changeActive(step) {
      const tabs = document.querySelectorAll('.creation-steps > .col')
      tabs.forEach((tab => {
        tab.classList.remove('active');
      }))
      const steps = document.querySelectorAll('.creation-content')
      steps.forEach((step => {
        step.classList.remove('show');
      }))
      switchStep(null, step);
    }

    function uploadFiles(type, result) {
      var ele = document.getElementsByName(type);
      len = ele.length;
      if (len) {
        parentNode = ele[0].parentNode;
        for(var i=0; i<len; i++) {
          parentNode.removeChild(ele[0]);
        }
      }

      for (const item of result.successful) {
        let elem = document.createElement("input");
        elem.setAttribute("type", "hidden");
        elem.setAttribute("name", type);
        elem.setAttribute("value", item.response.body.id);
        document.querySelector('#create-listing-form').appendChild(elem);
      }
    }
    const csrfToken = document.querySelector('[name="csrfmiddlewaretoken"]').value;

    const uppy = new Uppy.Uppy({
      allowMultipleUploadBatches: true,
      debug: false,
      locale: Uppy.locales.sr_RS_Latin,
      restrictions: {
        maxFileSize: 1000000,
        minFileSize: 50000,
        maxTotalFileSize: null,
        maxNumberOfFiles: 20,
        minNumberOfFiles: 1,
        allowedFileTypes: ['image/*'],
        requiredMetaFields: [],
      },
      meta: {},
      onBeforeFileAdded: (currentFile, files) => currentFile,
      onBeforeUpload: (files) => {},
    });
    uppy.use(Uppy.Dashboard, {
      inline: true,
      width: '100%',
      height: 450,
      target: '#browse-images',
      closeAfterFinish: false,
      note: 'Slike su jedino dozvoljene, do 5 slika, do 1MB svaka',
    });
    uppy.use(Uppy.ImageEditor, {
      target: Uppy.Dashboard,
      quality: 0.8,
    });
    uppy.use(Uppy.XHRUpload, {
      endpoint: '/files/upload/',
      method: 'POST',
      formData: true,
      fieldName: 'file',
      headers: {
        'X-CSRFToken': csrfToken
      }
    });
    uppy.on('complete', (result) => {
      console.log(result);
      console.log('Upload complete! We’ve uploaded these files:', result.successful);
      uploadFiles('images[]', result);
    });

    const uppyTlocrt = new Uppy.Uppy({
      allowMultipleUploadBatches: true,
      debug: false,
      locale: Uppy.locales.sr_RS_Latin,
      restrictions: {
        maxFileSize: 1000000,
        minFileSize: 50000,
        maxTotalFileSize: null,
        maxNumberOfFiles: 2,
        minNumberOfFiles: 1,
        allowedFileTypes: ['image/*'],
        requiredMetaFields: [],
      },
      meta: {},
      onBeforeFileAdded: (currentFile, files) => currentFile,
      onBeforeUpload: (files) => {},
    });
    uppyTlocrt.use(Uppy.Dashboard, {
      inline: true,
      width: '100%',
      height: 450,
      target: '#tlocrt-area',
      closeAfterFinish: false,
      note: 'Slike su jedino dozvoljene, do 5 slika, do 1MB svaka',
    });
    uppyTlocrt.use(Uppy.XHRUpload, {
      endpoint: '/files/upload/',
      method: 'POST',
      formData: true,
      fieldName: 'file',
      headers: {
        'X-CSRFToken': csrfToken
      }
    });
    uppyTlocrt.on('complete', (result) => {
      console.log(result);
      console.log('Upload complete! We’ve uploaded these files:', result.successful);
      uploadFiles('tlocrt[]', result);
    });
  </script>
  <script>
function initMap() {
  const key = 'VmRKj3ewutGzwLJmPdKS';
  const style = `https://api.maptiler.com/maps/streets-v2/style.json?key=${key}`
  const belgrade = { lat: 44.8125, lng: 20.4612 };
  const map = new maplibregl.Map({
  container: 'map',
  style: style ,
  center: belgrade,
  zoom: 12
})
const marker = new maplibregl.Marker({
  color: "red",
})
function add_marker (event) {
  let coordinates = event.lngLat;
    marker.setLngLat(coordinates).addTo(map);
  document.getElementById('lng').value = coordinates.lng;
  document.getElementById('lat').value = coordinates.lat;
  document.getElementById('zoom').value = map.getZoom()
}
  map.addControl(new maplibregl.NavigationControl(), 'top-right');
  map.on('click', add_marker);
  map.on('error', function(err) {
  throw new Error("To load the map, you must replace YOUR_MAPTILER_API_KEY_HERE first, see README");
  });
}

// map loader
let functionHasRun = false;

document.querySelector(".getMap").addEventListener("click", function(){
  if (!functionHasRun) {
    initMap();
    functionHasRun = true;
  }
});

async function populateSubCategories(data) {
  try {
    const category = data.value;
    const response = await fetch(`/oglasi/get-subcategories?category=${category}`);
    const json = await response.json();
    const subcategorySelect = document.getElementById('subcateg');
    subcategorySelect.innerHTML = `<option value="0">Izaberite tip</option>`;

    json.forEach(subCat => {
      const option = document.createElement("option");
      option.value = subCat.id;
      option.text = subCat.name;
      subcategorySelect.appendChild(option);
    })

    getDetails();
  } catch (error) {
    console.error(error);
  }

}



function selectCategory() {
  const subCatValue = document.getElementById('subcateg').value
  if (subCatValue == 4 || subCatValue == 6 || subCatValue == 8 ) {
    document.getElementById('parcel-input').style.visibility = 'hidden'
  } else {
    document.getElementById('parcel-input').style.visibility = 'visible'
  }
}
function categories() {
  const category = document.getElementById('category').value
  if (category == 2 ) {
    document.getElementById('size-input').style.display = 'none'
    document.getElementById('floor-input').style.display = 'none'
    document.getElementById('balcony-input').style.display = 'none'
    document.getElementById('structure-input').style.display = 'none'
    document.getElementById('total_floors-input').style.display = 'none'
    document.getElementById('storage-input').style.display = 'none'
    document.getElementById('condition-input').style.display = 'none'
    document.getElementById('year_built-input').style.display = 'none'
    document.getElementById('bedrooms-input').style.display = 'none'
    document.getElementById('basement-input').style.display = 'none'
    document.getElementById('efficiency-input').style.display = 'none'
    document.getElementById('parking-input').style.display = 'none'
    document.getElementById('baths-input').style.display = 'none'
    document.getElementById('efficiency_index-input').style.display = 'none'
    document.getElementById('parking_slots-input').style.display = 'none'
    document.getElementById('half_baths-input').style.display = 'none'
    document.getElementById('set_up-input').style.display = 'none'
  } else if (category == 3 ) {
    document.getElementById('bedrooms-input').style.visibility = 'hidden'
  } else {
    document.getElementById('size-input').style.display = 'block'
    document.getElementById('floor-input').style.display = 'block'
    document.getElementById('balcony-input').style.display = 'block'
    document.getElementById('structure-input').style.display = 'block'
    document.getElementById('total_floors-input').style.display = 'block'
    document.getElementById('storage-input').style.display = 'block'
    document.getElementById('condition-input').style.display = 'block'
    document.getElementById('year_built-input').style.display = 'block'
    document.getElementById('bedrooms-input').style.display = 'block'
    document.getElementById('basement-input').style.display = 'block'
    document.getElementById('efficiency-input').style.display = 'block'
    document.getElementById('parking-input').style.display = 'block'
    document.getElementById('baths-input').style.display = 'block'
    document.getElementById('efficiency_index-input').style.display = 'block'
    document.getElementById('parking_slots-input').style.display = 'block'
    document.getElementById('half_baths-input').style.display = 'block'
    document.getElementById('set_up-input').style.display = 'block'
    document.getElementById('bedrooms-input').style.visibility = 'visible'
    document.getElementById('parcel-input').style.visibility = 'visible'

  }
}
function categories() {
  // show all
  document.getElementById('size-input').style.display = 'block'
  document.getElementById('floor-input').style.display = 'block'
  document.getElementById('balcony-input').style.display = 'block'
  document.getElementById('structure-input').style.display = 'block'
  document.getElementById('total_floors-input').style.display = 'block'
  document.getElementById('storage-input').style.display = 'block'
  document.getElementById('condition-input').style.display = 'block'
  document.getElementById('year_built-input').style.display = 'block'
  document.getElementById('bedrooms-input').style.display = 'block'
  document.getElementById('basement-input').style.display = 'block'
  document.getElementById('efficiency-input').style.display = 'block'
  document.getElementById('parking-input').style.display = 'block'
  document.getElementById('baths-input').style.display = 'block'
  document.getElementById('efficiency_index-input').style.display = 'block'
  document.getElementById('parking_slots-input').style.display = 'block'
  document.getElementById('half_baths-input').style.display = 'block'
  document.getElementById('set_up-input').style.display = 'block'
  document.getElementById('bedrooms-input').style.display = 'block'
  document.getElementById('parcel-input').style.display = 'block'
  document.getElementById('additional-input').style.display = 'block';

  const categoryInput = document.getElementById('category')
  const category = categoryInput.options[categoryInput.selectedIndex].innerHTML;

  if (category == 'Zemljišta') {
    document.getElementById('size-input').style.display = 'none'
    document.getElementById('floor-input').style.display = 'none'
    document.getElementById('balcony-input').style.display = 'none'
    document.getElementById('structure-input').style.display = 'none'
    document.getElementById('total_floors-input').style.display = 'none'
    document.getElementById('storage-input').style.display = 'none'
    document.getElementById('condition-input').style.display = 'none'
    document.getElementById('year_built-input').style.display = 'none'
    document.getElementById('bedrooms-input').style.display = 'none'
    document.getElementById('basement-input').style.display = 'none'
    document.getElementById('efficiency-input').style.display = 'none'
    document.getElementById('parking-input').style.display = 'none'
    document.getElementById('baths-input').style.display = 'none'
    document.getElementById('efficiency_index-input').style.display = 'none'
    document.getElementById('parking_slots-input').style.display = 'none'
    document.getElementById('half_baths-input').style.display = 'none'
    document.getElementById('set_up-input').style.display = 'none'
  } else if (category == "Poslovni prostori") {
    document.getElementById('bedrooms-input').style.display = 'none'
  } else {
    document.getElementById('size-input').style.display = 'block'
    document.getElementById('floor-input').style.display = 'block'
    document.getElementById('balcony-input').style.display = 'block'
    document.getElementById('structure-input').style.display = 'block'
    document.getElementById('total_floors-input').style.display = 'block'
    document.getElementById('storage-input').style.display = 'block'
    document.getElementById('condition-input').style.display = 'block'
    document.getElementById('year_built-input').style.display = 'block'
    document.getElementById('bedrooms-input').style.display = 'block'
    document.getElementById('basement-input').style.display = 'block'
    document.getElementById('efficiency-input').style.display = 'block'
    document.getElementById('parking-input').style.display = 'block'
    document.getElementById('baths-input').style.display = 'block'
    document.getElementById('efficiency_index-input').style.display = 'block'
    document.getElementById('parking_slots-input').style.display = 'block'
    document.getElementById('half_baths-input').style.display = 'block'
    document.getElementById('set_up-input').style.display = 'block'
    document.getElementById('bedrooms-input').style.display = 'block'
    document.getElementById('parcel-input').style.display = 'block'
  }
}

// Get corresponding details and amenities based on selected category and type
async function getDetails() {
  const subcategorySelect = document.getElementById('subcateg').value;
  const type = document.getElementById('type').value;

  const response = await fetch(`/oglasi/get-details?category=${subcategorySelect}&type=${type}`);
  const data = await response.json();

  const detailsDiv = document.getElementById('details');
  const amenitiesDiv = document.getElementById('amenities');

  detailsDiv.innerHTML = "";
  amenitiesDiv.innerHTML = "";

  data.details.forEach(detail => {
    detailsDiv.innerHTML += `<div class="col-xxl-2 col-xl-2 col-sm-6 col-12">
        <div class="form-check form-check-inline mb-2 d-flex align-items-center">
          <input type="checkbox" class="form-check-input icon24px" id="detail-data${detail.detail__id}" name="details_data" value="${detail.detail__id}">
          <label class="form-check-label margin-start-12 detail-amenity-text" for="detail-data${detail.detail__id}">${detail.detail__name}</label>
        </div>
      </div>`
  })

  data.amenities.forEach(amenity => {
    amenitiesDiv.innerHTML += `<div class="col-xxl-2 col-xl-2 col-sm-6 col-12">
        <div class="form-check form-check-inline mb-2 d-flex align-items-center">
          <input type="checkbox" class="form-check-input icon24px" id="amenity-data${amenity.amenity__id}" name="amenities_data" value="${amenity.amenity__id}">
          <label class="form-check-label margin-start-12 detail-amenity-text" for="amenity-data${amenity.amenity__id}">${amenity.amenity__name}</label>
        </div>
      </div>`
  })
}

const locationElement = document.getElementById('location');
const municipalityElement = document.getElementById('opstina');
async function showNeighbourhoods() {
  const cityValue = document.getElementById('city').value;

  locationElement.innerHTML = ''
  municipalityElement.innerHTML = ''

  const cityResponse = await fetch(`/oglasi/get-areas?city=${cityValue}`);
  const { areas, municipality } = await cityResponse.json();

  locationElement.innerHTML = `
    ${areas.map((el) => `
      <option value="${el.area}" ></option>
    `).join('')}
  `;

  municipalityElement.innerHTML = `
    ${municipality.map((el) => `
      <option value="${el.municipality}" ></option>
    `).join('')}
  `;
}

function addPeriods() {
  let input = event.target;
  let value = input.value;
  // Remove all non-digit characters
  let numericValue = value.replace(/\D/g, '');
  // Add periods every three digits
  value = numericValue.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
  input.setAttribute('data-value', numericValue);
  input.value = value;

  // Set the value of the raw_price field
  document.getElementById('raw_price').value = numericValue;
  document.getElementById('raw_size').value = numericValue;
}



  </script>
{% endblock %}
