{% extends 'base.html' %}
{% load static %}
{% block page_specific_styles %}
  <link rel="stylesheet" href="{% static 'css/uppy.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/listings.css' %}">
{% endblock %}

{% block content %}

<section class="create-listing p-3 pt-4 flex-shrink-0 ">
  <div class="container-fluid margin-container">
    <div class="row">
        {% include 'includes/profile_sidebar.html' %}
      <div class="col-10">
        <div class="col d-flex flex-row rounded shadow" style="height: 86vh;">
          <div class="w-25 overflow-auto text-center rounded">
            <h6 class="p-3 border-bottom bg-gray text-white">Dario Saric</h6>
            <h6 class="p-3 border-bottom">Dario Saric</h6>
            <h6 class="p-3 border-bottom">Dario Saric</h6>
            <h6 class="p-3 border-bottom">Dario Saric</h6>
            <h6 class="p-3 border-bottom">Dario Saric</h6>
            <h6 class="p-3 border-bottom">Dario Saric</h6>
            <h6 class="p-3 border-bottom">Dario Saric</h6>
            <h6 class="p-3 border-bottom">Dario Saric</h6>
            <h6 class="p-3 border-bottom">Dario Saric</h6>
            <h6 class="p-3 border-bottom">Dario Saric</h6>
            <h6 class="p-3 border-bottom">Dario Saric</h6>
            <h6 class="p-3 border-bottom">Dario Saric</h6>
            <h6 class="p-3 border-bottom">Dario Saric</h6>
            <h6 class="p-3 border-bottom">Dario Saric</h6>
          </div>
          <div class="w-75">
            <div class="rounded-end" style="background:center / cover no-repeat url('/static/images/placeholders/messenger_cover.jpg');height: 100%;">
                <div class="overflow-auto">
                    <div>Neki tekst overflow radi</div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
