{% extends 'base.html' %}
{% load static %}
{% block page_specific_styles %}
  <link rel="stylesheet" href="{% static 'css/uppy.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/listings.css' %}">
{% endblock %}

{% block content %}

<section class="create-listing p-3 pt-4 flex-shrink-0">
  <div class="container-fluid">
    <div class="row">
        {% include 'includes/profile_sidebar.html' %}
      <div class="col-10 d-flex flex-column">
        <div class="d-flex justify-content-between">
          <div class="col">
            {% include 'includes/listings/listings_sorting.html' %}
          </div>
          <div class="col-5 px-5">
            <input class="form-control rounded-pill" type="search" placeholder="Pretraži" id="example-search-input">
          </div>
          <div class="col">
            {% include 'includes/listings/listings_pagination.html' %}
            pagination
          </div>
        </div>
        <div class="px-2">
          {% include 'includes/dashboard/my_favorites_card.html' %}
          {% include 'includes/dashboard/my_favorites_card.html' %}
          {% include 'includes/dashboard/my_favorites_card.html' %}
          {% include 'includes/dashboard/my_favorites_card.html' %}
        </div>
      </div>
    </div>
  </div>
    <div class="col d-flex justify-content-center my-3">
        {% include 'includes/listings/listings_pagination.html' %}
        pagination
    </div>
  </div>
</section>
<script>

  function favoriteHandler() {
    console.log('Favorite')
  }

</script>
{% endblock %}
