<div class="col-12 text-center p-0 efficiency-bar-text d-flex" style="height: 24px;">
  <div class="w-100 {% if listing.listingcharacteristics_set.first.efficiency_index == '1' %} border border-2 border-dark {% endif %}" style="background-color: #617E8C;">A+</div>
  <div class="w-100 {% if listing.listingcharacteristics_set.first.efficiency_index == '2' %} border border-2 border-dark {% endif %}" style="background-color: #00A6BD;">A</div>
  <div class="w-100 {% if listing.listingcharacteristics_set.first.efficiency_index == '3' %} border border-2 border-dark {% endif %}" style="background-color: #00D5D6;">B</div>
  <div class="w-100 {% if listing.listingcharacteristics_set.first.efficiency_index == '4' %} border border-2 border-dark {% endif %}" style="background-color: #617E8C;">C</div>
  <div class="w-100 {% if listing.listingcharacteristics_set.first.efficiency_index == '5' %} border border-2 border-dark {% endif %}" style="background-color: #FFEA00;">D</div>
  <div class="w-100 {% if listing.listingcharacteristics_set.first.efficiency_index == '6' %} border border-2 border-dark {% endif %}" style="background-color: #EBB223;">E</div>
  <div class="w-100 {% if listing.listingcharacteristics_set.first.efficiency_index == '7' %} border border-2 border-dark {% endif %}" style="background-color: #E57374;">F</div>
  <div class="w-100 {% if listing.listingcharacteristics_set.first.efficiency_index == '8' %} border border-2 border-dark {% endif %}" style="background-color: #800020;">G</div>
</div>