{% load static %}
 <div class="col-4 d-flex">
    <img src="{% static 'images/icons/sort.svg' %}" alt="Sort" width="17px">
    <select class="form-select border-0" id="sort" onchange="queryParam('sort', this.value)" aria-label="Default select example" >
        <option {% if request.GET.sort == 'desc-date_listed' %} selected {% endif %} value="desc-date_listed">Po datumu - najnovije</option>
        <option {% if request.GET.sort == 'asc-date_listed' %} selected {% endif %} value="asc-date_listed">Po datumu - najstarije</option>
        <option {% if request.GET.sort == 'desc-price' %} selected {% endif %} value="desc-price">Po cijeni - najviša</option>
        <option {% if request.GET.sort == 'asc-price' %} selected {% endif %} value="asc-price">Po cijeni - najniža</option>
    </select>
</div>
