{% load static %}

<div class="col-7 d-flex ps-0 my-2 align-items-center" style="padding-right: 30px;">
  <select id="city" class="form-select me-2 h-100" onchange="queryParam('grad', this.value)" aria-label="Default select example">
    <option value="">Grad</option>
    {% for loc in cities %}
      <option  {% if request.GET.grad == loc.city %} selected {% endif %} value="{{loc.city}}">{{loc.city}}</option>
    {% endfor %}
  </select>
  <select id="location" class="form-select mx-2 h-100" onchange="queryParam('lokacija', this.value)" aria-label="Default select example">
    <option value="">Lokacija</option>
  </select>
  <select class="form-select mx-2 h-100" onchange="queryParam('tip', this.value)" aria-label="Default select example">
    <option value="">Tip</option>
    {% for categ in categories %} 
      <option  {% if request.GET.tip == categ.name %} selected {% endif %} value="{{ categ.name }}">{{ categ.name }}</option>
    {% endfor %}
  </select>
  <select class="form-select mx-2 h-100" style="max-height: 39px;" onchange="queryParam('cena', this.value)" aria-label="Default select example">
    <option value="">Cena</option>
    <option  {% if request.GET.cena == '_20000' %} selected {% endif %} value="_20000">do 20.000 e</option>
    <option  {% if request.GET.cena == '20000_40.000' %} selected {% endif %} value="20000_40000">20.000 - 40.000 e</option>
    <option  {% if request.GET.cena == '40000_60000' %} selected {% endif %} value="40000_60000">40.000 - 60.000 e</option>
    <option  {% if request.GET.cena == '60000_80000' %} selected {% endif %} value="60000_80000">60.000 - 80.000 e</option>
    <option  {% if request.GET.cena == '80000_100000' %} selected {% endif %} value="80000_100000">80.000 - 100.000 e</option>
    <option  {% if request.GET.cena == '100000_150000' %} selected {% endif %} value="100000_150000">100.000 - 150.000 e</option>
    <option  {% if request.GET.cena == '150000_200000' %} selected {% endif %} value="150000_200000">150.000 - 200.000 e</option>
    <option  {% if request.GET.cena == '200000_300000' %} selected {% endif %} value="200000_300000">200.000 - 300.000 e</option>
    <option  {% if request.GET.cena == '300000_500000' %} selected {% endif %} value="300000_500000">300.000 - 500.000 e</option>
    <option  {% if request.GET.cena == '500000_' %} selected {% endif %} value="500000_">500.000 i više</option>
  </select>
  <select class="form-select mx-2 h-100" onchange="queryParam('povrsina', this.value)" aria-label="Default select example">
    <option value="">Površina</option>
    <option  {% if request.GET.povrsina == '_35' %} selected {% endif %} value="_35">do 35 km2</option>
    <option  {% if request.GET.povrsina == '35_45' %} selected {% endif %} value="35_45">35 - 45 km2</option>
    <option  {% if request.GET.povrsina == '45_55' %} selected {% endif %} value="45_55">45 - 55 km2</option>
    <option  {% if request.GET.povrsina == '55_75' %} selected {% endif %} value="55_75">55 - 75 km2</option>
    <option  {% if request.GET.povrsina == '75_100' %} selected {% endif %} value="75_100">75 - 100 km2</option>
    <option  {% if request.GET.povrsina == '100_150' %} selected {% endif %} value="100_150">100 - 150 km2</option>
    <option  {% if request.GET.povrsina == '150_200' %} selected {% endif %} value="150_200">150 - 200 km2</option>
    <option  {% if request.GET.povrsina == '200_300' %} selected {% endif %} value="200_300">200 - 300 km2</option>
    <option  {% if request.GET.povrsina == '300_' %} selected {% endif %} value="300_">300 i više</option>
  </select>

  <select class="form-select ms-2 h-100" onchange="queryParam('struktura', this.value)" aria-label="Default select example">
    <option value="">Struktura</option>
    <option  {% if request.GET.struktura == '1' %} selected {% endif %} value="1">1 Prostorija</option>
    <option  {% if request.GET.struktura == '1.5' %} selected {% endif %} value="1.5">1.5 Prostorija</option>
    <option  {% if request.GET.struktura == '2' %} selected {% endif %} value="2">2 Prostorija</option>
    <option  {% if request.GET.struktura == '2.5' %} selected {% endif %} value="2.5">2.5 Prostorija</option>   
    <option  {% if request.GET.struktura == '3' %} selected {% endif %} value="3">3 Prostorija</option>
    <option  {% if request.GET.struktura == '3.5' %} selected {% endif %} value="3.5">3.5 Prostorija</option>
    <option  {% if request.GET.struktura == '4' %} selected {% endif %} value="4">4 i više</option>
  </select>
</div>
<script>

function applyFilters() {
  const selectedDetailsValues = []
  const selectedDetails = document.querySelectorAll('#allDetails input:checked');
  for (const input of selectedDetails) {
    selectedDetailsValues.push(input.value)
  }
  
  const selectedAmenitiesValues = []
  const selectedAmenities = document.querySelectorAll('#allAmenities input:checked');
  for (const input of selectedAmenities) {
    selectedAmenitiesValues.push(input.value)
  }

  queryParam('d-a', selectedDetailsValues.join('-') + '_' + selectedAmenitiesValues.join('-'))
}

function getParams() {
  const value = new URL(window.location.href).searchParams.get("d-a");
  const checkedDetails = value?.split('_')[0].split('-') ?? []
  const checkedAmenities = value?.split('_')[1].split('-') ?? []

  const getDetails = document.querySelectorAll(`#allDetails input`)
    getDetails.forEach(detail => {
    const detailValue = detail.value;
    if (checkedDetails.includes(detailValue)) {
       detail.setAttribute('checked','checked')
    }
  });
 const getAmenities = document.querySelectorAll(`#allAmenities input`)
    getAmenities.forEach(amenity => {
    const amenityValue = amenity.value;
    if (checkedAmenities.includes(amenityValue)) {
      amenity.setAttribute('checked','checked')
    }
  });
}

const locationElement = document.getElementById('location');
async function showNeighbourhoods() {
  const urlParams = new URLSearchParams(window.location.search);
  const city = urlParams.get('grad');
  const locationParam = urlParams.get('lokacija');

  if (city) {
    locationElement.innerHTML = '';
    
    const response = await fetch(`/oglasi/get-areas-distinct?city=${city}`);
    const { areas } = await response.json();

    locationElement.innerHTML = `
      <option value="" selected disabled>Lokacija</option>
      ${areas.map((el) => `
        <option value="${el.area}" ${el.area === locationParam ? 'selected' : ''}>${el.area_distinct}</option>
      `).join('')}
    `;
  }
}

showNeighbourhoods();
getParams()

function openModal() {
  let modal = document.getElementById('filter')
  if (modal.style.display === 'none') {
    modal.style.display = 'flex'
  }
}

function closeModal() {
  let modal = document.getElementById('filter')
  modal.style.display = 'none'
}

</script>