
{% load static %}

{% block content %}

<div
    class="map-canvas h-100"
    id="contact-google-map"
    data-icon-path="{% static 'images/logo/1.png' %}"
    data-map-title="Awesome Place"
    data-map-zoom="14">
</div>

{% endblock %}

{% block page_specific_scripts %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANV7e30hUL2JeDq04EtUqwHvVevqNDGUM&callback=initMap&v=weekly"defer></script>

<script>
const markers = {};
const infoWindows = {};
let prevInfoWindow = false;

let map = null;

function initMap() {
  const belgrade = { lat: 44.8125, lng: 20.4612 };
  map = new google.maps.Map(document.getElementById("contact-google-map"), {
  zoom: 10,
  center: belgrade,
  });

  {% for l in listings %}
  {% if l.listingmap_set.first.lat != None %}

  const contentString{{ l.id }} = `
  <div class="card shadow-sm border-0" id="listingCard">
    <div class="rounded " style="background: center / cover no-repeat url('{% get_media_prefix %}{{ l.images.first.file }}');height: 280px; width:330px">
      <div class="rounded d-flex align-items-start flex-column h-100 listing-item-overlayed">
        <div class="col-12 mb-auto d-flex">
          <span class="rounded p-1 {% if l.status == '0' %} bg-danger {% elif l.status == '1' %} bg-secondary {% endif %} color-white m-2 px-2">
            {% if l.status == '0' %}
              Prodaja
            {% elif l.status == '1' %}
              Izdavanje
            {% endif %}
          </span>
        </div>
        <div class="col-12 px-3 pb-2 text-white">
          <h6>{{ l.price }} eur</h6>
            <div class="d-flex flex-direction-column justify-content-between">
            <p class="card-text listing-description">{{ l.title }}</p>
            <div onclick="onListingClick('{{l.slug}}')"><img style="filter: brightness(0) invert(1)" src="{% static 'images/shared/item-eye.svg' %}" alt="House item"></div>
        </div>
        <div class="row d-flex justify-content-between align-items-center border-top border-light pt-2" >
          <div class="col-3 text-nowrap">
            <img style="height: 18px;width: 18px; filter: brightness(0) invert(1)" src="{% static 'images/items/' %}{{l.category.name|cut:' '}}.svg" alt=" ">
            <small>
              {% if l.category.name == 'Poslovni prostor' %}
                Pos. Prostor
              {% elif l.category.name == 'Komercijalni prostor' %}
                Kom. Prostor
              {% elif l.category.name == 'Građevinska parcela' %}
                Građ. Zem.
              {% elif l.category.name == 'Poljoprivredna parcela' %}
                Poljo. Zem.
              {% elif l.category.name == 'Proizvodni prostor' %}
                Pro. Prostor
              {% elif l.category.name == 'Ugostiteljski prostor' %}
                Ugo. Prostor
              {% elif l.category.name == 'Stambene nekretnine' %}
                Ostalo
              {% elif l.category.name == 'Poslovni prostor - Lokal' %}
                Lokal
              {% elif l.category.name == 'Poslovni prostor - Kancelarija' %}
                Kancelarija
              {% else %}
                {{l.category.name}}
              {% endif %}
            </small>
          </div>
          <div class="col-3 text-nowrap">
            <img style="height: 18px;width: 18px;filter: brightness(0) invert(1)" src="{% static 'images/shared/item-area.svg' %}" alt="area item">
            <small>{{ l.listingcharacteristics_set.first.size }}m2</small>
          </div>
              {% if l.category.name|cut:' ' == 'Poljoprivrednaparcela' or l.category.name|cut:' ' == 'Građevinskaparcela'%}
          <div class="col-3">
            <img style="height: 18px;width: 18px;filter: brightness(0) invert(1)" src="{% static 'images/items/Struja.svg' %}" alt="Struja">
            <small class="{% if 'Struja' in l.details %} {% else %} text-decoration-line-through {% endif %}">Struja</small>
          </div>
          <div class="col-3">
            <img style="height: 18px;width: 18px;filter: brightness(0) invert(1)" src="{% static 'images/items/Voda.svg' %}" alt="Voda ">
            <small class="{% if 'Voda' in l.details %} {% else %} text-decoration-line-through {% endif %}">Voda</small>
          </div>
            {% else %}
          <div class="col-3">
            <img style="height: 18px;width: 18px;filter: brightness(0) invert(1)" src="{% static 'images/shared/item-floormap.svg' %}" alt="Floor">
            <small>{{ l.listingcharacteristics_set.first.structure }}</small>
          </div>
          <div class="col-3 text-nowrap">
            <img style="height: 18px;width: 18px;filter: brightness(0) invert(1)" src="{% static 'images/items/Parking.svg' %}" alt="Parking">
            <small class="{% if l.listingcharacteristics_set.first.parking == '0' %} text-decoration-line-through {% endif %}">Parking</small>
          </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>`;

  const infowindow{{ l.id }} = new google.maps.InfoWindow({
      content: contentString{{ l.id }},
  });

  const marker{{ l.id }} = new google.maps.Marker({
      position: {
      lat: Number("{{l.listingmap_set.first.lat }}"),
      lng: Number("{{l.listingmap_set.first.lng }}"),
      },
      map: map,
      listing_id: {{ l.id }},
  });

  marker{{ l.id }}.addListener("click", () => {
      if(prevInfoWindow) {
          prevInfoWindow.close();
      }

      prevInfoWindow = infowindow{{ l.id }};

      infowindow{{ l.id }}.open({
      anchor: marker{{ l.id }},
      map: map
      })
  });

  markers[{{ l.id }}] = marker{{ l.id }};
  infoWindows[{{ l.id }}] = infowindow{{ l.id }};

  {% endif %}
  {% endfor %}

}


function onListingHover(id) {
  const infoModal = infoWindows[id];
  infoModal && infoModal.open({ anchor: markers[id], map });
  }
  
function onListingUnhover(id) {
  const infoModal = infoWindows[id];
  infoModal && infoModal.close();
  }


function onListingClick(slug) {
  {% if debug != None %}
    window.location.href=`http://localhost:8000/oglasi/pregled/${slug}`
  {% else %}
    console.error('Define real URL');
  {% endif %}
}
</script>

{% endblock %}
