{% load static %}

<div class="card shadow-sm featured-item" >
    <div class="d-flex justify-content-between position-absolute w-100" >
      <span class="rounded {% if listing.status == '0' %} bg-danger {% elif listing.status == '1' %} bg-secondary {% endif %} color-white m-2 px-2">
        {% if listing.status == '0' %}
        Prodaja
        {% elif listing.status == '1' %}
        Izdavanje
        {% endif %}
      </span>
      <img src="{% static 'images/icons/star.svg' %}"  class="m-2" alt="Star">
    </div>
    <div class="bd-placeholder-img card-img-top"  style="background: center / cover no-repeat url('{% get_media_prefix %}{{ listing.images.first.file }}');height: 250px" alt="" onclick="onListingClick('{{listing.slug}}')"></div>
  <div class="px-3 pt-3 ">
    <div class="d-flex justify-content-between ">
      <p class="card-text">{{ listing.title|truncatechars:30 }}</p>
      {% include 'includes/listing_helpers/like_compare.html' %}
    </div>
    <div class="d-flex justify-content-between align-items-center ">
      <small class="item-location">{{ listing.city }}, {{ listing.municipality}}</small>
      <h5>{% include 'includes/listing_helpers/price_parser.html' %}</h5>
    </div>
    {% include 'includes/listing_helpers/listing_icon_helpers.html' %}
  </div>
</div>
<script>  
   function onListingClick(slug) {
        {% if debug != None %}
          window.location.href=`http://localhost:8000/oglasi/pregled/${slug}`
        {% else %}
          console.error('Define real URL');
        {% endif %}
    }
</script>