{% if listings.has_other_pages %}
  <ul class="pagination d-flex justify-content-center ">
     <!-- Render Previous Button -->
     {% if listings.has_previous %}
     <li><a onclick="queryParam('page', '{{ listings.previous_page_number }}')" class="page-link pagination-hover color-blue rounded-circle m-1"><</a></li>
   {% else %}
     <li><a class="disabled  rounded-circle page-link bg-light color-blue disabled-click m-1"><</a></li>
   {% endif %}
   
    <!-- Render First Button -->
    {% if listings.number > 2 %}
      <li><a onclick="queryParam('page', '1')" class="page-link color-blue rounded-circle pagination-hover m-1">1</a></li>
      <!-- {% if listings.number > 3 %}
        <li><a class="page-link color-blue rounded-circle disabled pagination-hover m-1">...</a></li>
      {% endif %} -->
    {% endif %}
    
   
      
    <!-- Render 3 before and 3 after - Pages -->
    {% for num in listings.paginator.page_range %}
      {% if num <= listings.number|add:1 and num >= listings.number|add:-1 %}
        {% if listings.number == num %}
        <li><a class="page-link text-white bg-blue rounded-circle pagination-hover active m-1">{{ num }}</a></li>
        {% else %}
        <li><a onclick="queryParam('page', '{{ num }}')" class="page-link color-blue rounded-circle pagination-hover m-1">{{ num }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    
    <!-- Render Last Button -->
    {% if listings.number < listings.paginator.num_pages|add:-1 %}
      <!-- {% if listings.number < listings.paginator.num_pages|add:-2 %}
        <li><a class="page-link color-blue rounded-circle disabled m-1">...</a></li>
      {% endif %} -->
      <li><a onclick="queryParam('page', '{{ listings.paginator.num_pages }}')" class="page-link pagination-hover color-blue rounded-circle m-1">{{ listings.paginator.num_pages }}</a></li>
    {% endif %}
    
    <!-- Render Next Button -->
    {% if listings.has_next %}
      <li><a onclick="queryParam('page', '{{ listings.next_page_number }}')" class="page-link pagination-hover color-blue rounded-circle m-1">></a></li>
    {% else %}
      <li><a class="disabled rounded-circle page-link bg-light disabled-click color-blue m-1">></a></li>
    {% endif %}
  </ul>
{% endif %}
