{% load static %}

<form class="row shadow  rounded fw-bold mb-4" style="height: 562px;" action="/oglasi" id="search-listing-form">
  <div class="col-12">
    <div class="input-group justify-content-center" style="margin: 16px 0px 15.64px 0px;">
      <div class="shadow rounded d-flex">
        <button for="izdavanje" id="btnBuy" name="0" class="btn switch-type-button border-end  rounded-start rounded-0 {% if request.GET.search_type == '0' %} bg-primary text-white  {% else %} bg-white color-salmon {% endif %}" style="width: 88px;height: 40px;" type="button">Prodaja</button>
        <button for="prodaja" id="btnRent" name="1" class="btn switch-type-button rounded-end rounded-0 {% if request.GET.search_type == '1' %} bg-secondary text-white {% else %} bg-white text-secondary {% endif %}" style="width: 88px;height: 40px" type="button">Izdavanje</button>
        <input type="hidden" name="search_type" value="" id="search_type">
      </div>
    </div>
  </div>
  <div class="col-6 mb-2">
    <label for="grad" class="form-label ms-2 margin-6_36">Grad</label>
    <input value="{{request.GET.grad}}" type="text" list="country" class="form-control input-location sidebar-input" name="grad" id="location" aria-label="Lokacija" placeholder="Grad" onchange="showNeighbourhoods()">
    <datalist id="country">
      {% for loc in cities %}
        <option value="{{ loc.city }}">
      {% endfor %}
    </datalist>
  </div>
  <div class="col-6  mb-2">
    <label for="location" class="form-label ms-2 margin-6_36">Lokacija</label>
    <input value="{{request.GET.lokacija}}" for="neighbourhood" type="text" class="form-control input-area sidebar-input" list="neighbourhoods" name="lokacija" id="neighbourhood" aria-label="Kraj" placeholder="Lokacija">
    <datalist id="neighbourhoods">
    </datalist>
  </div>
  <div class="col-6  mb-2">
    <label for="tip" class="form-label ms-2 margin-6_36" >Tip</label>
    <select for="type" value="{{request.GET.tip}}" class="form-select select-listing-type  select-inputs" name="tip" id="type">
      <option  value="">Tip...</option>
      {% for categ in categories %}
        {% if categ.name != 'Stambene nekretnine' and categ.name != 'Zemljišta' and categ.name != 'Poslovni prostori' %}
          <option  {% if request.GET.tip == categ.name %} selected {% endif %} value="{{ categ.name }}">{{ categ.name }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="col-6  mb-2">
    <label for="price" class="form-label ms-2 margin-6_36">Cena</label>
    <div class="d-flex">
      <input type="text" value="{{request.GET.min_price}}" class="form-control me-2 sidebar-input text-center" id="min_price" name="min_price" onkeyup="addPeriods()" placeholder="od" aria-describedby="titleHelp">
      <input type="text" value="{{request.GET.max_price}}" class="form-control sidebar-input text-center" id="max_price" name="max_price" onkeyup="addPeriods()" placeholder="do" aria-describedby="titleHelp">
    </div>
  </div>
  <div class="col-6  mb-2">
    <label for="size" class="form-label ms-2 margin-6_36">Površina</label>
    <div class="d-flex">
      <input type="text" value="{{request.GET.min_size}}" class="form-control me-2 sidebar-input text-center" id="min_size" name="min_size"  placeholder="od" aria-describedby="titleHelp">
      <input type="text" value="{{request.GET.max_size}}" class="form-control sidebar-input text-center" id="max_size" name="max_size"  placeholder="do" aria-describedby="titleHelp">
    </div>
  </div>
  <div class="col-6  mb-2">
    <label class="form-label ms-2 margin-6_36">Spratnost</label> 
    <div class="d-flex">
      <input type="text" value="{{request.GET.min_spratnost}}" onkeyup="addPeriods()" class="form-control me-2 sidebar-input text-center" id="min_spratnost" name="min_spratnost" placeholder="od" aria-describedby="titleHelp">
      <input type="text" value="{{request.GET.max_spratnost}}" onkeyup="addPeriods()" class="form-control sidebar-input text-center" id="max_spratnost" name="max_spratnost" placeholder="do" aria-describedby="titleHelp">
    </div>
  </div>
  <div class="col-6  mb-2">
    <label class="form-label ms-2 margin-6_36">Stanje</label>
    <div class="dropdown">
      <button class="select-inputs btn border d-flex justify-content-between align-items-center w-100" type="button" id="multiselectstanje" data-bs-toggle="dropdown" aria-expanded="false">
        Stanje
        <img src="{% static 'images/icons/chevron_down.svg' %}" alt="Sort" width="16px"  height="16px"/>
      </button>
      <ul class="dropdown-menu dropdown-menu-form text-nowrap detail-input-placeholders" aria-labelledby="multiselectstanje" style="width: 100%;">
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="starogradnja">Starogradnja</label><input class="form-check-input border-0" {% if 'starogradnja' in selected_stanje %} checked="true" {% endif %} name="condition" type="checkbox" value="starogradnja" id="starogradnja"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="novogradnja">Novogradnja</label><input class="form-check-input border-0" {% if 'novogradnja' in selected_stanje %} checked="true" {% endif %} name="condition" type="checkbox" value="novogradnja" id="novogradnja"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="u_izgradnji">U izgradnji</label><input class="form-check-input border-0" {% if 'u_izgradnji' in selected_stanje %} checked="true" {% endif %} name="condition" type="checkbox" value="u_izgradnji" id="u_izgradnji"></li>
      </ul>
    </div>
    <!-- <select class="form-select  select-inputs"  value="{{request.GET.condition}}" id="condition" name="condition" >
      <option value="">Izaberite...</option>
      <option {% if request.GET.condition == 'starogradnja' %} selected {% endif %} value="starogradnja">Starogradnja</option>
      <option {% if request.GET.condition == 'novogradnja' %} selected {% endif %} value="novogradnja">Novogradnja</option>
      <option {% if request.GET.condition == 'u_izgradnji' %} selected {% endif %} value="u_izgradnji">U izgradnji</option>
    </select> -->
  </div>
  <div class="col-6  mb-2">
    <label class="form-label ms-2 margin-6_36">Struktura</label>
    <div class="dropdown">
      <button class="select-inputs btn border d-flex justify-content-between align-items-center w-100" type="button" id="multiselectStruktura" data-bs-toggle="dropdown" aria-expanded="false">
        Struktura
        <img src="{% static 'images/icons/chevron_down.svg' %}" alt="Sort" width="16px"  height="16px"/>
      </button>
      <ul class="dropdown-menu dropdown-menu-form text-nowrap detail-input-placeholders" aria-labelledby="multiselectStruktura" style="width: 100%;">
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="garsonjera">Garsonjera <div class="px-4">0.5</div></label><input class="form-check-input border-0" style="margin-right: 0.35rem;" {% if '0.5' in selected_struktura %} checked="true" {% endif %} name="struktura" type="checkbox" value="0.5" id="garsonjera"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="jednosoban">Jednosoban <div class="px-4">1.0</div></label><input class="form-check-input border-0" style="margin-right: 0.35rem;" {% if '1' in selected_struktura %} checked="true" {% endif %} name="struktura" type="checkbox" value="1" id="jednosoban"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="jednoiposoban">Jednoiposoban <div class="px-4">1.5</div> </label><input class="form-check-input border-0" style="margin-right: 0.35rem;" {% if '1.5' in selected_struktura %} checked="true" {% endif %} name="struktura" type="checkbox" value="1.5" id="jednoiposoban"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="dvosoban">Dvosoban <div class="px-4">2.0</div> </label><input class="form-check-input border-0" style="margin-right: 0.35rem;" {% if '2' in selected_struktura %} checked="true" {% endif %} name="struktura" type="checkbox" value="2" id="dvosoban"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="dvoiposoban">Dvoiposoban <div class="px-4">2.5</div> </label><input class="form-check-input border-0" style="margin-right: 0.35rem;" {% if '2.5' in selected_struktura %} checked="true" {% endif %} name="struktura" type="checkbox" value="2.5" id="dvoiposoban"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="trosoban">Trosoban <div class="px-4">3.0</div> </label><input class="form-check-input border-0" style="margin-right: 0.35rem;" {% if '3' in selected_struktura %} checked="true" {% endif %} name="struktura" type="checkbox" value="3" id="trosoban"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="troiposoban">Troiposoban <div class="px-4">3.5</div> </label><input class="form-check-input border-0" style="margin-right: 0.35rem;" {% if '3.5' in selected_struktura %} checked="true" {% endif %} name="struktura" type="checkbox" value="3.5" id="troiposoban"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="četvorosoban">Četvorosoban <div class="px-4">4.0</div> </label><input class="form-check-input border-0" style="margin-right: 0.35rem;" {% if '4' in selected_struktura %} checked="true" {% endif %} name="struktura" type="checkbox" value="4" id="četvorosoban"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="četvoroiposoban">Četvoroiposoban <div class="px-4">4.5</div> </label><input class="form-check-input border-0" style="margin-right: 0.35rem;" {% if '4.5' in selected_struktura %} checked="true" {% endif %} name="struktura" type="checkbox" value="4.5" id="četvoroiposoban"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="petosoban">Petosoban i veći <div class="px-4">5.0</div> </label><input class="form-check-input border-0" style="margin-right: 0.35rem;" {% if '5' in selected_struktura %} checked="true" {% endif %} name="struktura" type="checkbox" value="5" id="petosoban"></li>
      </ul>
    </div>
  </div>
  <div class="col-6">
    <label class="form-label ms-2 margin-6_36">Parking</label>
    <div class="dropdown">
      <button class="select-inputs btn border d-flex justify-content-between align-items-center w-100" type="button" id="multiselectstanje" data-bs-toggle="dropdown" aria-expanded="false">
        Parking
        <img src="{% static 'images/icons/chevron_down.svg' %}" alt="Sort" width="16px"  height="16px"/>
      </button>
      <ul class="dropdown-menu dropdown-menu-form text-nowrap detail-input-placeholders" aria-labelledby="multiselectstanje" style="width: 100%;">
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="garaža">Garaža</label><input class="form-check-input border-0" {% if 'garaža' in selected_parking %} checked="true" {% endif %} name="parking" type="checkbox" value="garaža" id="garaža"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="parking_mesto">Parking mesto</label><input class="form-check-input border-0" {% if 'parking mesto' in selected_parking %} checked="true" {% endif %} name="parking" type="checkbox" value="parking mesto" id="parking_mesto"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="garažno_mesto">Garažno mesto</label><input class="form-check-input border-0" {% if 'garažno mesto' in selected_parking %} checked="true" {% endif %} name="parking" type="checkbox" value="garažno mesto" id="garažno_mesto"></li>
      </ul>
    </div>
    <!-- <select class="form-select  select-inputs" value="{{request.GET.parking}}" id="garage" name="parking">
      <option value="">Izaberite...</option>
      <option {% if request.GET.parking == 'garaža' %} selected {% endif %} value="garaža">Garaža</option>
      <option {% if request.GET.parking == 'parking mesto' %} selected {% endif %} value="parking mesto">Parking mesto</option>
      <option {% if request.GET.parking == 'garažno mesto' %} selected {% endif %} value="garažno mesto">Garažno mesto</option>
    </select> -->
  </div>
  <div class="col-6  mb-2">
    <label for="heating" class="form-label ms-2 margin-6_36">Grejanje</label>
    <div class="dropdown">
      <button class="select-inputs btn border d-flex justify-content-between align-items-center w-100" type="button" id="multiselectgrejanje" data-bs-toggle="dropdown" aria-expanded="false">
        Grejanje
        <img src="{% static 'images/icons/chevron_down.svg' %}" alt="Sort" width="16px"  height="16px"/>
      </button>
      <ul class="dropdown-menu dropdown-menu-form text-nowrap detail-input-placeholders" aria-labelledby="multiselectgrejanje" style="width: 100%;">
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="Grejanje na struju">Grejanje na struju</label><input class="form-check-input border-0" {% if 'Grejanje na struju' in selected_grejanje %} checked="true" {% endif %} name="grejanje" type="checkbox" value="Grejanje na struju" id="Grejanje na struju"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="Centralno grejanje">Centralno grejanje</label><input class="form-check-input border-0" {% if 'Centralno grejanje' in selected_grejanje %} checked="true" {% endif %} name="grejanje" type="checkbox" value="Centralno grejanje" id="Centralno grejanje"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="Grejanje na gas">Grejanje na gas</label><input class="form-check-input border-0" {% if 'Grejanje na gas' in selected_grejanje %} checked="true" {% endif %} name="grejanje" type="checkbox" value="Grejanje na gas" id="Grejanje na gas"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="Čvrsta goriva">Čvrsta goriva</label><input class="form-check-input border-0" {% if 'Čvrsta goriva' in selected_grejanje %} checked="true" {% endif %} name="grejanje" type="checkbox" value="Čvrsta goriva" id="Čvrsta goriva"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="Grejanje ostalo">Grejanje ostalo</label><input class="form-check-input border-0" {% if 'Grejanje ostalo' in selected_grejanje %} checked="true" {% endif %} name="grejanje" type="checkbox" value="Grejanje ostalo" id="Grejanje ostalo"></li>
      </ul>
    </div>
    <!-- <select class="form-select  select-inputs" value="{{request.GET.grejanje}}" id="heating" name="grejanje">
      <option value="">Izaberite...</option>
      <option {% if request.GET.grejanje == 'Grejanje na struju' %} selected {% endif %} value="Grejanje na struju">Grejanje na struju</option>
      <option {% if request.GET.grejanje == 'Centralno grejanje' %} selected {% endif %} value="Centralno grejanje">Centralno grejanje</option>
      <option {% if request.GET.grejanje == 'Grejanje na gas' %} selected {% endif %} value="Grejanje na gas">Grejanje na gas</option>
      <option {% if request.GET.grejanje == 'Čvrsta goriva' %} selected {% endif %} value="Čvrsta goriva">Čvrsta goriva</option>
      <option {% if request.GET.grejanje == 'Grejanje ostalo' %} selected {% endif %} value="Grejanje ostalo">Grejanje ostalo</option>
    </select> -->
  </div>
  <div class="col-6">
    <label for="multiselectnamestenost" class="form-label ms-2 margin-6_36">Nameštenost</label>
    <div class="dropdown">
      <button class="select-inputs btn border d-flex justify-content-between align-items-center w-100" type="button" id="multiselectnamestenost" data-bs-toggle="dropdown" aria-expanded="false">
        Nameštenost
        <img src="{% static 'images/icons/chevron_down.svg' %}" alt="Sort" width="16px"  height="16px"/>
      </button>
      <ul class="dropdown-menu dropdown-menu-form text-nowrap detail-input-placeholders" aria-labelledby="multiselectnamestenost" style="width: 100%;">
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="namešten">Namešten</label><input class="form-check-input border-0" {% if 'namešten' in selected_setup %} checked="true" {% endif %} name="set-up" type="checkbox" value="namešten" id="namešten"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="polunamešten">Polunamešten</label><input class="form-check-input border-0" {% if 'polunamešten' in selected_setup %} checked="true" {% endif %} name="set-up" type="checkbox" value="polunamešten" id="polunamešten"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" style="margin-top: 3px;" for="prazan">Prazan</label><input class="form-check-input border-0" {% if 'prazan' in selected_setup %} checked="true" {% endif %} name="set-up" type="checkbox" value="prazan" id="prazan"></li>
      </ul>
    </div>
  </div>
  <div class="col-6">
    <label for="multiselectoglasivac" class="form-label ms-2 margin-6_36">Oglašivač</label>
    <div class="dropdown">
      <button class="select-inputs btn border d-flex justify-content-between align-items-center w-100" type="button" id="multiselectnamestenost" data-bs-toggle="dropdown" aria-expanded="false">
        Oglašivač
        <img src="{% static 'images/icons/chevron_down.svg' %}" alt="Sort" width="16px"  height="16px"/>
      </button>
      <ul class="dropdown-menu dropdown-menu-form text-nowrap detail-input-placeholders" aria-labelledby="multiselectoglasivac" style="width: 100%;">
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" for="agencija">Agencija</label><input class="form-check-input border-0" style="margin-right: 0.35rem;" {% if 'agencija' in selected_acctype %} checked="true" {% endif %} name="acc-type" type="checkbox" value="1" id="agencija"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" for="vlasnik">Vlasnik</label><input class="form-check-input border-0" {% if 'vlasnik' in selected_acctype %} checked="true" {% endif %} name="acc-type" type="checkbox" value="0" id="vlasnik"></li>
        <li class="px-1 d-flex justify-content-between" style="align-content: center;"><label class="form-check-label ms-2 d-flex justify-content-between w-100" for="pravno_lice">Pravno lice</label><input class="form-check-input border-0" {% if 'pravno_lice' in selected_acctype %} checked="true" {% endif %} name="acc-type" type="checkbox" value="pravno_lice" id="pravno_lice"></li>
      </ul>
    </div>
  </div>
  <div class="col-12 mb-3 d-flex justify-content-center" style="margin-top: 26.65px;">
    <button class="btn btn-blue btn-search shadow d-flex justify-content-center profile-top-icons align-items-center" style="width: 233px;height: 40px;" type="submit"  id="inputGroupFileAddon04">
      Pretraži
      <img class="ms-2" src="{% static 'images/icons/search.svg' %}" style="filter: invert(100%) sepia(3%) saturate(370%) hue-rotate(321deg) brightness(112%) contrast(100%);" alt="O" height="20px" width="20px"/>
    </button>
  </div>
  <input type="text" hidden name="prikaz" value="{{ request.GET.prikaz }}" />
</form>
<script>
   document.addEventListener('DOMContentLoaded', function() {
  let labels = document.querySelectorAll('.dropdown-menu label');
  for (let i = 0; i < labels.length; i++) {
    labels[i].addEventListener('click', function(event) {
      event.stopPropagation(); // prevent dropdown from closing
    });
  }
});
    const btnBuy = document.getElementById('btnBuy');
    const btnRent = document.getElementById('btnRent');
    const searchType = document.getElementById('search_type');
    const toggleBtnClasses = function(value) {
      searchType.value = value;
    }
    btnRent.onclick = function() {
      toggleBtnClasses('1');
    }
    btnBuy.onclick = function() {
      toggleBtnClasses('0');
    }

    btnBuy.addEventListener('click', function() {
      btnRent.classList.remove('bg-primary', 'text-white', 'bg-secondary');
      btnRent.classList.add('text-secondary');
      btnBuy.classList.remove('bg-primary', 'bg-white', 'color-salmon', 'bg-secondary');
      btnBuy.classList.add('bg-primary', 'text-white' );
    });

    btnRent.addEventListener('click', function() {
      btnBuy.classList.remove('bg-primary', 'text-white', 'bg-secondary');
      btnBuy.classList.add('color-salmon')
      btnRent.classList.remove('bg-primary', 'bg-white', 'text-white', 'bg-secondary');
      btnRent.classList.add('bg-secondary', 'text-white');
    });

    const locationElement = document.getElementById('neighbourhoods');
    async function showNeighbourhoods() {
      const city = document.getElementById('location').value;
      locationElement.innerHTML = ''
      
      const response = await fetch(`/oglasi/get-areas-distinct?city=${city}`);
      const { areas } = await response.json();

      locationElement.innerHTML = `
        ${areas.map((el) => `
          <option value="${el.area}" >${el.area_distinct}</option>
        `).join('')}
      `;
    }

    function addPeriods() {
    let input = event.target;
    let value = input.value;
    // Remove all non-digit characters
    value = value.replace(/\D/g, '');
    // Add periods every three digits
    value = value.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
    input.value = value;
  }
</script>